<article class="page__article sc bg-gradient">
  <div class="container">
    <span class="position-top">
      {% include "partials/_follow.html" %}
    </span>
    <div class="container-inner">
      <h1 class="sc__heading sc__heading--pb20">THE KYIV INTERNATIONAL ECONOMIC FORUM</h1>
      <ul class="inline-list sc__top-links">
        <li class="inline-list__item">
          <a href="news-kief.html" class="inline-list__link">News</a>
        </li>
        <li class="inline-list__item">
          <a href="press-release-kief.html" class="inline-list__link">Press-release</a>
        </li>      
        <li class="inline-list__item">
          <a href="photo-kief.html" class="inline-list__link active">Photo</a>
        </li>
        <li class="inline-list__item">
          <a href="video-kief.html" class="inline-list__link">Video</a>
        </li>
      </ul>
      <!--Pattern HTML-->
      <section id="pattern" class="pattern">
     
        <ul class="grid media__grid" style="display: none;">
          <li class="grid__col">
            <article class="news__item post" >
              <div class="news__face">
                <div class="news__background" style="background-image:url('http://s2.ufuture.com/img/unit/open_day/min/7.jpg')"></div>
              </div>
              <div class="news__content">
            <a href="photo-unit.html"  class="read-more">
                <p class="post__text" style="height: 100px;">Open_Day </p>
                More
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </article>
          </li>
          <li class="grid__col">
            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url('http://s2.ufuture.com/img/unit/Mik_Butcher_in_UNIT_City/1.jpg')"></div>
              </div>
              <div class="news__content">
                <a href="photo-unit1.html" class="read-more">
                <p class="post__text" style="height: 100px;">Mik Butcher in UNIT City </p>
                More
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </article>
          </li>
          <li class="grid__col" style="display: none;">
            <div class="rect-block">
              <div class="rect-block__content">
                <a href="img/l_1.jpg" target="_blank" class="read-more">More Photo
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </div>
          </li>
        </ul>

       </section>
<!-- end one -->          
<!-- two     
        <h2 class="media__heading">Lviv-Tech.city</h2>
        <ul class="grid media__grid">
          <li class="grid__col">
            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url('img/l_1.jpg')"></div>
              </div>
              <div class="news__content">

                <p class="post__text" style="height: 100px;">LvivTech.City </p>
                <a href="img/l_1.jpg" target="_blank" class="read-more">Переглянути
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </article>
          </li>
          <li class="grid__col">
            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url('img/l_1.jpg')"></div>
              </div>
              <div class="news__content">

                <p class="post__text" style="height: 100px;">LvivTech.City </p>
                <a href="img/l_1.jpg" target="_blank" class="read-more">Переглянути
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </article>
          </li>
          <li class="grid__col">
            <div class="rect-block">
              <div class="rect-block__content">
                <a href="img/l_1.jpg" target="_blank" class="read-more">More Photo
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </section>
end two --> 
    </div>
  </div>
</article>