.about
  position: relative
  font-size: 20.8px
  line-height: 1.54
  padding-top: 30px
  &__footer
    font-size: 24px
    margin: 40px 0
  &__container
    position: relative
  .u-follow
    position: absolute
    top: 60px
    right: 0px

