.founder
  position: relative
  padding: 0
  z-index: 2
  &__row
    display: flex
    background: $color_news-gray
    +r(1199)
      display: block
  &__name
    margin-bottom: 20px
  &__col-l
    padding-bottom: $section_pad
    padding-right: 15px
  &__col-r
    font-size: 0
    text-align: center
  &__img
    height: 100%
    height: calc(100% + 20px)
    transform: translateY(-20px)    
    +r(1199)
      max-width: 100%
      height: auto
      transform: translateY(0)
  &__footer
    padding-top: 10px
  &__blockquote
    padding-left: 0
    &:before
      display: none
  &__b-1
    padding-left: 5px
    display: none
    +r(1500)
      display: inline
      &-hide
        display: none
    +r(1199)
      display: none
      &-hide
        display: inline
  &__b-2
    padding-left: 5px
    display: none
    +r(1650)
      display: inline
      &-hide
        display: none
    +r(1500)
      display: none
    +r(1199)
      &-hide
        display: inline