.welcome
	position: relative
	height: calc(100vh - 100px) // minus header height
	min-height: 500px
	+r(1199)
		height: calc(100vh - #{$header_mobile_h+'px'}) // minus header height

	&__container
		height: 90%
		padding-top: 15px

	&__video
		position: relative
		height: 100%
		overflow: hidden

	&__placeholder
		height: 100%
		background: #b1b1b1

#bgvid
	position: absolute
	top: 50%
	left: 50%
	min-width: 100%
	min-height: 100%
	width: 1000px
	z-index: -100
	transform: translateX(-50%) translateY(-50%)
	background: url('../img/u-boat-img.jpg') no-repeat
	background-size: cover
	transition: 1s opacity