<article class="page__article sc bg-gradient bg-gradient--h300">
  <div class="container">
    <div class="container-inner">
      <h1 class="sc__heading">Про нас</h1>
      <img class="img-responsive b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/about-cover-min.jpg"
        alt="Khmelnytsky">
      <div class="page__content">
        <h2 class="h3">UFUTURE INVESTMENT GROUP</h2>
        <p>Це конгломерат та інвестиційна компанія, заснована українським підприємцем та філантропом Василем Хмельницьким. UFuture представляє його компанії та проекти в Україні та за кордоном, а також координує їхню діяльність на міжнародній арені.</p>
        <blockquote>«Ми вважаємо, що Україна – перспективний ринок для розвитку, потенціал якого може бути розкрито в партнерстві місцевих та міжнародних гравців. Для нас важливо не лише залучити кошти на розвиток проектів, але й привести в Україну технології, знання, інноваційні управлінські практики та світовий досвід. Це стане поштовхом до розвитку нової економіки в країні» 
          <cite>Василь Хмельницький, засновник UFuture Investment Group</cite>
        </blockquote>
        <p>Місія компанії – розвивати передові та найбільш перспективні галузі в Україні шляхом залучення найкращого світового досвіду, знань, технологій менеджменту та іноземних інвестицій у проекти групи в різних секторах. Акцент буде зроблено на розвиткові високих технологій, в першу чергу, в рамках інноваційних та індустріальних парків, а також на відновлюваній енергетиці, біофармацевтиці та сучасному агропромі.</p>
        <p>До складу групи увійшла провідна українська девелоперська компанія UDP, що спеціалізується на реалізації великих інфраструктурних проектів. Крім того, конгломерат об’єднав бізнеси в інноваційних напрямках, такі як UDP Renewables, індустріальный парк «Біла Церква», інноваційні парки UNIT.City та LvivTech.City. Група відкрита для створення спільних підприємств та залучення нових партнерів.</p>

       <footer class="about__footer">
              <ul class="inline-list">
                <li class="inline-list__item"> <a href="/our-companies.html" class="inline-list__link">Наші компанії</a> </li>
                <li class="inline-list__item"> <a href="/social-projects.html" class="inline-list__link">Соціальні проекти</a> </li>
              </ul>
            </footer>



      </div>
    </div>


  </div>
</article>




<style type="text/css">
      .slider {
             margin: 100px auto;
         
    }
    .slick-slide {
      margin: 0px 0px;
      border: 1px solid #ebebeb;

    }
.slick-slide img:hover  {
     -webkit-filter:none;
              filter: none;

}    .slick-slide img {
      width: 100%;
          -webkit-filter: saturate(0);
              filter: saturate(0);
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }

    section.center.slider.slick-initialized.slick-slider {
    margin-top: 0px;
}
  </style>


  <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
  <script src="https://kfund-media.com/wp-content/uploads/2017/10/slick.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).on('ready', function() {
 
      $(".center").slick({
        dots: true,
    arrows: false,
        infinite: true,
        centerMode: true,
        slidesToShow: 5,
        slidesToScroll: 3,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 1000,
      rows:1,
      dots: false,
  
      });
      
    });
  </script>




 <section id="news" class="sc news" style="background: #f7f7f7">
  <div class="container">
    <div class="container-inner">
      <header class="sc__header">
        <h3 class="h4 sc__heading">Всі компанії</h3>
      </header> 
<!-- slick -->

  <section class="center slider">
    <div>
     <a href="./single-company-udp.html"> <img class="img-responsive" src="img/udp-cover.jpg" alt="udp logo"></a>
    </div>
    <div>
    <a href="">  <img class="img-responsive" src="img/UDPR-cover.jpg" alt="udpr logo"></a>
    </div>
    <div>
     <a href="">  <img class="img-responsive" src="img/biofarma-cover.jpg" alt="Biofarma logo"></a>
    </div>
    <div>
    <a href="">  <img class="img-responsive" src="img/airport-cover.jpg" alt="airoport kiev logo"></a>
    </div>
    <div>
    <a href=""> <img class="img-responsive" src="img/ipbt-cover.jpg" alt="BILA TSERKVA INDUSTRIAL PARK logo"></a>
    </div>
    <div>
    <a href="">   <img class="img-responsive" src="img/unit-cover.jpg" alt="unit logo"></a>
    </div>
    <div>
    <a href=""> <img class="img-responsive" src="img/lvivtech-cover.jpg" alt="lvivtech logo"></a></a>
    </div>
    <div>
    <a href="">  <img class="img-responsive" src="img/rtm-cover.jpg" alt="rtm logo"></a>
    </div>

  </section>
    


    </div>
  </div>
</section>


