<article class="page__article sc bg-gradient bg-gradient--h380">
  <div class="container">
    <span class="position-top">{% include "partials/_follow.html" %}</span>
    <div class="container-inner">
      <h1 class="sc__heading">About Us</h1>
      <div class="img-box">
      <img class="img-responsive b-lazy" ="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="http://s2.ufuture.com/img/about-cover-min.jpg"
        alt="Khmelnytsky">
      </div>
      <div class="page__content">
        <h2 class="h3">UFUTURE INVESTMENT GROUP</h2>
        <p>
          UFuture is a conglomerate and investment company founded by the Ukrainian entrepreneur and philanthropist Vasyl Khmelnytsky.
          UFuture represents his businesses and projects worldwide, coordinating the group's international activities.
        </p>
        <blockquote>"We believe that Ukraine is a promising market for business development, its potential can be unlocked through partnership
          between local and international players. It is important for us not only to attract investment for the projects,
          but also to bring technologies, knowledge, innovative management practices and international experience to Ukraine.
          It will become an impulse to foster a brand new economy in the country"
          <cite>Vasyl Khmelnytsky, Founder UFuture Investment Group </cite>
        </blockquote>
        <p>The mission of the new company is to develop the most advanced and lucrative industries in Ukraine by attracting
          best world practices, know-how, management skills and foreign investment into the group's projects across various
          sectors. The group will focus on development of high technology fields, primarily through its innovation and industrial
          parks, also on renewable energy, biopharmaceutics and advanced agriculture.</p>
        <p>The group incorporates the leading Ukrainian real estate development company UDP, specialized in large-scale infrastructure
          projects. Additionally, the conglomerate includes new and innovative businesses, such as UDP Renewables, Bila Tserkva
          Industrial Park, innovation parks UNIT.City and LvivTech.City. The group is open to forming joint ventures and
          engaging new business partners.</p>

        <footer class="about__footer">
          <ul class="inline-list">
            <li class="inline-list__item">
              <a href="our-companies.html" class="inline-list__link">OUR COMPANIES</a>
            </li>
            <li class="inline-list__item">
              <a href="social-projects.html" class="inline-list__link">SOCIAL INVESTMENT</a>
            </li>
          </ul>
        </footer>
      </div>
    </div>
  </div>
</article>
