.icon-logo
	width: 170px
	height: 74px
	+r(1700)
		width: 175px
		height: 69px
	+r(1199)
		width: 140px
		height: 57px
	+r(991)
		width: 127px
		height: 52px
.icon-logo-small
	fill: $color_secondary
	width: 3.98em
	height: 4em

.scroll-down
	+vcenter_gor_inline
	bottom: 7px

.read-more
	font-size: 20px
	font-family: $font_secondary
	font-weight: 400
	line-height: 1.1
	text-transform: uppercase
	color: $color_t
	text-decoration: none

.no-btn
	+reset_btn
	
#scroll-up
	position: fixed
	right: 5%
	bottom: 50px
	// background: $color_white
	width: 40px
	height: 40px
	transform: translateZ(0) scale(0)
	transition: transform .3s
	z-index: 10
	&.show
		transform: translateZ(0) scale(1)
	+r(767)
		right: 15px
		bottom: 15px
	+rmin(1400)
		right: 8%
		

.arrow-up
	display: inline-block
	width: 15px
	height: 15px
	transform: rotate(-135deg)
	border-left: none
	border-top: none
	border-right: 2px $color_t solid
	border-bottom: 2px $color_t solid
	transform: rotate(-135deg) translate(-20%, -20%)

.sq
	font-size: 0
	&__box
		position: relative
		display: inline-block
		width: 40px
		height: 40px
		border: 2px solid $color_secondary
		transition: background .3s cubic-bezier(.19,1,.22,1)
	&:hover &__box
		background: $color_secondary
	&__rotate180
		transform: rotate(180deg)
	&__rotate90
		transform: rotate(90deg)
	&__rotate90m
		transform: rotate(-90deg)
	&__vcenter
		font-size: 0
		+vcenter
	svg
		font-size: 17px
	&:hover svg
		fill: $color_white
	&-group
		.sq .sq__box
			border-left-width: 1px
			border-right-width: 1px
		.sq:first-child .sq__box
			border-left-width: 2px
		.sq:last-child .sq__box
			border-right-width: 2px

.search-bar
	position: absolute
	width: 100%
	top: 0
	left: 0
.search-form
	&__input
		padding: 15px 0 8px
		color: #525252
		font-size: 16px

.position-top
	#about--follow 
		position: absolute
		right: 0
		top: 60px
		+r(991)
			display: none

.news__content 
    	h3, h4, a.read-more, p
    		color: $color_paragraph
    
.close-icon
	position: relative
	display: inline-block
	width: 35px
	height: 35px
	overflow: hidden
	&:before, &:after
		content: ''
		position: absolute
		width: 100%
		height: 2px
		top: 50%
		left: 0
		margin-top: -1px
		background: $color_t
		transform: rotate(-45deg)
		transition: all .3s
    transition-timing-function: cubic-bezier(0.7,0,0.3,1)
	&:after
		transform: rotate(45deg)