// MAX-WIDTH
// +r(575)
// +r(767)
// +r(991)
// +r(1199)
// +r(1399)

// MIN-WIDTH
// +rmin(576)
// +rmin(768)
// +rmin(992)
// +rmin(1200)
// +rmin(1400)

+font('ufuture-font', affect-webfont)
+font('ufuture-font', affect_light-webfont, 300)
+font('ufuture-font', affect_bold-webfont, 700)

html
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

body
	background: #FFF
	font-family: "Open Sans",sans-serif
	font-weight: 300
	font-size: 16px
	line-height: 1.4
	color: $color_t
	+rmin(1400)
		font-size: 18px
		line-height: 1.76

p
	margin-bottom: 15px
	+rmin(1400)
		margin-bottom: 25px

blockquote, .blockquote
	position: relative
	font-size: 20px
	font-weight: 400
	line-height: 1.55
	border-left: 3px solid $color_secondary
	padding-left: 45px
	margin-bottom: 90px
	.page__content &
		margin-bottom: 100px
	+rmin(1400)
		font-size: 20px
		margin-bottom: 80px
cite
	position: absolute
	bottom: -60px
	right: 0
	display: block
	text-align: right
	font-size: 14px
	font-style: normal
	font-weight: 300
	+rmin(1400)
		font-size: 16px


h1, .h1
	font-family: $font_secondary
	font-weight: 700
	text-transform: uppercase
	font-size: 40px
	line-height: 1.2
h2, .h2
	font-family: $font_secondary
	font-weight: 700
	text-transform: uppercase
	font-size: 38px
	line-height: 1.2
h3, .h3
	font-family: $font_secondary
	font-weight: 700
	text-transform: uppercase
	font-size: 30px
	line-height: 1.2

.img-responsive
	max-width: 100%
	height: auto
	border: none

.b-lazy
	opacity: 0.2
	transition: opacity 500ms

.b-loaded
	opacity: 1

.link
	font-size: 18px
	line-height: 1.2
	text-decoration: none
	color: $color_secondary

.i-prop
	font-style: normal
	font-weight: normal

.out
	opacity: 0
	transition: opacity .8s linear
	transition-delay: .6s
	.fadein &
		opacity: 1

.special
	.page__content > *
		margin-left: 16.66667%
		margin-right: 16.66667%
	.page__content blockquote
		margin-left: 0
		margin-right: 0
	.page__content .full-img
		margin-left: 0
		margin-right: 0
	.page__content .full-video
		margin-left: 0
		margin-right: 0
	.page__article
		padding: 20px 0

.page__content
	padding-top: 30px
	h1,h2,h3,h4,h5,h6
		margin-bottom: 15px

.margin-plus-450
	width: 100%