// MAX-WIDTH
// +r(575)
// +r(767)
// +r(991)
// +r(1199)

// MIN-WIDTH
// +rmin(576)
// +rmin(768)
// +rmin(992)
// +rmin(1200)
// +rmin(1400)

+font('affect', affect-webfont)
+font('affect', affect_light-webfont, 300)
+font('affect', affect_bold-webfont, 700)

html
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

body
	background: #FFF
	font-family: "Open Sans",sans-serif
	font-weight: 300
	font-size: 17px
	line-height: 1.4
	color: $color_t
	+rmin(1400)
		font-size: 18px
		line-height: 1.76

p
	margin-bottom: 15px
	+rmin(1400)
		margin-bottom: 25px


h1
	font-family: $font_secondary
	font-weight: 700
	text-transform: uppercase
	font-size: 40px
	line-height: 1.2
h2
	font-family: $font_secondary
	font-weight: 700
	text-transform: uppercase
	font-size: 38px
	line-height: 1.2
h3
	font-family: $font_secondary
	font-weight: 700
	text-transform: uppercase
	font-size: 30px
	line-height: 1.2

.img-responsive
	max-width: 100%
	height: auto
	border: none

.link
	font-size: 18px
	line-height: 1.2
	text-decoration: none
	color: $color_secondary

.modal-container
	max-width: 1920px
	margin: 0 5%

.i-prop
	font-style: normal
	font-weight: normal