.sc
  padding: $section_pad 0
  &__heading
    position: relative
    padding: $heading_pad 0
    line-height: 1
    &:before
      content: ''
      position: absolute
      width: 3px
      height: 0.84em
      background: $color_secondary
      display: inline-block
      vertical-align: middle
      left: -44px
      top: 50%
      transform: translateY(-50%)
      margin-top: .1em
      +r(767)
        left: -24px
    &--bwhite:before
      background: #ffffff
  &.bg-gradient
    position: relative
    background: $color_gray
    &:before
      content: ''
      background: $color_white
      position: absolute
      top: 0
      width: 100%
      height: 450px
      z-index: -1
    &--h300:before
      height: 300px