.sc
  padding: $section_pad 0
  &__heading
    position: relative
    padding: $heading_pad 0
    line-height: 1
    &:before
      content: ''
      position: relative
      width: 3px
      height: 0.84em
      background: $color_secondary
      display: inline-block
      vertical-align: middle
      margin-right: 40px
      margin-left: -44px
      margin-top:  -10px
    &--bwhite:before
      background: #ffffff