<article class="page__article sc bg-gradient">
  <div class="container">
    <span class="position-top">
      {% include "partials/_follow.html" %}
    </span>
    <div class="container-inner">
     <header>
        <h1 class="sc__heading sc__heading--pb20">Photo </h1>
        <ul class="inline-list sc__top-links">
          <li class="inline-list__item">
            <a href="article.html" class="inline-list__link ">ARTICLE </a>
          </li>
          <li class="inline-list__item">
            <a href="founder-press-release.html" class="inline-list__link  ">Press-release</a>
          </li>
          <li class="inline-list__item">
            <a href="founder-photo.html" class="inline-list__link active">Photo</a>
          </li>
          <li class="inline-list__item">
            <a href="founder-video.html" class="inline-list__link">Video</a>
          </li>
        </ul>
      </header>
      <!--Pattern HTML-->
      <section id="pattern" class="pattern">
      
        <h2 class="media__heading h3">VASYL KHMELNYTSKY</h2>


                <!-- photo -->
<section id="pattern" class="pattern">
          <ul class="grid">

              <li class="grid__col">
                <a href="img/temp/founder/Khmelnytsky_1.jpg" target="_blank" class="read-more"> 
                   <img class="img-responsive" src="img/temp/founder/Khmelnytsky_1.jpg" alt="udpr logo">
              </a>
             </li>

             <li class="grid__col">
                <a href="img/temp/founder/Khmelnytsky_2.jpg" target="_blank" class="read-more"> 
                   <img class="img-responsive" src="img/temp/founder/Khmelnytsky_2.jpg" alt="udpr logo">
              </a>
             </li>

             <li class="grid__col">
                <a href="img/temp/founder/Khmelnytsky_3.jpg" target="_blank" class="read-more"> 
                   <img class="img-responsive" src="img/temp/founder/Khmelnytsky_3.jpg" alt="udpr logo">
              </a>
             </li>

             <li class="grid__col">
                <a href="img/temp/founder/Khmelnytsky_4.jpg" target="_blank" class="read-more"> 
                   <img class="img-responsive" src="img/temp/founder/Khmelnytsky_4.jpg" alt="udpr logo">
              </a>
             </li>

             <li class="grid__col">
                <a href="img/temp/founder/Khmelnytsky_5.jpg" target="_blank" class="read-more"> 
                   <img class="img-responsive" src="img/temp/founder/Khmelnytsky_5.jpg" alt="udpr logo">
              </a>
             </li>



          </ul>
        </section>
                <!-- photo -->
 
           <!-- 
          </li>
          <li class="grid__col">
            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url('img/temp/press-release/lviv2.jpg')"></div>
              </div>
              <div class="news__content">

                <p class="post__text" style="height: 100px;">LvivTech.City </p>
                <a href="img/l_1.jpg" target="_blank" class="read-more">More
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </article>
          </li>
          <li class="grid__col">
            <div class="rect-block">
              <div class="rect-block__content">
                <a href="img/l_1.jpg" target="_blank" class="read-more">More Photo
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </div>
          </li>
        </ul>
-->


       
<!-- end one -->          
<!-- two     
        <h2 class="media__heading">Lviv-Tech.city</h2>
        <ul class="grid media__grid">
          <li class="grid__col">
            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url('img/l_1.jpg')"></div>
              </div>
              <div class="news__content">

                <p class="post__text" style="height: 100px;">LvivTech.City </p>
                <a href="img/l_1.jpg" target="_blank" class="read-more">Переглянути
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </article>
          </li>
          <li class="grid__col">
            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url('img/l_1.jpg')"></div>
              </div>
              <div class="news__content">

                <p class="post__text" style="height: 100px;">LvivTech.City </p>
                <a href="img/l_1.jpg" target="_blank" class="read-more">Переглянути
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </article>
          </li>
          <li class="grid__col">
            <div class="rect-block">
              <div class="rect-block__content">
                <a href="img/l_1.jpg" target="_blank" class="read-more">More Photo
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </section>
end two --> 
    </div>
  </div>
</article>