<article class="page__article sc">
<section class="margin-minus-450">
  <div class="container margin-plus-450">
  
    <div class="container-inner">
      <h1 class="sc__heading">наші компанії</h1>
        <p class="about__t">Ми є є однією з провідних інвестиційних груп в Україні. Значний та диверсифікований портфель  об’єктів нерухомості та інфраструктурних проектів  є міцним фундаментом нашого бізнесу. Сьогодні ми розвиваємо галузі майбутнього, інвестуючи у відновлювальну енергетику, електромобілі, біо- та агротехнології, освіту й IT.</p>

        

<!--Pattern HTML-->
  <section id="pattern" class="pattern">
    <ul class="grid">
      <li>
        <div>
          <a href="#">1</a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">2</a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">3</a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">4</a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">5</a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">6</a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">7</a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">8</a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">9</a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">10</a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">11</a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">12</a>
        </div>
      </li>
    </ul>
  </section>
  

    </div>
    </div>
</section>
</article>






