---
cattitle: Photo
title: LvivTech.City
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-company-media.html"%} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/lvivtech-cover.jpg" alt="lvivtech logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">Інноваційний парк LvivTech.City</h1>
          </header>
          <ul class="grid grid--photo">
            <li class="grid__col">
              <article class="news__item post">
                <div class="news__face">
                  <div class="news__background" style="background-image:url('img/l_1.jpg')"></div>
                </div>
                <div class="news__content">

                  <p class="post__text" style="height: 100px;">LvivTech.City </p>
                  <a href="img/l_1.jpg" target="_blank" class="read-more">Переглянути
                    <div class="loading-dot-button ">
                      <div class="loading-dot"></div>
                      <div class="loading-dot"></div>
                      <div class="loading-dot"></div>
                    </div>
                    <span class="angle-white angle--right"></span>
                  </a>
                </div>
              </article>
            </li>
            <li class="grid__col">
              <article class="news__item post">
                <div class="news__face">
                  <div class="news__background" style="background-image:url('img/l_1.jpg')"></div>
                </div>
                <div class="news__content">

                  <p class="post__text" style="height: 100px;">LvivTech.City </p>
                  <a href="img/l_1.jpg" target="_blank" class="read-more">Переглянути
                    <div class="loading-dot-button ">
                      <div class="loading-dot"></div>
                      <div class="loading-dot"></div>
                      <div class="loading-dot"></div>
                    </div>
                    <span class="angle-white angle--right"></span>
                  </a>
                </div>
              </article>
            </li>
            <li class="grid__col">
              <article class="news__item post">
                <div class="news__face">
                  <div class="news__background" style="background-image:url('img/l_1.jpg')"></div>
                </div>
                <div class="news__content">

                  <p class="post__text" style="height: 100px;">LvivTech.City </p>
                  <a href="img/l_1.jpg" target="_blank" class="read-more">Переглянути
                    <div class="loading-dot-button ">
                      <div class="loading-dot"></div>
                      <div class="loading-dot"></div>
                      <div class="loading-dot"></div>
                    </div>
                    <span class="angle-white angle--right"></span>
                  </a>
                </div>
              </article>
            </li>
            <li class="grid__col">
              <article class="news__item post">
                <div class="news__face">
                  <div class="news__background" style="background-image:url('img/l_1.jpg')"></div>
                </div>
                <div class="news__content">

                  <p class="post__text" style="height: 100px;">LvivTech.City </p>
                  <a href="img/l_1.jpg" target="_blank" class="read-more">Переглянути
                    <div class="loading-dot-button ">
                      <div class="loading-dot"></div>
                      <div class="loading-dot"></div>
                      <div class="loading-dot"></div>
                    </div>
                    <span class="angle-white angle--right"></span>
                  </a>
                </div>
              </article>
            </li>

          </ul>

        </div>
      </div>
    </div>
  </div>
</article>
{% endblock %}
