---
cattitle: Photo
title: LvivTech.City
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-company-media.html"%} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/lvivtech-cover.jpg" alt="lvivtech logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">Open Day LvivTech.City</h1>
          </header>
                <!-- photo -->

    <div class="demo-gallery">
    <ul id="lightgallery">
            <li data-responsive="http://s2.ufuture.com/img/founder/min/Khmelnytsky_1.jpg" data-src="http://s2.ufuture.com/img/founder/Khmelnytsky_1.jpg"
      data-sub-html="VASYL KHMELNYTSKY<p>Ukrainian entrepreneur, philanthropist.</p>">
        <a href="">
          <img class="img-responsive" src="http://s2.ufuture.com/img/founder/min/Khmelnytsky_1.jpg">
          <div class="demo-gallery-poster">
            <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
          </div>
        </a>
      </li>            <li data-responsive="http://s2.ufuture.com/img/founder/min/Khmelnytsky_2.jpg" data-src="http://s2.ufuture.com/img/founder/Khmelnytsky_2.jpg"
      data-sub-html="VASYL KHMELNYTSKY<p>Ukrainian entrepreneur, philanthropist.</p>">
        <a href="">
          <img class="img-responsive" src="http://s2.ufuture.com/img/founder/min/Khmelnytsky_2.jpg">
          <div class="demo-gallery-poster">
            <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
          </div>
        </a>
      </li>
                  <li data-responsive="http://s2.ufuture.com/img/founder/min/Khmelnytsky_3.jpg" data-src="http://s2.ufuture.com/img/founder/Khmelnytsky_3.jpg"
      data-sub-html="VASYL KHMELNYTSKY<p>Ukrainian entrepreneur, philanthropist.</p>">
        <a href="">
          <img class="img-responsive" src="http://s2.ufuture.com/img/founder/min/Khmelnytsky_3.jpg">
          <div class="demo-gallery-poster">
            <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
          </div>
        </a>
      </li>
            <li data-responsive="http://s2.ufuture.com/img/founder/min/Khmelnytsky_4.jpg" data-src="http://s2.ufuture.com/img/founder/Khmelnytsky_4.jpg"
      data-sub-html="VASYL KHMELNYTSKY<p>Ukrainian entrepreneur, philanthropist.</p>">
        <a href="">
          <img class="img-responsive" src="http://s2.ufuture.com/img/founder/min/Khmelnytsky_4.jpg">
          <div class="demo-gallery-poster">
            <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
          </div>
        </a>
      </li>
                  <li data-responsive="http://s2.ufuture.com/img/founder/min/Khmelnytsky_5.jpg" data-src="http://s2.ufuture.com/img/founder/Khmelnytsky_5.jpg"
      data-sub-html="VASYL KHMELNYTSKY<p>Ukrainian entrepreneur, philanthropist.</p>">
        <a href="">
          <img class="img-responsive" src="http://s2.ufuture.com/img/founder/min/Khmelnytsky_5.jpg">
          <div class="demo-gallery-poster">
            <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
          </div>
        </a>
      </li>
    </ul>
 
  </div>   
<!-- end photo -->

        </div>
      </div>
    </div>
  </div>
</article>
{% endblock %}
<!-- light gallery js -->

<script src='https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js'></script>
<script src='https://cdn.rawgit.com/sachinchoolur/lg-pager.js/master/dist/lg-pager.js'></script>
<script src='https://cdn.rawgit.com/sachinchoolur/lg-autoplay.js/master/dist/lg-autoplay.js'></script>

<script src='https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js'></script>
<script src='https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js'></script>
<script src='https://cdn.rawgit.com/sachinchoolur/lg-hash.js/master/dist/lg-hash.js'></script>
<script src='https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js'></script>
<script src="http://s4.ufuture.com/js/lightgallery/index.js"></script>
<!-- end light gallery js -->