---
title: Lean 
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-investment.html"%}   

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/lean-cover.jpg" alt="Lean Institute Ukraine   logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">Lean Institute Ukraine </h1>
            <a href="http://lean.org.ua/" class="link single-company__link" target="_blank" style="font-size: 24px; font-weight: 500">www.lean.org.ua</a>
          </header>
          <p>Lean Institute Ukraine (LIU) is a project designed to raise the innovativeness and the competitiveness of Ukrainian companies through the implementation of lean methodology. The organization is founded with the support of K.Fund. LIU is a member of Lean Global Network, which is comprised of 21 education and research organizations and dozens of co-learning partners across the globe.</p>
          <p>Lean thinking is about creating the most value for the customer while minimizing all kinds of resources, including time, energy, and effort. A lean approach to work means that all the workers are engaged in daily continuous improvement of the operating processes, identifying and eliminating  waste. This approach turns problems into opportunities for development, helps workers to grow, and aids the organization’s leadership in its market.</p>
          <blockquote>
            <p> «Today, lean has become one of the best world practices to raise the organization’s efficiency, no matter what the sector or the size of the organization is. We believe that deeper understanding and use of lean thinking is a vital, effective strategy to help Ukrainian companies to go through serious transformation, to raise their competitiveness on local and international markets, and thus, to contribute into social and economic development of the country»</p>
            <cite>Serhii Komberianov, President of Lean Institute Ukraine.</cite>
          </blockquote>
          <p>The mission of Lean Institute Ukraine is to help spreading lean thinking and practice in Ukraine through publishing books, organizing summits, leading trainings and workshops and providing access to international expert knowledge.</p>
          <ul class="ul-style">LIU task is to support the Ukrainian business on the way of transformation by:
            <li class="li-style">creating lean community and increasing lean awareness in Ukraine; </li>
            <li class="li-style">developing people and hence growing lean knowledge and expertise; </li>
            <li class="li-style">helping Ukrainian companies to apply best practices and increase their performance in and beyond the European Union  </li>      
          </ul>


        </div>
      </div>
    </div>
  </div>

</article>
{% endblock %}
