---
title: Novopecherska School 
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-investment.html"%}  

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/np-cover.jpg" alt="Novopecherska School  logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">AN EDUCATIONAL INSTITUTION OF A NEW FORMAT NOVOPECHERSKA SCHOOL </h1>
            <a href="https://novoshkola.com.ua/en" class="link single-company__link" target="_blank" style="font-size: 24px; font-weight: 500">www.novoshkola.com.ua</a>
          </header>
          <p>Secondary education institution Novopecherska School is a project of NGO Osvіtorіa that is being implemented with the support of K.Fund. It has combined the traditions of Ukrainian classical education and international innovative technologies. It is an educational institution of a fundamentally new format. It has everything required for pupils from the 1st to 11th grades.</p>
          <p>Novopecherska School’s goal is a happy and successful child. The institution contributes to the development of personal potential and individual talent. We respect the individual in each child and create a comfortable environment for harmonious development ‒ an atmosphere of knowledge and opportunity.</p>
          <p>Our program is synergy between traditions and innovations, created by professional educators, psychologists and coaches. We educate caring and proactive leaders of change, who are visionaries and trendsetters, and thus able to manage large-scale transformations in our country.</p>
          <blockquote>
            <p>“The goal of our school is to ensure that a child leaves it as a personality who possesses skills needed in the 21st century: with the ability to work in a team, focus on results, time management skills, and the ability to apply this knowledge in practice.”</p>
            <cite>Zoya Lytvyn, supervisor of Novopecherska School, head of the NGO Osvіtorіa</cite>
          </blockquote>
          <p>High-quality education at school is the beginning of the path to success. Coherence and consistency in the work of pre-school, elementary, secondary and high schools ensure the formation of intellectual, communication and organizational skills.</p>
          <p>The school’s curriculum was developed with the involvement of Canadian specialists who proposed an educational model for the individual development of each child and the introduction of early vocational guidance.</p>
          <p>Unique infrastructure for comprehensive development has been created on the basis of the school. Modern classrooms, workshops and studios, a swimming pool and numerous sports facilities, places for walking and recreation, the school’s own medical service with modern equipment ‒ all this allows for the creation of a special learning environment, and motivates students to be active, responsive, and open to new knowledge.</p>
          <blockquote >
            <p>“The school system should monitor where the economy is moving and how the world is developing… If we do not take the risk of introducing innovation in education, we will lose the next generation. We hope that by the time our younger students have left the school, the universities will switch to the new standards too. We open up new horizons for students, allowing them to see different ways to acquire knowledge.”</p>
            <cite>Irena Korbabich-Putko, principal of Novopecherska School</cite>
          </blockquote>
          <p>The Novopecherska School project in essence is the formation of an intellectual and creative environment that will raise a new generation of leaders.</p>



        </div>
      </div>
    </div>
  </div>

</article>
{% endblock %}
