---
title: Biofarma
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-company.html"%} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/biofarma-cover.jpg" alt="Biofarma logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">Біофарма</h1>
            <a href="http://www.biofarma.ua/en/" class="link single-company__link" target="_blank">www.biofarma.ua</a>
          </header>
          <p>Біофарма – провідна фармацевтична компанія в галузі розробки й виробництва інноваційних високотехнологічних препаратів
            з донорської крові людини, рекомбінантних препаратів та препаратів на основі спороутворюючих бактерій. Єдиний
            в Україні виробник специфічних імунобіологічних препаратів з донорської крові. Понад 120 років співробітники
            компанії створюють препарати, що рятують життя та поліпшують його якість.</p>
          <p>Основні виробничі потужності компанії розташовано в Білій Церкві Київської області. Новітній науково-виробничий
            комплекс охоплює фармацевтичний завод, лабораторії контролю якості продукції та центр наукових досліджень, розробок
            і технологій. На території комплексу розміщено унікальне для України промислове біотехнологічне виробництво пробіотиків
            повного циклу.</p>
          <p>Завод обладнано сучасним фармацевтичним устаткуванням та комплексними лініями таких провідних світових виробників,
            як Marchesini GROUP S.p.A, Stilmas S.p.A., Criofarma s.a.s (Італія), GEA Group (Німеччина), BMT Group Ltd (Велика
            Британія) та інших. На виробництві діє система управління якістю, яка містить у собі вісім міжнародних і національних
            стандартів: ISO 9001, ISO 14 001, ISO 22 000, ISO 13 485, ICH Q 8, ICH Q 9, ICH Q 10, GMP.</p>
          <p>Всі виробничі ділянки сертифіковано на відповідність вимогам європейської та національної настанов з належної виробничої
            практики для фармацевтичних підприємств – GMP (Good Manufacturing Practice).</p>
          <div class="single__video">
            <iframe width="100%" height="315" src="http://www.youtube.com/embed/cjDUtB1qU4Q" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>Підприємство випускає понад 130 найменувань препаратів в 11 фармакологічних групах. Портфель препаратів Біофарма,
            зареєстрованих за кордоном, налічує 60 найменувань. На стадії розробки перебуває близько 30 нових лікарських
            засобів: препарати для лікування захворювань опорно-рухового апарату, протизапальні препарати, препарати для
            застосування в дерматології та моноклональні антитіла.
          </p>
          <p>У 2015 році Біофарма спільно з Інститутом імунології й алергології НМУ ім. Богомольця відкрила першу міждисциплінарну
            школу клінічної імунології. Лікарі-ревматологи, пульмонологи, онкологи, інфекціоністи та лікарі загальної практики
            мають можливість отримати знання про новітні клінічні дані у світлі міжнародних рекомендацій, методи диференціальної
            діагностики, терапевтичні тактики з позиції доказової медицини.</p>
          <p>Компанія відкрита до партнерства, спрямованого на створення нових можливостей для виробництва, наукових досліджень
            та міждисциплінарного навчання.</p>
          <div class="news__blocks u-gallery">
            <div class="news__col news__odd">
              <article class="news__item post">
                <div class="news__face">
                  <div class="news__background" style="background-image:url('img/news_001.jpg')"></div>
                </div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March
                    25 in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
              <article class="news__item post">
                <div class="news__face">
                  <div class="news__background" style="background-image:url(img/news_002.jpg)"></div>
                </div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March
                    25 in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
            </div>
            <div class="news__col news__even">
              <article class="news__item post">
                <div class="news__face">
                  <div class="news__background" style="background-image:url(img/news_003.jpg)"></div>
                </div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March
                    25 in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
              <article class="news__item post">
                <div class="news__face">
                  <div class="news__background" style="background-image:url(img/news_004.jpg)"></div>
                </div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March
                    25 in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
            </div>
          </div>

          <footer class="company-single__footer">
            <a class="link" href="#">Download > Company profile</a>
            <div class="single-company__address" style="display:none;">
              13-15 Bolsunovska Street IQ Business Centre, 01014 Kyiv, Ukraine Tel/Fax: +38 044 364 38 28 Email: info@ufuture.com
            </div>
          </footer>

        </div>
      </div>
    </div>
  </div>
</article>
{% endblock %}
