---
title: Ip-Bt
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-company.html"%} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/ipbt-cover.jpg" alt="BILA TSERKVA INDUSTRIAL PARK logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">Industrial Park "Bila Tserkva"</h1>
            <a href="http://ip-bt.com/" class="link single-company__link" target="_blank" style="font-size: 22px; font-weight: 500;">www.ip-bt.com</a>
          </header>
         <p>Industrial Park "Bila Tserkva" is a large-scale investment project aimed at creating modern industrial manufacturing facilities in Ukraine. It is a single platform that allows entrepreneurs to access all necessary services and focus on development of their companies.</p>
         <p>The park offers industrial land and property with all engineering infrastructure for rent or purchase, turn-key solutions as well as a possibility of joint investment in manufacturing projects. Local market insight and substantial experience in real estate development allows the park’s team to provide clients with additional consulting services for setting up an efficient production.</p>

          <div class="single__video">
                      <iframe width="100%" height="415" src="https://www.youtube.com/embed/-8q5GpgRleU" frameborder="0" allowfullscreen></iframe>
          </div>
         <p>The industrial park is located in the city of Bila Tserkva in Kyiv region, 80 km from the capital of Ukraine. The proximity to Kyiv, as well as the availability of an airfield, two railway stations and an international highway provide convenient logistics solutions and easy access to the largest markets of the country. The town of Bila Tserkva has affordable and skilled labor resources: a significant share of the local population has certain degree in industrial education and relevant work experience. Some 30,000 inhabitants of Bila Tserkva work in the neighboring cities and are eager to be employed in their hometown provided appropriate conditions.</p>
         <p>In the world of integrated supply chains and rapid development of new products, Ukraine becomes a production and trade center on the crossroad of the EU, the Middle East and Asia. The country is conveniently located in Central Europe and has a significant resource base, low production costs, developed infrastructure, and competitive tax rates. Ukraine implements an ambitious program of deregulation simultaneously increasing transparency via means like e-documents management and electronic public procurement, which help private sector and general public monitor key governance and election processes. </p>
         <p>Industrial Park "Bila Tserkva" is the best solution to establish profitable and secure business model for manufacturing.</p>
   </div>
      </div>
    </div>
  </div>







<!-- photo and link -->
<div class="container">
            <img src="img/info/Industrial_park_infographic_eng_01.jpg" alt="airport info" width="100%">
            <img src="img/info/Industrial_park_infographic_eng_02.jpg" alt="airport info" width="100%">
            <img src="img/info/Industrial_park_infographic_eng_03.jpg" alt="airport info" width="100%">
     
 
   


           <div class="container-inner" style="display: none;">
                     <footer class="about__footer" style="border-top: 1px solid rgba(0,0,0,0.1); padding-top: 20px;">
                        <ul class="inline-list">
                          <li class="inline-list__item"> <a href="news.html" class="inline-list__link">News</a> </li>
                          <li class="inline-list__item" style="display: none;"> <a href="#" class="inline-list__link">PRESS-RELEASES</a> </li>
                          <li class="inline-list__item" style="display: none;"> <a href="#" class="inline-list__link">Photo</a> </li>
                          <li class="inline-list__item" style="display: none;"> <a href="#" class="inline-list__link">Video</a> </li>
                          
                        </ul>
                    </footer>
              </div>
</div>
<!-- end photo and link -->
           




</article>
{% endblock %}