---
title: iLearn 
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-investment.html"%} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/ilear-cover.jpg" alt="iLearn  logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">The nationwide open online platform</h1>
            <a href="http://ilearn.org.ua/" class="link single-company__link" target="_blank" style="font-size: 24px; font-weight: 500">www.ilearn.org.ua</a>
          </header>
          <p>iLearn is a nationwide educational social project of the Osvitoria Social Organization and Kyiv National Economic University’s Enactus team, which was created with the support of K.Fund.</p>
          <p>The purpose of the open online platform is to help talented students from boarding schools, orphanages, and children from poor families to receive academic knowledge to ensure that they successfully pass Standardized External Testing (SET). That, in turn, will let them enter the university and study free of charge.</p>
          <ul>iLearn courses meet the SET curriculum and include video lectures, tests, self-study materials and webinars with teachers in the following subjects:
            <li>Ukrainian language;</li>
            <li>English; </li>
            <li>Math; </li>
            <li>Ukrainian History. </li>      
          </ul>
          <p>Teachers from Kyiv National Economic University named after Vadym Hetman and Novopecherska School are involved in the preparation of training materials.</p>
          <blockquote>
            <p>“There are a lot of talented and motivated children among students at boarding schools and orphanages, but they do not have sufficient opportunity to receive high-quality training and enter higher educational institutions. We are giving them this opportunity.”</p>
            <cite>Zoya Lytvyn, head of Osvitoria Social Organization</cite>
          </blockquote>
          <p>The pilot launch of the iLearn education program took place at a special boarding school in the town of Horodnia in 2012. For several months, teachers from Kyiv National Economic University held Math webinars for future graduates of this school. As a result, the majority of the students received high scores in mathematics and applied to receive government-financed education at the most prestigious universities.</p>
          <p>The pilot project resulted in the creation of an online platform for SET preparations, which can be used by any school leaver from any part of Ukraine.</p>
          <ul>iLearn achievements:
            <li>More than 1,000 students from across the country took advantage of the online platform; </li>
            <li>Most students who regularly worked on the website and completed a training course have successfully passed tests and entered the university they wanted to attend for free; </li>
            <li>The project gained recognition from international experts on education at the Enactus World Cup 2014 contest of social projects;</li>
            <li>iLearn has joined the UN’s educational initiatives. </li>

          
         
          
          
          </ul>


        </div>
      </div>
    </div>
  </div>

</article>
{% endblock %}
