---
title: K.FUND BOOKS
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-investment.html"%}  

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/kfund-books-cover.jpg" alt="K.fund books logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">UKRAINIAN PUBLISHING PROJECT K.FUND BOOKS</h1>
            <a href="http://kfund.ua/en/k-fund-books-eng/" class="link single-company__link" target="_blank" style="font-size: 24px; font-weight: 500">www.kfund.ua</a>
          </header>
          <p>K.Fund introduces a model of continuous education for the future of Ukraine, and assigns a specific role to books. Books are a source of knowledge which opens up new opportunities for all of us.</p>

          <p>K.Fund selects for publication those books that offer effective ways of innovation, raising the efficiency of work and management, business or personal development. The ideas that the authors express are tested in practice and suitable for implementation in Ukraine in the next ten to twenty years. We prefer scientifically proven approaches and serious research,which create added value for the reader, raise a person, company or even a country to a new level.</p>

          <p>K.Fund publishes books in the Ukrainian language in three main areas — education, economics, and entrepreneurship.</p>

          <blockquote >
            <p>“If you’ve read a book, and 2% of its content has made you think greatly ‒ it’s already a victory. And if you’ve begun implementing at least 1% of what you’ve read ‒ it’s a great victory.”</p>
            <cite>Vasyl Khmelnytsky, Father magazine, 2014</cite>
          </blockquote>

          <ul> Every K.Fund book is: 
            <li>one of the world’s leaders in its segment;</li>
            <li>a Ukrainian-language publication;</li>
            <li>unique in its content and practical functionality;</li>
            <li>a step towards the future.</li>
          </ul>
                  
        </div>
      </div>
    </div>
  </div>

</article>
{% endblock %}
