---
title: Ip-Bt
scroll: true 
pageClass: single-company
---
{% extends "layouts/_single-company.html" %} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3">
          <img class="img-responsive" src="img/ipbt-cover.jpg" alt="BILA TSERKVA INDUSTRIAL PARK logo">
        </div>
        <div class="col-2-3">
          <header class="single-company__header">
            <h1 class="single__heading">Індустріальний парк «Біла Церква»</h1>
            <a href="http://ip-bt.com/" class="link single-company__link" target="_blank">www.ip-bt.com/</a>
          </header>
          <p>Індустріальний парк «Біла Церква» – великий інвестиційний проект, мета якого – розвиток сучасного промислового виробництва в Україні. Це єдина платформа, що дозволяє підприємцям отримати всі необхідні сервіси та зосередитись на розвитку компанії.</p>
          <p>Парк пропонує землі промислового призначення зі всією інженерною інфраструктурою для оренди або купівлі, рішення під ключ, а також можливість спільних інвестицій у промислові проекти. Знання місцевої специфіки та значний досвід у девелопменті нерухомості дозволяє команді індустріального парку надати клієнту додаткові консультаційні послуги для організації ефективного виробництва.</p>
          <p>Індустріальний парк розташований у місті Білій Церкві Київської області, у 80 км від столиці України. Близькість до Києва, а також наявність аеродрому, двох залізничних станцій та міжнародної автомагістралі створює зручну логістику та дозволяє легко отримати доступ до найбільших ринків країни. Біла Церква володіє недорогими та кваліфікованими трудовими ресурсами: значна частина населення має освіту в області промисловості й відповідний досвід роботи. 30 000 мешканців Білої Церкви працює в сусідніх містах і надали б перевагу роботі в Білій Церкві за належної оплати праці.</p>
          <div class="single__video">
              <iframe width="100%" height="315" src="http://www.youtube.com/embed/cjDUtB1qU4Q" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>У світі тісних ланцюжків поставок та швидкої розробки нових продуктів України може стати виробничим і торговельним центром на межі ЄС, Близького Сходу та Азії. Країна зручно розташована в Центральній Європі та має значну сировинну базу, низьку собівартість виробництва, розвинену інфраструктуру, а також конкурентні податкові ставки. В Україні впроваджується амбіційна програма дерегуляції, підвищується прозорість, вводиться електронний документообіг. Конкурси на заміщення державних посад та електронні державні тендери провадяться за активної участі громадськості.</p>
          <p>Індустріальний парк «Біла Церква» – це оптимальне рішення для організації рентабельної та захищеної бізнес-моделі для виробників.</p>
          <div class="news__blocks u-gallery">
            <div class="news__col news__odd">
              <article class="news__item post">
                <div class="news__background" style="background-image:url('img/news_001.jpg')"></div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                    in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
              <article class="news__item post">
                <div class="news__background" style="background-image:url(img/news_002.jpg)"></div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                    in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
            </div>
            <div class="news__col news__even">
              <article class="news__item post">
                <div class="news__background" style="background-image:url(img/news_003.jpg)"></div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                    in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
              <article class="news__item post">
                <div class="news__background" style="background-image:url(img/news_004.jpg)"></div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                    in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
            </div>
          </div>

          <footer class="company-single__footer">
            <a class="link" href="#">Download > Company profile</a>
            <div class="single-company__address" style="display:none;">
                13-15 Bolsunovska Street
                IQ Business Centre, 01014 Kyiv, Ukraine
                Tel/Fax: +38 044 364 38 28
                Email: info@ufuture.com 
            </div>
          </footer>

        </div>
      </div>
    </div>
  </div>
</article>
{% endblock %}
