---
title: UNIT FACTORY
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-investment.html"%}  

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/unit-factory-cover.jpg" alt="unit factory logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">THE UNIQUE EDUCATIONAL IT-FACTORY UNIT FACTORY</h1>
            <a href="https://unit.ua/" class="link single-company__link" target="_blank" style="font-size: 24px; font-weight: 500">www.unit.ua</a>
          </header>
          <p>UNIT Factory (Ukrainian National IT Factory) is a joint project of the K.Fund, founded by Vasyl Khmelnytsky, and French school 42. The project is also supported by Osvіtorіa Social Organization. The mission of the project is promotion of innovative development of Ukraine. Its task is to prepare IT professionals.</p>
          <p>UNIT Factory is the only private educational institution in Ukraine, which operates according to the standards of the French innovative school 42. Learning here is based on a unique educational system, and is free on condition that students work in Ukraine for three years after graduation.</p>
          <p>There are no traditional teachers, copy-books, lectures or courses. No way to wangle here. Selection does not take into account academic criteria (diplomas, External independent testing, school marks). Everything depends on students’ work and dedication. IT factory works 24/7. Here, they teach to code, to work in a team and to find innovative solutions.</p>
          <div class="single__video">
            <iframe width="100%" height="415" src="http://www.youtube.com/embed/Vl0FAkQttRI" frameborder="0" allowfullscreen></iframe>
          </div>
          <blockquote >
            <p>“UNIT Factory defies the traditional education system. Businesses do not need graduation certificates of a prestigious university, they require professionals who can successfully implement projects. Our graduates will have the knowledge, skills and experience that will help them find well-paid jobs in leading Ukrainian and foreign companies”</p>
            <cite> Vasyl Khmelnytsky, K.Fund founder</cite>
          </blockquote>
          <p>UNIT Factory uses an innovative Peer-to-Peer (P2P) training method, well-proven in the French school 42. This method allows students to reveal their creativity while working on specific projects. The training program is based on gamification, i.e. the approaches, typical for computer games. Students will also be able to develop skills of self-education and continuous professional development, which are essential for IT professionals.</p>
          <p>Principles of student selection can help effectively identify gifted people: student’s abilities and motivation only would be taken into account, the level of existing programming skills will not matter. According to school 42 standards, young people between 18 and 30 who have passed the entrance test could become its students.</p>
          <p>Online registration for candidates started in April, 2016. Based on the results of online testing, up to 900 students participated in the one-month probationary training at UNIT Factory. The best students (about 300)  enrolled for full-fledged training, which started in November, 2016. The full training course can last to three years.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- photo and link -->
  <div class="container">

    <div class="container-inner" >
                  <footer class="about__footer" style="border-top: 1px solid rgba(0,0,0,0.1); padding-top: 20px;">
          <ul class="inline-list">
            <li class="inline-list__item">
              <a href="media.html" class="inline-list__link three-lvl">News</a>
            </li>
            <li class="inline-list__item">
              <a href="press-release.html" class="inline-list__link three-lvl">PRESS-RELEASES</a>
            </li>
            <li class="inline-list__item">
              <a href="photo.html" class="inline-list__link three-lvl">Photo</a>
            </li>
            <li class="inline-list__item">
              <a href="video.html" class="inline-list__link three-lvl">Video</a>
            </li>
          </ul>
         
              
        </footer>
    </div>
  </div>
  <!-- end photo and link -->
</article>
{% endblock %}
  