---
title: BILA TSERKVA 2025 
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-investment.html"%} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/b2025-cover.jpg" alt="bila tserkva 2025 logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">“BILA TSERKVA 2025” MODERN MODEL FOR REGIONAL DEVELOPMENT</h1>
            <a href="https://www.bila-tserkva.org.ua/" class="link single-company__link" target="_blank" style="font-size: 24px; font-weight: 500">www.bila-tserkva.org.ua</a>
          </header>
          <p>“Bila Tserkva 2025” is a joint project of the Ukrainian League of Industrialists and Entrepreneurs (ULIE) and the municipality of Bila Tserkva, which is being implemented with the support of K.Fund. The project is aimed at the development of the town’s social and economic potential. The goal of the project is to transform Bila Tserkva into the most attractive area for work and living in Kyiv region by 2025. Should it be a success, the project can become a model of social and economic development that other regions in Ukraine can follow.</p>

          <p>The first step in the implementation of the project was the creation of the Development Strategy for Bila Tserkva until 2025. Local and international non-governmental organizations, representatives of the professional and expert communities took part in the process.</p>

          <p>The strategy is based on four key priorities: development and strengthening of civil society, the promotion of entrepreneurship, the construction of a modern system of good governance, as well as improvement in living standards. To implement the project, an agency for the strategic development of Bila Tserkva was created along with the launch of educational initiatives for training of necessary specialists in the field of urban management and entrepreneurship.</p>

          <p>The ULIE is doing its best to attract international investment in the town’s development. In particular, in June 2016, First Vice-President of the ULIE, the founder of K.Fund Vasyl Khmelnytsky presented a strategy for the development of Bila Tserkva at the European Business Summit – the EU’s largest annual political and business forum.</p>

          <blockquote>
            <p>“Regional development requires not only and not so much investment of capital, but also advanced knowledge and the introduction of innovation. It is important to develop industry and education in Ukrainian regions — this is what will build the foundation for prosperity”</p>
            <cite> Vasyl Khmelnytsky, the founder of K.Fund</cite>
          </blockquote>

          <p>The Bila Tserkva Industrial Park is expected to play a key role in the development of the town. It will serve as the umbrella for projects in the agro-industrial, pharmaceutical and energy saving fields. The creation of the industrial park will promote business development in the region, raise investment, will allow the town to create new jobs and improve its infrastructure.</p>
          
          <ul>The key objectives of the project until 2025 include:
            <li>Up to $250 million in investment;</li>
            <li>7,000 new jobs;</li>
            <li>50% decline in commuting;</li>
            <li>1 million tourists.</li>
          </ul>
         


        </div>
      </div>
    </div>
  </div>

</article>
{% endblock %}
