---
title: PTM Ukraine
scroll: true 
pageClass: single-company
---
{% extends "layouts/_single-company.html" %} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3">
          <img class="img-responsive" src="img/rtm-cover.jpg" alt="rtm logo">
        </div>
        <div class="col-2-3">
          <header class="single-company__header">
            <h1 class="single__heading">РТМ-УКРАЇНА</h1>
            <a href="http://www.rtm.ua/" class="link single-company__link" target="_blank">www.rtm.ua</a>
          </header>
          <p>Група «РТМ-Україна» – національний оператор зовнішньої реклами. Група має власну мережу рекламних носіїв у Києві та ще 26 містах країни. Оператор пропонує створення та розміщення усіх видів реклами в Out-of-Home media, в тому числі outdoor-кампанії, рекламу на залізничному транспорті та в аеропорту «Київ» (Жуляни). Крім того, «РТМ-Україна» виробляє та обслуговує рекламні конструкції.</p>
          <p>«РТМ-Україна» вирішує комунікаційні завдання клієнта інструментами медійного планування (OTS, GRP, Reach, Frequency), спираючись на науковий підхід й аналітичну інформацію. Компанія забезпечує комплексний сервіс у розміщенні реклами – від генерації ідей та їх втілення на рекламних площинах до моніторингу якості експонування та пост-аналізу кампаній. «РТМ-Україна» розробляє макети як для стандартних площин, так і для нестандартної реклами з виносними елементами (екстендерами), архітектурним світлодіодним підсвічуванням та іншими варіантами конструкцій.</p>
          <p>Група «РТМ-Україна» – єдиний національний оператор, що має інвентар і працює у всіх сегментах OOh: Outdoor, Indoor, Transit. Рекламний інвентар оператора обслуговує генеральний підрядник із сервісу – виробнича компанія «Техногруп». Компанія самостійно виробляє сучасний високотехнологічний рекламний інвентар та елементи благоустрою (міські вуличні меблі): зупинки громадського транспорту, декоративні огорожі, колони, лави, афішні тумби, а також монтує унікальну ілюмінацію, завжди створену спеціально для конкретного проекту. Таким чином зовнішня реклама гармонійно інтегрується в міське середовище.</p>
          <div class="single__video">
              <iframe width="100%" height="315" src="http://www.youtube.com/embed/cjDUtB1qU4Q" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>У 2016 році група компаній «РТМ-Україна» відкрила в своєму складі інтернет-агентство «РТМ Діджитал». Інтернет-підрозділ надає своїм клієнтам послуги з розміщення більш ніж на 1000 інтернет-площадок, що на них реклама керується в реальному часі. «РТМ Діджитал» пропонує повний набір інструментів планування та проведення кампаній в інтернеті: індивідуальні і пакетні продажі медійної реклами (банерної і відео), поведінковий таргетинг, нестандартну рекламу.</p>
          <p>Клієнтами «РТМ-Україна» є провідні рекламні холдинги, в тому числі, такі світові лідери як GroupM та Publicis Groupe, лідер зовнішньої реклами в Україні Posterscope Ukraine та інші. Компанія є партнером міжнародного аеропорту «Київ» (Жуляни) та «Укрзалізниці».</p>
          <div class="news__blocks u-gallery">
            <div class="news__col news__odd">
              <article class="news__item post">
                <div class="news__background" style="background-image:url('img/news_001.jpg')"></div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                    in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
              <article class="news__item post">
                <div class="news__background" style="background-image:url(img/news_002.jpg)"></div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                    in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
            </div>
            <div class="news__col news__even">
              <article class="news__item post">
                <div class="news__background" style="background-image:url(img/news_003.jpg)"></div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                    in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
              <article class="news__item post">
                <div class="news__background" style="background-image:url(img/news_004.jpg)"></div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                    in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
            </div>
          </div>

          <footer class="company-single__footer">
            <a class="link" href="#">Download > Company profile</a>
            <div class="single-company__address" style="display:none;">
                13-15 Bolsunovska Street
                IQ Business Centre, 01014 Kyiv, Ukraine
                Tel/Fax: +38 044 364 38 28
                Email: info@ufuture.com 
            </div>
          </footer>

        </div>
      </div>
    </div>
  </div>
</article>
{% endblock %}
