---
title: LvivTech.City
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-company.html"%} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/lvivtech-cover.jpg" alt="lvivtech logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">Інноваційний парк LvivTech.City</h1>
            <a href="http://www.lviv-tech.city" style="font-size: 24px; font-weight: 500" class="link single-company__link" target="_blank">www.lviv-tech.city</a>
          </header>
          <p>LvivTech.City – інноваційний парк у Львові, одному з ключових центрів IT-індустрії в Україні. Мета проекту – надати
            українському IT-сектору нові стимули та можливості, сприяти припливу інвестицій та знань у регіон.</p>
          <p>Львів має високий потенціал розвитку хайтек-галузі. У місті розташована велика кількість вишів, які щороку випускають
            понад 4000 фахівців IT-сфери. У Львові працює більш ніж 200 IT-компаній, а попит на їхні послуги зростає на 20%
            на рік. Загалом в Україні, за даними PwC, більш ніж 400 000 людей працює в області інформаційних технологій та
            суміжних галузях. Країна є лідером Центральної та Східної Європи з IT-аутсорсингу та входить до світової п’ятірки
            за кількістю сертифікованих IT-фахівців.</p>
          <p>Резидентами парку стануть високотехнологічні компанії в сферах IT, енергозбереження, біотехнологій, R&D-центри,
            інкубатори й акселератори, освітні проекти в галузях ІТ-технологій та дизайну й інші. Завдяки роботі команди
            LvivTech.City вони отримають сучасну інфраструктуру й усі необхідні сервіси для розвитку бізнесу.</p>
          <div class="single__video">
            <iframe width="100%" height="415" src="https://www.youtube.com/embed/mo1uYknrFg8" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>LvivTech.City – це єдина екосистема за принципом «Живи – працюй – навчайся – відпочивай». На території колишньої
            промзони буде розташовано понад 40 тис. квадратних метрів офісних приміщень класу А, коворкінгів, лабораторій
            та конференц-центрів. Крім того, проект передбачає створення соціальної інфраструктури європейського рівня –
            житла, навчальних закладів, спортивних майданчиків, зелених зон відпочинку, пішохідних та велодоріжок.</p>
          <p>Всі будівлі інноваційного парку будуть споруджені за стандартами «зеленого» будівництва LEED – добровільної сертифікації,
            що передбачає суттєве зменшення впливу на оточуюче середовище, ефективне використання ресурсів застосування екологічних
            матеріалів та енергоефективність будівель в цілому. Завершення будівництва першої черги LvivTech.City заплановано
            на 4й квартал 2018 року.</p>

          <!-- gallery -->
          <div style="padding-top: 40px" class="news__blocks u-gallery">
            <div class="news__col news__odd">
              <article class="news__item post">
                <div class="news__face">
                  <div class="news__background" style="background-image:url('img/l_1.jpg')"></div>
                </div>
                <div class="news__content">

                  <p class="post__text" style="height: 100px;">LvivTech.City </p>
                  <a href="img/l_1.jpg" target="_blank" class="read-more">Переглянути
                    <div class="loading-dot-button ">
                      <div class="loading-dot"></div>
                      <div class="loading-dot"></div>
                      <div class="loading-dot"></div>
                    </div>
                    <span class="angle-white angle--right"></span>
                  </a>
                </div>
              </article>
              <article class="news__item post">
                <div class="news__face">
                  <div class="news__background" style="background-image:url(img/l_2.jpg)"></div>
                </div>
                <div class="news__content">
                    <p class="post__text" style="height: 100px;">LvivTech.City </p>
                    <a href="img/l_2.jpg" target="_blank" class="read-more">Переглянути
                      <div class="loading-dot-button ">
                        <div class="loading-dot"></div>
                        <div class="loading-dot"></div>
                        <div class="loading-dot"></div>
                      </div>
                      <span class="angle-white angle--right"></span>
                    </a>
                </div>
              </article>
            </div>
            <div class="news__col news__even">
              <article class="news__item post">
                <div class="news__face">
                  <div class="news__background" style="background-image:url(img/l_4.jpg)"></div>
                </div>
                <div class="news__content">

                  <p class="post__text" style="height: 100px;">LvivTech.City </p>
                  <a href="img/l_4.jpg" target="_blank" class="read-more">Переглянути
                    <div class="loading-dot-button ">
                      <div class="loading-dot"></div>
                      <div class="loading-dot"></div>
                      <div class="loading-dot"></div>
                    </div>
                    <span class="angle-white angle--right"></span>
                  </a>
                </div>
              </article>

            </div>
          </div>
          <!-- end gallery -->
          <!-- photo and link -->
          <div class="container">
            <img src="img/lviv-info.jpg" alt="lviv info" width="100%">
            <div class="container-inner">
              <footer class="about__footer" style="border-top: 1px solid rgba(0,0,0,0.1); padding-top: 20px;">
                <ul class="inline-list">
                  <li class="inline-list__item">
                    <a href="/our-companies.html" class="inline-list__link">Новини</a>
                  </li>
                  <li class="inline-list__item">
                    <a href="/social-projects.html" class="inline-list__link">Прес-релізи</a>
                  </li>
                  <li class="inline-list__item">
                    <a href="/social-projects.html" class="inline-list__link">Фото</a>
                  </li>
                  <li class="inline-list__item">
                    <a href="/social-projects.html" class="inline-list__link">Відео</a>
                  </li>
                  <li class="inline-list__item" style="float: right;">
                    <a href="/social-projects.html" class="inline-list__link">Завантажити буклет</a>
                  </li>
                </ul>
              </footer>
            </div>
          </div>
          <!-- end photo and link -->




</article>
{% endblock %}