---
title: UDPR
scroll: true 
pageClass: single-company
---
{% extends "layouts/_single-company.html" %} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3">
          <img class="img-responsive" src="img/UDPR-cover.jpg" alt="udpr logo">
        </div>
        <div class="col-2-3">
          <header class="single-company__header">
            <h1 class="single__heading">UDP Renewables</h1>
            <a href="http://udpr.com.ua/" class="link single-company__link" target="_blank">www.udpr.com.ua</a>
          </header>
         <p>UFuture Investment Group вірить у сучасні технології й нову чисту енергію, яка стає основою економіки майбутнього. Група робить свій внесок у розвиток українського ринку відновлюваної енергетики, інвестуючи в цю галузь, залучаючи найкращий світовий досвід і знання.</p>
         <p>Проекти Василя Хмельницького в галузі зеленої енергетики представляє UDP Renewables. Керуючим партнером компанії є віце-президент Польсько-української господарчої палати Сергій Євтушенко, який має значний досвід у сфері залучення зарубіжних інвестицій та реалізації міжнародних інвестиційних проектів в Україні.</p>
         <p>Портфель проектів UDP Renewables на 2017-2022 роки містить електростанції в Київській, Херсонській, Одеській та Миколаївській областях загальною встановленою потужністю близько 300 МВт. До 2022 року UDP Renewables планує стати одним з найбільших виробників чистої енергії в країні, диверсифікуючи джерела енергії та розміщення своїх об’єктів.</p>
          <div class="single__video">
              <iframe width="100%" height="315" src="http://www.youtube.com/embed/cjDUtB1qU4Q" frameborder="0" allowfullscreen></iframe>
          </div>
         <p>Зелена енергетика – одна з найбільш інноваційних, перспективних та динамічних галузей як в Україні, так і в світі. Річний технічно досяжний потенціал нашої країни в цій галузі оцінюється в 64 млн тонн нафтового еквіваленту. Держава забезпечила ефективну підтримку виробництва електроенергії з використанням відновлюваних джерел: до 2030 року в Україні діє «зелений» тариф, покликаний стимулювати інвестиції в галузь альтернативної енергетики. На сьогодні умови роботи в цій сфері в Україні є одними з найпривабливіших у Європі.</p>
         <p>На даному етапі розвитку технологій особливо цікавою є сонячна енергетика, обсяг якої глобально зростає на 20-25% щороку. Рівень сонячної активності в Україні співставний з показниками Німеччини, а нові розробки у виготовленні сонячних панелей роблять цей бізнес дедалі привабливішим для інвестицій.</p>
         <p>Першим проектом UDP Renewables стала сонячна електростанція в селищі Велика Димерка Київської області. В 2017 році компанія запустила першу чергу Димерської СЕС потужністю 6 МВт, а загальна проектна встановлена потужність електростанції складе 50 МВт. Це буде найбільша сонячна електростанція в Київській області, що дозволить забезпечити електроенергією 26 000 домогосподарств. Будівництво СЕС буде завершено в 2018 році. Обладнання для електростанції постачає Jinko Solar – провідний світовий виробник сонячних модулів.</p>
          <div class="news__blocks u-gallery">
            <div class="news__col news__odd">
              <article class="news__item post">
                <div class="news__background" style="background-image:url('img/news_001.jpg')"></div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                    in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
              <article class="news__item post">
                <div class="news__background" style="background-image:url(img/news_002.jpg)"></div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                    in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
            </div>
            <div class="news__col news__even">
              <article class="news__item post">
                <div class="news__background" style="background-image:url(img/news_003.jpg)"></div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                    in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
              <article class="news__item post">
                <div class="news__background" style="background-image:url(img/news_004.jpg)"></div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                    in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
            </div>
          </div>

          <footer class="company-single__footer">
            <a class="link" href="#">Download > Company profile</a>
            <div class="single-company__address" style="display:none;">
                13-15 Bolsunovska Street
                IQ Business Centre, 01014 Kyiv, Ukraine
                Tel/Fax: +38 044 364 38 28
                Email: info@ufuture.com 
            </div>
          </footer>

        </div>
      </div>
    </div>
  </div>
</article>
{% endblock %}
