---
title: UDPR
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-company.html"%} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/UDPR-cover.jpg" alt="udpr logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">UDP Renewables</h1>
            <a href="http://udpr.com.ua/" class="link single-company__link" target="_blank" style="font-size: 22px; font-weight: 500; ">www.udpr.com.ua</a>
          </header>
          <p>UFuture Investment Group believes in new technologies and environmentally friendly clean energy, which is becoming
            the basis of the future economy. The group contributes into development of renewable energy in Ukraine by investing
            in this industry and utilizing the best international experience and know-how.</p>
          <p>Vasyl Khmelnytsky's renewable energy projects are represented by UDP Renewables. The managing partner of the company
            is Vice President of the Polish-Ukrainian Chamber of Commerce Mr. Serhiy Yevtushenko, who possesses considerable
            experience in attracting foreign investment and implementing international investment projects in Ukraine.</p>
          <p>UDP Renewables portfolio for 2017-2022 includes power generation facilities in Kyiv, Kherson, Odesa and Mykolaiv
            regions with total installed capacity of up to 300 MW. By 2022, UDP Renewables plans to become one of the largest
            producers of clean energy in the country and diversify its energy sources as well as location of its facilities.</p>


          <div class="single__video">
            <iframe width="100%" height="415" src="https://www.youtube.com/embed/e6hA0QvUbLc" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>Green energy is one of the most innovative, promising and rapidly developing industries, both in Ukraine and globally.
            Annual technically achievable potential in this field for Ukraine is estimated at 64 million tonnes of oil equivalent
            (Mtoe). The government has established an effective mechanism to support power production from renewable sources:
            there is a lucrative “green” feed-in tariff in Ukraine enacted until 2030 and designed to facilitate investment
            in renewable energy sector. Today the market conditions in this industry in Ukraine are among the most attractive
            in Europe.</p>
          <p>At the current stage of the technology development solar generation is particularly interesting business, with
            global volumes growing by 20-25% annually. The level of solar activity in Ukraine is comparable with that of
            Germany, and new developments in the production of solar panels make this business even more attractive for investors.</p>
          <p>The first project of UDP Renewables was a solar power plant in the village of Velyka Dymerka in Kyiv region. In
            2017, the company launched the first stage of Dymerska 6MW solar photovoltaic power generation facility, while
            its designed installed capacity is to total 50MW. This will be the largest solar power generation in Kyiv region
            that will supply electricity to 26,000 households. The construction is to be completed in 2018. Equipment for
            the station is provided by Jinko Solar, the world's leading manufacturer of solar PV modules.</p>




        </div>
      </div>
    </div>
  </div>







  <!-- photo and link -->
  <div class="container">
    <img src="img/info/UDPR_infographic_eng_01.jpg" alt="udp info" width="100%">
    <img src="img/info/UDPR_infographic_eng_02.jpg" alt="udp info" width="100%">
    <img src="img/info/UDPR_infographic_eng_03.jpg" alt="udp info" width="100%">




    <div class="container-inner" style="display: none;">
      <footer class="about__footer" style="border-top: 1px solid rgba(0,0,0,0.1); padding-top: 20px;">
        <ul class="inline-list">
          <li class="inline-list__item">
            <a href="media.html" class="inline-list__link">News</a>
          </li>
          <li class="inline-list__item" style="display: none;">
            <a href="#" class="inline-list__link">PRESS-RELEASES</a>
          </li>
          <li class="inline-list__item" style="display: none;">
            <a href="#" class="inline-list__link">Photo</a>
          </li>
          <li class="inline-list__item" style="display: none;">
            <a href="#" class="inline-list__link">Video</a>
          </li>

        </ul>
      </footer>
    </div>
  </div>
  <!-- end photo and link -->

                          <div class="container-inner" >
                     <footer class="about__footer" style="border-top: 1px solid rgba(0,0,0,0.1); padding-top: 20px;">
                        <ul class="inline-list">
                          <li class="inline-list__item">  <a href=#" class="inline-list__link">News</a> </li>
                          <li class="inline-list__item"> <a href="#" class="inline-list__link">PRESS-RELEASES</a> </li>
                          <li class="inline-list__item">  <a href="#" class="inline-list__link">Photo</a> </li>
                          <li class="inline-list__item">  <a href="#" class="inline-list__link">Video</a> </li>
                          
                        </ul>
                    </footer>
              </div>

</div>
<!-- end photo and link -->
</article>
{% endblock %}
