---
title: SME
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-investment.html"%} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/msp-cover.png" alt="msp logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">Small and Medium Entrepreneurship School</h1>
            </header>
          <p>Small and Medium Entrepreneurship School (SME School) is project founded by K.Fund. The Project is aimed at support of entrepreneurship development in the regions of Ukraine. SME School provides businessmen with modern knowledge and effective skills. While studying, attendants may get answers on the questions and professional consultations to support their business.</p>
          <p>Study program stipulates an intensive course on various issues of doing business and enterprise management. After intensive course attendants develop business plans with consultative support of School tutors.</p>
          <div class="single__video">
            <iframe width="100%" height="415" src="http://www.youtube.com/embed/CHCT1pa6Umk" frameborder="0" allowfullscreen></iframe>
          </div>
          <blockquote>
            <p>“Entrepreneurs are proactive citizens, they create jobs, increase competitiveness of municipalities and Ukraine at whole. In this connection it is crucially important to develop the local business environment within particular municipalities. Usually entrepreneurs require systematic knowledge to develop their own businesses, increase volumes of sales but they are lack of time to get education. We are glad that our initiative of intensive business education received a significant interest from the side of tutors, experts that wish to assist the beginners to avoid needless mistakes.”</p>
            <cite>Lidia Pashchuk, Head of SME School</cite>
          </blockquote>
          <p>The courses in School are delivered by entrepreneurs, representatives of the leading Ukrainian business schools, people that have expertise in the area of organization, restructuring, cusulting of small and medium enterprises, training of specialists in different businesses.</p>
          <p>During 2016-2017 5 courses of SME School were conducted in the town of Bila Tserkva in Kyiv Region and near 150 entrepreneurs successfully completed the course.</p>

        </div>
      </div>
    </div>
  </div>


</article>
{% endblock %}
