---
title: Unit.city
scroll: true 
pageClass: single-company
---
{% extends "layouts/_single-company.html" %} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3">
          <img class="img-responsive" src="img/unit-cover.jpg" alt="unit logo">
        </div>
        <div class="col-2-3">
          <header class="single-company__header">
            <h1 class="single__heading">Інноваційний парк UNIT.City</h1>
            <a href="http://unit.city/" class="link single-company__link" target="_blank">www.unit.city</a>
          </header>
          <p>UNIT.City – перший інноваційний парк в Україні. Тут створюється інфраструктура та екосистема для розвитку бізнесу в сфері високих технологій та креативних індустрій. Місія UNIT.City – збудувати унікальний центр інновацій, де прогресивні компанії, стартапи та фахівці зможуть співпрацювати між собою, швидко та якісно зростати.</p>
          <p>Окрім бізнес-інфраструктури в UNIT.City буде збудовано житловий мікрорайон, що дозволить створити в парку комфортні умови не лише для роботи, а й для життя.</p>
          <p>Значна увага в UNIT.City приділяється освітнім проектам і заходам. У Парку є простори для конференцій, мітапів та лекцій. А важливим елементом екосистеми є «фабрика програмування» – UNIT Factory, створена за унікальною методикою французької Школи 42. Сьогодні в школі безкоштовно навчається 800 студентів, а з часом їх кількість зросте до 3000.</p>
         
          <div class="single__video">
              <iframe width="100%" height="315" src="http://www.youtube.com/embed/cjDUtB1qU4Q" frameborder="0" allowfullscreen></iframe>
          </div>
           <p>Резиденти Парку будуть оточені системою додаткових сервісів для розвитку своїх бізнесів: допомога в комерціалізації й фандрейзінгу, консультування, юридичні послуги, акселеративні й менторські програми, лабораторії для створення прототипів. Для цього команда екосистеми Парку планує домовитися про партнерства з глобальними технологічними корпораціями, бізнес-асоціаціями, міжнародними організаціями та дослідницькими центрами.</p>
          <p>До 2020 року UNIT.City планує стати точкою входу в Україну для інвесторів, партнерів та нових технологій з усього світу.</p>
          <div class="news__blocks u-gallery">
            <div class="news__col news__odd">
              <article class="news__item post">
                <div class="news__background" style="background-image:url('img/news_001.jpg')"></div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                    in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
              <article class="news__item post">
                <div class="news__background" style="background-image:url(img/news_002.jpg)"></div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                    in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
            </div>
            <div class="news__col news__even">
              <article class="news__item post">
                <div class="news__background" style="background-image:url(img/news_003.jpg)"></div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                    in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
              <article class="news__item post">
                <div class="news__background" style="background-image:url(img/news_004.jpg)"></div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                    in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
            </div>
          </div>

          <footer class="company-single__footer">
            <a class="link" href="#">Download > Company profile</a>
            <div class="single-company__address" style="display:none;">
                13-15 Bolsunovska Street
                IQ Business Centre, 01014 Kyiv, Ukraine
                Tel/Fax: +38 044 364 38 28
                Email: info@ufuture.com 
            </div>
          </footer>

        </div>
      </div>
    </div>
  </div>
</article>
{% endblock %}
