---
title: K.Fund Media
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-investment.html"%}  

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/kfund-media-cover.jpg" alt="k.fund media logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">MEDIA SOURCE ABOUT NEW POSSIBILITIES </h1>
            <a href="https://kfund-media.com/" class="link single-company__link" target="_blank" style="font-size: 24px; font-weight: 500">kfund-media.com</a>
          </header>
          <p>K.Fund Media is a platform dedicated to entrepreneurship, education, and business literature.</p>
          <p>Our audience consists of committed, optimistic, and results-oriented people. K.Fund Media presents findings in the areas of management, research and development, success stories about companies and their leaders.</p>
          <p>The mission of the project is to reveal new possibilities for education and entrepreneurship in Ukraine and abroad.</p>
          <ul class="ul-style">Values that K.Fund Media shares:
            <li class="li-style">work and constant development; </li>
            <li class="li-style">responsibility for one’s own life and actions; </li>
            <li class="li-style">the quest for new possibilities without complaining about existing circumstances; </li>
            <li class="li-style">focus on effective problem solving; </li>
            <li class="li-style">balance between work and family life; </li>
            <li class="li-style">healthy lifestyle. </li>
          </ul>  
          <blockquote>
            <p>«The task of K.Fund Media is to provide food for thought, unveiling applicable solutions for problems that we face in life and work. Our perspective of the world is based on positive thinking and our belief in success by means of effort and talent, while unfavourable circumstances can be turned into new possibilities and stimuli for growth if the desire is there to do so»</p>
            <cite> K.Fund Media editor-in-chief Daria Kutetska</cite>
          </blockquote>
          <p>K.Fund Media is available online in Ukrainian and Russian at kfund-media.com.</p>



        </div>
      </div>
    </div>
  </div>

<!-- photo and link -->
  <div class="container">
   
    <div class="container-inner">
             <footer class="about__footer" style="border-top: 1px solid rgba(0,0,0,0.1); padding-top: 20px;">
          <ul class="inline-list">
            <li class="inline-list__item">
              <a href="media.html" class="inline-list__link three-lvl">News</a>
            </li>
            <li class="inline-list__item">
              <a href="press-release.html" class="inline-list__link three-lvl">PRESS-RELEASES</a>
            </li>
            <li class="inline-list__item">
              <a href="photo.html" class="inline-list__link three-lvl">Photo</a>
            </li>
            <li class="inline-list__item">
              <a href="video.html" class="inline-list__link three-lvl">Video</a>
            </li>
          </ul>
         
              
        </footer>
    </div>
  </div>
  <!-- end photo and link -->
</article>
{% endblock %}
