---
title: KIEF
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-investment.html"%} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/kief-cover.jpg" alt="kief logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">The Kyiv International Economic Forum </h1>
            <a href="http://forumkyiv.org/en/" class="link single-company__link" target="_blank" style="font-size: 24px; font-weight: 500">www.forumkyiv.org</a>
          </header>
          <p>The Kyiv International Economic Forum (KIEF) is an ongoing platform for discussion that is aimed at shaping the strategy of the economic development of Ukraine. The forum is held with the support of Vasyl Khmelnytsky’s K.Fund and has become a center of expertise for those who place their stake on Ukraine and work in a market with a vibrant economy. By arranging dialogue among experts, businesses and the authorities, the KIEF forms a roadmap for development and facilitates the conversion of expert ideas into action.</p>
          <p>The KIEF’s mission is to develop strategies for the reform of Ukraine’s economy, which will be based on new approaches to education, science, and the development of priority sectors and the “points of growth” through the consolidation of representatives of businesses, the government and the expert community within the KIEF.</p>
          <p>The First Kyiv International Economic Forum took place on October 2, 2014, with the participation of more than 50 leading foreign and Ukrainian experts ‒ well known economists and reformists, representatives of large international companies, public figures, and members of the Cabinet of Ministers and the Verkhovna Rada of Ukraine. The Forum was attended by over 120 representatives of international and Ukrainian media outlets, and 550 business representatives participated. On October 8, 2015 the second Kyiv International Economic Forum (KIEF) took place in Ukraine’s capital — one of the largest business events in the country. It was attended by 67 speakers from 20 countries, 150 mass media representatives and more than 800 guests. The Forum brought together renowned economists, reformers and businessmen who identified the most effective tools to help Ukraine make an economic breakthrough.</p>
          <div class="single__video">
            <iframe width="100%" height="415" src="https://www.youtube.com/embed/OdYm47y4MyQ" frameborder="0" allowfullscreen></iframe>
          </div>
          <blockquote >
          <p>“Well-known economists, international experts, successful businessmen and reformists from around the world (Europe, the United States, China, and other countries) are invited as speakers at the KIEF. We see that participants in the Forum are the owners and top managers of medium and large businesses ‒ those responsible for the strategy of development and are aware of what businesses should demand from the authorities. Those who are willing to directly tell the authorities what they should do.”</p>
          <cite>Yurii Pivovarov, Executive Director of the Kyiv International Economic Forum </cite>
           </blockquote>
          <p>The KIEF promotes a comprehensive and harmonious integration of Ukraine into the world economy, thereby creating a better understanding of Ukraine by the international business community as a promising market and a global player, and also contributes to the efforts of the Ukrainian businesses to attract investors and enter international markets. Experts outlined recommendations for reforming the Ukrainian economy on the basis of the ideas expressed at the Forum.</p>
          <p>Further public discussions of the ideas and recommendations took place during a series of roundtable meetings under auspices of the KIEF. Thus, the Forum served as an expert-level communication platform dedicated to structural economic reforms.</p>
          <p>The KIEF’s major difference is that the event is held in a case study format ‒ the method of success stories, which suggests examples of real economic, social and business situations. This makes it possible not only to analyze a particular situation, see the kernel of a problem, but, through discussing it, find possible solutions and choose the best of them.</p>



        </div>
      </div>
    </div>
  </div>

</article>
{% endblock %}
