---
title: PTM Ukraine
scroll: true 
pageClass: single-company
---
{% extends "layouts/_single-company.html" %} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3">
          <img class="img-responsive" src="img/udp-cover.jpg" alt="udp logo">
        </div>
        <div class="col-2-3">
          <header class="single-company__header">
            <h1 class="single__heading">Девелоперська компанія UDP</h1>
            <a href="http://www.udp.ua/" class="link single-company__link" target="_blank">www.udp.ua</a>
          </header>
          <p>UDP – одна з провідних девелоперських груп в Україні, що працює на ринку з 2002 року. Ініціювала й успішно реалізує довгострокові проекти. Серед найвідоміших – будівництво столичних торгово-розважального центру OCEAN PLAZA та житлових комплексів «Новопечерські Липки», «Бульвар Фонтанів», «RiverStone», «Паркове місто». Компанія забезпечує повний цикл управління проектами: від створення об’єкта та будівництва до здачі в експлуатацію, продажу й оренди.</p>
          <p>Завдяки впровадженню передових технологій компанія створює проекти, унікальні як з архитектурного, так і з технічного погляду. Особлива увага приділяється екологічній безпечності матеріалів, а також сучасним інженерним рішенням. На сьогодні UDP реалізувала 11 проектів, загальна площа яких становить 3 млн м². 80% з них було здано в експлуатацію достроково. Активи компанії містять близько 1000 га землі.</p>
          <p>UDP – перша компанія, яка реалізувала в Україні містобудівний досвід розвинених країн, за якого формування сучасного міста з комфортними умовами проживання є завданням самих забудовників. За час роботи компанія створила й побудувала понад 11 тис. м² нових інженерних комунікацій, 12 тис. м² територій для спортивних тренувань, 20 тис. м² приміщень для школ та дитячих садків, а також облаштувала 18 га парків та зелених територій.</p>
          <div class="single__video">
              <iframe width="100%" height="315" src="http://www.youtube.com/embed/cjDUtB1qU4Q" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>У 2012 році відбулося відкриття торгово-розважального центру OCEAN PLAZA в Києві. За розмірами й унікальністю концепції він перевершує всі раніше побудовані ТРЦ столиці. За ініціативою UDP концепцію інтер’єру OCEAN PLAZA було розроблено у співпраці зі всесвітньо відомим дизайнерським бюро Chapman Taylor. Принадою OCEAN PLAZA є найбільший в Україні публічний акваріум об’ємом 350 000 літрів, де живе близько 1000 морських мешканців. Майже третина брендів, представлених у торговельному центрі, вперше стала доступна українському споживачу завдяки UDP.</p>
          <div class="news__blocks u-gallery">
            <div class="news__col news__odd">
              <article class="news__item post">
                <div class="news__background" style="background-image:url('img/news_001.jpg')"></div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                    in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
              <article class="news__item post">
                <div class="news__background" style="background-image:url(img/news_002.jpg)"></div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                    in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
            </div>
            <div class="news__col news__even">
              <article class="news__item post">
                <div class="news__background" style="background-image:url(img/news_003.jpg)"></div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                    in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
              <article class="news__item post">
                <div class="news__background" style="background-image:url(img/news_004.jpg)"></div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                    in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
            </div>
          </div>

          <footer class="company-single__footer">
            <a class="link" href="#">Download > Company profile</a>
            <div class="single-company__address" style="display:none;">
                13-15 Bolsunovska Street
                IQ Business Centre, 01014 Kyiv, Ukraine
                Tel/Fax: +38 044 364 38 28
                Email: info@ufuture.com 
            </div>
          </footer>

        </div>
      </div>
    </div>
  </div>
</article>
{% endblock %}
