---
title: Biofarma
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-company.html"%} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/biofarma-cover.jpg" alt="Biofarma logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">BIOFARMA</h1>
            <a href="http://www.biofarma.ua/en/" class="link single-company__link" target="_blank" style="font-size: 22px; font-weight: 500;">www.biofarma.ua</a>
          </header>
          <p>BIOFARMA is a leading pharmaceutical company that develops and manufactures innovative high-tech medicinal products
            made of donated human blood, recombinant preparations and drugs based on spore-forming bacteria. It is the only
            Ukrainian manufacturer of specialized immunobiological preparations made of donated human blood. For more than
            120 years, the company's employees have been creating medicines that save life and improve its quality.</p>
          <p>The company's major production facilities are located in the town of Bila Tserkva in Kyiv region. The newest research
            and production complex includes a pharmaceutical plant, quality control laboratories and a center for research,
            development and technology. This complex includes full-cycle industrial biotechnological probiotics production
            facilities that are unique for Ukraine.</p>


          <div class="single__video">
            <iframe width="100%" height="415" src="https://www.youtube.com/embed/K35Wrr_lfy8" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>The plant is equipped with modern pharmaceutical equipment and integrated lines of such world leading manufacturers
            as Marchesini GROUP S.p.A., Stilmas S.p.A., Criofarma s.a.s. (Italy), GEA Group AG (Germany), BMT Group Limited
            (Great Britain), and others. There is a quality management system in operation that includes eight international
            and national standards: ISO 9001, ISO 14 001, ISO 22 000, ISO 13 485, ICH Q 8, ICH Q 9, ICH Q 10, and GMP.</p>
          <p>All production sites are certified according to the requirements of European and national guidelines for good manufacturing
            practice for pharmaceutical companies — GMP (Good Manufacturing Practice).</p>
          <p>The company currently produces more than 130 items of drugs in 11 pharmacological groups. The portfolio of BIOFARMA
            preparations registered abroad totals 60 items. About 30 new drugs are at the stage of development: drugs acting
            on the musculoskeletal system, anti-inflammatory preparations, drugs used in dermatology, and monoclonal antibodies.
          </p>
          <p>In 2015, jointly with Institute of Immunology and Allergology under Bogomolets National Medical University BIOFARMA
            opened first interdisciplinary college of clinical immunology. As a result such medical professionals as rheumatologists,
            pulmonologists, oncologists, infectious diseases and general practitioners have obtained access to knowledge
            about the latest clinical data with international recommendations, methods of differential diagnosis, as well
            as to therapeutic tactics with the use of evidence-based medicine.</p>
          <p>The company is open to partnership aimed at creating new opportunities for production, research and interdisciplinary
            training.</p>




        </div>
      </div>
    </div>
  </div>

  <!-- photo and link -->
  <div class="container">
    <img src="img/info/BioFarma_size_eng.jpg" alt="udp info" width="100%">
    <div class="container-inner">

      {% include "partials/single-company/_footer-content.html" %}
    </div>
  </div>
  <!-- end photo and link -->
</article>
{% endblock %}
