---
title: PTM Ukraine
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-company.html"%} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/rtm-cover.jpg" alt="rtm logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
                       <h1 class="single__heading">RTM-UKRAINE</h1>
            <a href="http://www.rtm.ua/" class="link single-company__link"  style="font-size: 24px; font-weight: 500"  target="_blank">www.rtm.ua</a>
          </header>
          <p>The RTM-Ukraine Group is Ukrainian national operator of outdoor advertising. The group has its own network of advertising media in Kyiv and in 26 other cities across the country. The operator offers production and placement various advertising outlets through out-of-home (OOH) media, including outdoor campaigns, advertising on railway transport and at Kyiv International Airport (Zhuliany). In addition, RTM-Ukraine produces and manages advertising spaces.</p>
          <p>With its media planning tools (OTS, GRP, Reach, Frequency) based on data and analytical approach RTM-Ukraine is capable of successfully meeting its clients’ demands in communication. The company provides all-inclusive services in advertising – from forging ideas and bringing them onto their advertising spaces to monitoring quality of displays and producing post-analysis of advertising campaigns. RTM-Ukraine also designs layouts for both standard and non-standard advertising media employing extenders (extended elements in 2D and 3D formats), architectural LED backlit and other design solutions.</p>
          <div class="single__video">
            <iframe width="100%" height="415" src="http://www.youtube.com/embed/__3wEMuD_1A" frameborder="0" allowfullscreen></iframe>
          </div>
         <p>The RTM-Ukraine Group is the only national operator that possesses inventory and operates in all segments of OOH: Outdoor, Indoor, Transit. The operator's advertising equipment is serviced by a major servicing contractor – Tehnogrup production company. The company independently produces modern, high-tech advertising equipment and elements of urban amenities: public transport stops, decorative fences, columns, benches, posters, and installs custom illumination designed for individual project. Thus, outdoor advertising is being seamlessly integrated into the urban environment.</p>
         <p>In 2016, the RTM-Ukraine Group launched an internet agency RTM Digital. This division sells advertising services on more than 1,000 websites where advertising is managed in the real-time. RTM Digital offers complete set of tools for planning and conducting online campaigns: individual and package sales of banners and video advertising, behavioral targeting, and non-standard types of advertising.</p>
         <p>Among RTM-Ukraine’s clients there are leading advertising holdings, including such world leaders as GroupM and Publicis Groupe, and the leader of outdoor advertising in Ukraine Posterscope Ukraine. The company enjoys solid partnerships with Kyiv International Airport (Zhuliany) and the national railway operator Ukrzaliznytsia (UZ).</p>


           </div>
      </div>
    </div>
  </div>







<!-- photo and link -->
<div class="container">
            <img src="img/info/RTM-Ukraine_infographic_eng.jpg" alt="RTM Ukraine info" width="100%">
     
 
   


              <div class="container-inner" style="display: none;">
                     <footer class="about__footer" style="border-top: 1px solid rgba(0,0,0,0.1); padding-top: 20px;">
                        <ul class="inline-list">
                          <li class="inline-list__item"> <a href="news.html" class="inline-list__link">News</a> </li>
                          <li class="inline-list__item" style="display: none;"> <a href="#" class="inline-list__link">PRESS-RELEASES</a> </li>
                          <li class="inline-list__item" style="display: none;"> <a href="#" class="inline-list__link">Photo</a> </li>
                          <li class="inline-list__item" style="display: none;"> <a href="#" class="inline-list__link">Video</a> </li>
                          
                        </ul>
                    </footer>
              </div>
</div>
<!-- end photo and link -->
           




</article>
{% endblock %}