---
title: Ip-Bt
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-company.html"%} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/ipbt-cover.jpg" alt="BILA TSERKVA INDUSTRIAL PARK logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">Індустріальний парк «Біла Церква»</h1>
            <a href="http://ip-bt.com/" class="link single-company__link" target="_blank">www.ip-bt.com/</a>
          </header>
          <p>Індустріальний парк «Біла Церква» – великий інвестиційний проект, мета якого – розвиток сучасного промислового
            виробництва в Україні. Це єдина платформа, що дозволяє підприємцям отримати всі необхідні сервіси та зосередитись
            на розвитку компанії.</p>
          <p>Парк пропонує землі промислового призначення зі всією інженерною інфраструктурою для оренди або купівлі, рішення
            під ключ, а також можливість спільних інвестицій у промислові проекти. Знання місцевої специфіки та значний досвід
            у девелопменті нерухомості дозволяє команді індустріального парку надати клієнту додаткові консультаційні послуги
            для організації ефективного виробництва.</p>
          <p>Індустріальний парк розташований у місті Білій Церкві Київської області, у 80 км від столиці України. Близькість
            до Києва, а також наявність аеродрому, двох залізничних станцій та міжнародної автомагістралі створює зручну
            логістику та дозволяє легко отримати доступ до найбільших ринків країни. Біла Церква володіє недорогими та кваліфікованими
            трудовими ресурсами: значна частина населення має освіту в області промисловості й відповідний досвід роботи.
            30 000 мешканців Білої Церкви працює в сусідніх містах і надали б перевагу роботі в Білій Церкві за належної
            оплати праці.</p>
          <div class="single__video">
                      <iframe width="100%" height="315" src="https://www.youtube.com/embed/k29WVFuYt78" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>У світі тісних ланцюжків поставок та швидкої розробки нових продуктів України може стати виробничим і торговельним
            центром на межі ЄС, Близького Сходу та Азії. Країна зручно розташована в Центральній Європі та має значну сировинну
            базу, низьку собівартість виробництва, розвинену інфраструктуру, а також конкурентні податкові ставки. В Україні
            впроваджується амбіційна програма дерегуляції, підвищується прозорість, вводиться електронний документообіг.
            Конкурси на заміщення державних посад та електронні державні тендери провадяться за активної участі громадськості.</p>  
 <p>Індустріальний парк «Біла Церква» – це оптимальне рішення для організації рентабельної та захищеної бізнес-моделі
            для виробників.</p>


          <footer class="company-single__footer">
            <a  style="display: none;" class="link" href="#">Download > Company profile</a>
            <div class="single-company__address">
               вул. Болсуновская , 13-15 Київ, Україна, 01014  <br>
              t: <strong>+380 44 364 78 </strong><br>
              <a href="mailto:info@ip-bt.com" style="text-decoration: none; color:#1bb4d0; font-weight: bold;">info@ip-bt.com</a>
            </div>
          </footer>


        </div>
      </div>
    </div>
  </div>
</article>
{% endblock %}
