---
title: Unit.city
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-company.html"%} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/unit-cover.jpg" alt="unit logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">UNIT.City Innovation Park</h1>
            <a href="http://unit.city/" class="link single-company__link" target="_blank" style="font-size: 24px; font-weight: 500" >www.unit.city</a>
          </header>
          <p>UNIT.City is Ukraine's first innovation park. It is the location where matchless infrastructure and all-inclusive ecosystem enable high technology, innovative and creative businesses to happen and flourish. The mission of UNIT.City is to create a unique innovation platform where advanced companies, start-ups and mavens get an opportunity to cross paths and work together ramping up their growth and honing quality.</p>
          <p>Except for business infrastructure, UNIT.City will also include lesser residential district to complete comfortable environment of the tech park, a place to work and live at.</p>
          <div class="single__video">
            <iframe width="100%" height="415" src="http://www.youtube.com/embed/STRtTM5yt4U" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>UNIT.City dedicates special attention to education and related activities. One of the critical elements of its ecosystem is UNIT Factory coding school that uses cutting-edge curriculum designed by French “School 42”. Today already 800 students study at this school free of charge, while their total number is to reach 3,000 within the next several years. On top of the education facilities UNIT.City provides space for lectures, meet-ups and conferences.</p>
          <p>The tech park offers its residents a package of additional services for business development: assistance in commercialization and fundraising, counseling and legal services, coaching, mentoring and accelerating programs, prototyping laboratories and more. In this context, the park engages international partnership with global technology companies, venture capital funds, business associations, leading educational institutions and innovation hubs.</p>
          <p>By 2020 UNIT.City strives to become a one-point entry into Ukraine for investors, businesses and new technology from all over the world.</p>


 </div>
      </div>
    </div>
  </div>







<!-- photo and link -->
<div class="container">
            <img src="img/info/UNIT.City_infographic_eng.jpg" alt="unit info" width="100%">
     
 
   


              <div class="container-inner" style="display: none;">
                     <footer class="about__footer" style="border-top: 1px solid rgba(0,0,0,0.1); padding-top: 20px;">
                        <ul class="inline-list">
                          <li class="inline-list__item"> <a href="news.html" class="inline-list__link">News</a> </li>
                          <li class="inline-list__item" style="display: none;"> <a href="#" class="inline-list__link">PRESS-RELEASES</a> </li>
                          <li class="inline-list__item" style="display: none;"> <a href="#" class="inline-list__link">Photo</a> </li>
                          <li class="inline-list__item" style="display: none;"> <a href="#" class="inline-list__link">Video</a> </li>
                          
                        </ul>
                    </footer>
              </div>
</div>
<!-- end photo and link -->
           




</article>
{% endblock %}