---
title: LvivTech.City
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-company.html"%} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/lvivtech-cover.jpg" alt="lvivtech logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">LvivTech.City</h1>
            <a href="http://www.lviv-tech.city" style="font-size: 24px; font-weight: 500" class="link single-company__link" target="_blank">www.lviv-tech.city</a>
          </header>
          <p>LvivTech.City is an innovation park in Lviv, one of the centers of Ukraine's IT industry. The aim of the project is to provide the country’s IT sector new spurs and opportunities, bringing more investment and knowledge to the region.</p>
          <p>Lviv has boundless potential for development of its high-tech industry. The city is a home to many universities with more than 4,000 annual graduates in IT. In Lviv, there are more than 200 IT companies, and demand for their services grows by 20% per year. According to PwC today more than 400,000 people work in the field of information technology and related industries in Ukraine. The country is a leader in Central and Eastern Europe in IT outsourcing and ranks 4th globally by the number of certified IT professionals.</p>
          <div class="single__video">
            <iframe width="100%" height="415" src="https://www.youtube.com/embed/mo1uYknrFg8" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>Technology-oriented, IT, energy efficiency and biotechnology companies, R&D centers, incubators and accelerators as well as educational projects in the fields of IT and design will become the tech park's residents. LvivTech.City's team will see to that the residents make the best use of the modern infrastructure and all the necessary services to develop their businesses.</p>
          <p>LvivTech.City offers a comprehensive ecosystem based on the principle "live – work – learn – rest." Over 40,000 square meters of Class A office premises, co-working spaces, laboratories and conference rooms will occupy the area of the former industrial zone. Moreover, the project envisages development of European-level social infrastructure: residential districts, education and sport facilities, green recreation areas, pedestrian and bicycle paths.</p>
          <p>All buildings of the innovation park will meet Leadership in Energy and Environmental Design (LEED) green building standards – voluntary certification, which significantly reduces environmental impact, boosts resource efficiency, and ensures use of environmentally friendly materials and high-quality interior design. The first phase of LvivTech.City is to be completed in the fourth quarter of 2018.</p>

    </div>
      </div>
    </div>
  </div>







<!-- photo and link -->
<div class="container">
            <img src="img/info/LvivTech.City_infographic_eng.jpg" alt="lvivtech info" width="100%">
     
 
   


                          <div class="container-inner" >
                     <footer class="about__footer" style="border-top: 1px solid rgba(0,0,0,0.1); padding-top: 20px;">
                        <ul class="inline-list">
                          <li class="inline-list__item">  <a href=#" class="inline-list__link">News</a> </li>
                          <li class="inline-list__item"> <a href="#" class="inline-list__link">PRESS-RELEASES</a> </li>
                          <li class="inline-list__item">  <a href="#" class="inline-list__link">Photo</a> </li>
                          <li class="inline-list__item">  <a href="#" class="inline-list__link">Video</a> </li>
                          
                        </ul>
                    </footer>
              </div>

</div>
<!-- end photo and link -->
           




</article>
{% endblock %}