---
title: Kyiv International Airport
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-company.html"%} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/airport-cover.jpg" alt="airoport kiev logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">Міжнародний аеропорт «Київ»</h1>
            <a href="http://www.lviv-tech.city" class="link single-company__link" target="_blank">www.iev.aero</a>
          </header>
          <p>Аеропорт «Київ» (Жуляни) – один з найбільших інфраструктурних проектів групи UFuture. З 2011 року генеральним оператором
            й основним інвестором аеропорту є компанія «Мастер-Авіа». За останні шість років в аеропорту побудовано три нових
            термінали, а річний пасажиропотік збільшився майже в 40 разів. Інвестиції у проект склали $70 млн.</p>
          <p>Аеропорт розташовано в межах міста, в Солом'янському районі мегаполісу, в 7 км від центру міста. На даний момент
            аеропорт посідає друге місце в Україні за кількістю рейсів, тут базується близько 40 авіакомпаній. Інфраструктурні
            можливості дозволяють йому збільшити пасажиропотік до п’яти мільйонів пасажирів на рік. У 2017 році аеропорт
            провів ремонт злітно-посадкової смуги та реконструкцію терміналів.</p>
          <p>Аеропорт «Київ» увійшов до трійки найкращих на планеті в категорії «Світові аеропорти для малої та середньомагістральної
            авіації, до чотирьох мільйонів пасажирів» за версією The World Routes Awards 2013. Злітно-посадкова смуга може
            приймати повітряні судна типу B-737, A-320.</p>
          <div class="single__video">
            <iframe width="100%" height="315" src="http://www.youtube.com/embed/cjDUtB1qU4Q" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>Компанія «Мастер-Авіа» обслуговує всі типи авіарейсів, в тому числі комерційні, чартерні, урядові й медичні. У
            штаті компанії – понад 800 сертифікованих співробітників. Якість надаваних послуг підтверджено сертифікатом SGS
            про відповідність вимогам ISO 9001:2008. Постійні клієнти компанії – авіаперевізники Wizz Air, Belavia, Flydubai,
            Bravo, LOT, Alitalia та інші. Крім того, компанія обслуговує рейси ділової авіації.</p>
          <p>У 2013 році в аеропорту «Київ» було відкрито окремий бізнес-термінал «B», аналогів якому немає в Україні. Приміщення
            бізнес-терміналу обладнані сучасною системою клімат-контролю, відеонаглядом, ліфтом, безкоштовним WI-FI, зручностями
            для людей з обмеженими можливостями. В терміналі є кімната для переговорів на 20 місць та конференц-зала на 70
            місць, два двомісних готельних номери, ресторан. Перед терміналом розташовано паркінг під охороною.</p>
          <div class="news__blocks u-gallery">
            <div class="news__col news__odd">
              <article class="news__item post">
                <div class="news__face">
                  <div class="news__background" style="background-image:url('img/news_001.jpg')"></div>
                </div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March
                    25 in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
              <article class="news__item post">
                <div class="news__face">
                  <div class="news__background" style="background-image:url(img/news_002.jpg)"></div>
                </div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March
                    25 in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
            </div>
            <div class="news__col news__even">
              <article class="news__item post">
                <div class="news__face">
                  <div class="news__background" style="background-image:url(img/news_003.jpg)"></div>
                </div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March
                    25 in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
              <article class="news__item post">
                <div class="news__face">
                  <div class="news__background" style="background-image:url(img/news_004.jpg)"></div>
                </div>
                <div class="news__content">
                  <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                  | Khmelnytsky's Library
                  <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                  <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March
                    25 in Kharkiv, starts...</p>
                  <a href="#" class="read-more">read more ...</a>
                </div>
              </article>
            </div>
          </div>

          <footer class="company-single__footer">
            <a class="link" href="#">Download > Company profile</a>
            <div class="single-company__address " style="display:none;">
              13-15 Bolsunovska Street IQ Business Centre, 01014 Kyiv, Ukraine Tel/Fax: +38 044 364 38 28 Email: info@ufuture.com
            </div>
          </footer>

        </div>
      </div>
    </div>
  </div>
</article>
{% endblock %}
