---
title: Kyiv International Airport
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-company.html"%} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/airport-cover.jpg" alt="airoport kiev logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">Kyiv International Airport</h1>
            <a href="http://www.iev.aero" class="link single-company__link" target="_blank" style="font-size: 22px; font-weight: 500;">www.iev.aero</a>
          </header>
          <p>Kyiv International Airport (“Zhuliany”) is one of UFuture Investment Group's largest infrastructure projects. The
            Master-Avia company has been the airport's general operator and main investor since 2011. In the past six years,
            three new terminals have been built at the airport and its annual passenger flow has soared by almost 40 times.
            Investment in the project has amounted to $70 million.</p>
          <p>The airport enjoys central location in the city's Solomyansky district 7 km from Kyiv city center. Today it is
            Ukraine's second biggest airport by number of flights with about 40 airlines operating from there. The airport's
            infrastructure capacity allows to increase passenger traffic to 5 million passengers per year. In 2017, repair
            and renovation works were performed on the airport’s runway and terminals.</p>
          <p>Kyiv International Airport ranked among the top three globally in Under 4m Passengers category, according to The
            World Routes Awards 2013. Its runway can accept both Boeing 737 and Airbus A320 aircraft types.</p>
          <p>Master-Avia services all types of flights, including commercial, charter, government and medical airlines. The
            company employs more than 800 certified workers, and quality of the services provided is confirmed by SGS certificate
            of compliance to ISO 9001: 2008 requirements. Master-Avia's regular clients include such airlines as Wizz Air,
            Belavia, Flydubai, Bravo, LOT, Alitalia, and others. The company also services business aviation flights.</p>
          <p>In 2013, Kyiv International Airport opened Terminal B solely to service business travelers – a unique feature in
            Ukraine. The premises of the business terminal are equipped with a modern climate control system, video surveillance,
            elevators, free Wi-Fi, and amenities for people with disabilities. The terminal has a 20-seat negotiations room,
            and a 70-seat conference hall, as well as two double hotel rooms and a restaurant. There is a guarded parking
            lot in front of the terminal.</p>

        </div>
      </div>
    </div>
  </div>

  <!-- photo and link -->
  <div class="container">
    <img src="http://s2.ufuture.com/img/info/Airport_Kyiv_infographic_eng.jpg" alt="airport info" width="100%">





    <div class="container-inner">
             <footer class="about__footer" style="border-top: 1px solid rgba(0,0,0,0.1); padding-top: 20px;">
          <ul class="inline-list">
            <li class="inline-list__item">
              <a href="media.html" class="inline-list__link three-lvl">News</a>
            </li>
            <li class="inline-list__item">
              <a href="press-release.html" class="inline-list__link three-lvl">PRESS-RELEASES</a>
            </li>
            <li class="inline-list__item">
              <a href="photo.html" class="inline-list__link three-lvl">Photo</a>
            </li>
            <li class="inline-list__item">
              <a href="video.html" class="inline-list__link three-lvl">Video</a>
            </li>
          </ul>
         
              
        </footer>
    </div>
  </div>
  <!-- end photo and link -->
</article>
{% endblock %}
