---
title: UDP
scroll: true
pageClass: single-company
---
{% extends "layouts/_single-company.html"%} 

{% block content %}
<article class="single-company__article">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-3_md">
          <img class="img-responsive" src="img/udp-cover.jpg" alt="udp logo">
        </div>
        <div class="col-2-3_md">
          <header class="single-company__header">
            <h1 class="single__heading">UDP Development Company</h1>
            <a href="http://www.udp.ua/" class="link single-company__link" target="_blank" style="font-size: 22px; font-weight: 500; ">www.udp.ua</a>
          </header>
          <p>UDP is one of the leading developer groups in Ukraine, operating on the market since 2002. The company has designed and successfully implemented a number of long-term projects, with some of the most famous being OCEAN PLAZA shopping mall, residential complexes Novopecherski Lypki, Boulevard of Fountains, RiverStone, and Parkove Misto. The company provides a full cycle of project management - from design and construction to commissioning, sale and lease.</p>
          <p>By constantly employing and introducing advanced technologies, the company creates projects that are unique both from architectural and engineering perspectives. Particular attention is paid to environmental safety of materials and modern engineering solutions. To date, UDP has implemented 11 projects totaling 3 million m² and with 80% commissioned ahead of schedule. The company's assets also include about 1,000 hectares of land.</p>
                      <div class="single__video">
                        <iframe width="100%" height="415" src="https://www.youtube.com/embed/omjK9N5VZzQ" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>UDP’s mission is to create a modern city with comfortable living conditions, which is why the company has always been on the verge of introduction of the most advanced urban development experience in Ukraine. Over its career the company has engineered more than 11,000 m² of new infrastructure communications, 12,000 m² of areas for sport and recreation, 20,000 m² of premises for schools and kindergartens, and planted 18 hectares of parks and green areas.</p>
        </p>In 2012, the company opened OCEAN PLAZA shopping mall in Kyiv. Its size and unique concept surpassed all previously constructed shopping and entertainment centers in the Ukrainian capital. At the initiative of UDP, OCEAN PLAZA's interior concept was produced in cooperation with the world's acclaimed design bureau Chapman Taylor. OCEAN PLAZA accommodates Ukraine's largest 350,000-liter  public aquarium, which displays more than 1,000 live marine inhabitants. Almost a third of the brands represented in the mall became first available to the Ukrainian consumers thanks to UDP.</p>

         
          <p>У 2012 році відбулося відкриття торгово-розважального центру OCEAN PLAZA в Києві. За розмірами й унікальністю концепції
            він перевершує всі раніше побудовані ТРЦ столиці. За ініціативою UDP концепцію інтер’єру OCEAN PLAZA було розроблено
            у співпраці зі всесвітньо відомим дизайнерським бюро Chapman Taylor. Принадою OCEAN PLAZA є найбільший в Україні
            публічний акваріум об’ємом 350 000 літрів, де живе близько 1000 морських мешканців. Майже третина брендів, представлених
            у торговельному центрі, вперше стала доступна українському споживачу завдяки UDP.</p>


          

        </div>
      </div>
    </div>
  </div>







<!-- photo and link -->
<div class="container">
            <img src="img/info/UPD_infographic_eng.jpg" alt="udp info" width="100%"> 
 
   


              <div class="container-inner" style="display: none;">
                     <footer class="about__footer" style="border-top: 1px solid rgba(0,0,0,0.1); padding-top: 20px;">
                        <ul class="inline-list">
                          <li class="inline-list__item"> <a href="media.html" class="inline-list__link">News</a> </li>
                          <li class="inline-list__item" style="display: none;"> <a href="#" class="inline-list__link">PRESS-RELEASES</a> </li>
                          <li class="inline-list__item" style="display: none;"> <a href="#" class="inline-list__link">Photo</a> </li>
                          <li class="inline-list__item" style="display: none;"> <a href="#" class="inline-list__link">Video</a> </li>
                          
                        </ul>
                    </footer>
              </div>
</div>
<!-- end photo and link -->
           




</article>
{% endblock %}
