---
title: UDP started their business in the alternative energy

scroll: true
pageClass: single-post
category: PRESS-RELEASE 
category_href: press-release.html
child_category: UDPR
child_category_href: press-release.html
tags:
- name: Ufuture,
  href: press-release.html
- name: UDP,
  href: press-release-udp.html
- name: LVIVTECH CITY,
  href: press-release.html
- name: UFUTURE,
  href: press-release.html
subcategories:
- name: Ufuture,
  href: press-release.html
- name: UDP,
  href: press-release-udp.html
- name: LVIVTECH CITY,
  href: press-release.html
- name: UFUTURE
  href: press-release.html




---
{% extends "layouts/_single-post.html" %}

{% block content %}
  <main class="page__article sc bg-gradient--h300 sc--media">
    <div class="container">
      <span class="position-top">
        {% include "partials/_follow.html" %}
      </span>
      <div class="container-inner">
        <div class="row">
          <article class="post col-2-3_md">
              <div class="breadcrumbs">
                <span class="breadcrumbs__item">
                  <a href="media.html" class="breadcrumbs__link">NEWSROOM</a>
                </span>
                <span class="breadcrumbs__divider">&gt;</span>
                <span class="breadcrumbs__item">
                    <a href="{% if category_href %}{{ category_href }}{% else %}[category_href]{% endif %}" class="breadcrumbs__link">{% if category %}{{ category }}{% else %}[category]{% endif %}</a>
                </span>              
                <span class="breadcrumbs__divider">&gt;</span>
                <span class="breadcrumbs__item">
                    <a href="{% if child_category_href %}{{ child_category_href }}{% else %}[child_category_href]{% endif %}" class="breadcrumbs__link">{% if child_category %}{{ child_category }}{% else %}[child_category]{% endif %}</a>
                </span> 
                <span class="breadcrumbs__item"></span>
              </div>
            <!-- start press-release -->
            <article class="post post--single">
              <div class="post__image-front">
                <span href="single-news-001.html" class="link">
                  <img class="img-responsive b-lazy post__image-back" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="img/temp/press-release/udpr.jpg" alt="news-image">
                </span>
              </div>
              <div class="post__content">
                <h1 class="post__heading">UDP started their business in the alternative energy</h1>
                <div class="post__meta">
                  <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00"> 25 September, 2017</time>
                  <a href="#" class="post__category">UDPR</a>
                </div>
                <p class="post__text">The company is building a 50 MW capacity solar power plant in the Kyiv region</p>
                <p class="post__text">UDP group decided to enter the green energy market in Ukraine. Plans for 2017-2022 include the startup of new solar and wind power facilities with 300 MW of total capacity. UDP Renewables company has been launched to lead the new direction. </p>
                <p class="post__text">The construction of the first solar power plant (SPP) is to take place at a rented location of 105 hectares in the village of Velyka Dymerka in Brovary district of Kyiv region. The project will be implemented with technical support provided by JINKO Solar, the world’s leading producer of solar modules.</p>
                <p class="post__text">Total capacity planned for the SPP in Velyka Dymerka is 50 MW. The first phase of the plant’s construction with 6MW capacity unit has been accomplished and connected to the energy grid in August this year. The second and the third units will both provide the power of 9 MW. The capacity of the fourth unit of Dymerka SPP is expected to be 26 MW. The project is to be completed in 2018. </p>
                <p class="post__text">«UDP company has always been up to date. Over the past decade, green energy has become a pillar of the new economy of knowledge and technology. We consider the renewable energy sphere as our strategic direction both for our business group, and our country», – majority shareholder of UDP, Ukrainian entrepreneur Vasyl Khmelnytsky said.  </p>
                <p class="post__text">The operating partner of UDP Renewables is Serhiy Yevtushenko, Vice President of Polish-Ukrainian Chamber of Trade and Commerce.  </p>
                <p class="post__text"> «The project will have a long-term positive impact upon our country’s energy independence, strengthening its energy balance and the overall environmental situation in Ukraine. Our first initiative in this direction is taking place in Kyiv region, but soon we plan to launch new solar power plants in the south of Ukraine, particularly in Odesa, Mykolaiv and Kherson regions, where the efficiency of such projects is potentially higher», – UDP Renewables operating partner Serhiy Yevtushenko mentioned </p>
                <p class="post__text" style="font-weight: 500;">Additional information </p>
                <p class="post__text">UDP is one of Ukraine’s leading development groups operating in the market for 15 years. Currently UDP is successfully implementing long-term investment projects it has initiated previously. Among the most famous are Kyiv airport development, construction of OCEAN PLAZA shopping and entertainment center, and «Novopecherski Lypky», «Bulvar Fontaniv», «RiverStone», «Parkove Misto» housing complexes.  </p>
                <p class="post__text">UDP Renewables – the UDP group company, which works in the alternative energy sector. The company plans to launch new solar and wind power facilities with the total capacity of 300 MW by 2022. The first phase of the Dymerka SPP with 6MW capacity unit has been connected to the energy grid of Ukraine in August 2017. </p>
                <p class="post__text">Ukrainian entrepreneur and philanthropist Vasyl Khmelnytskyy is the group’s majority stakeholder. His investment touches on different businesses with a focus on cooperation and shared management. Today he particularly concentrates on the development of Unit.City and LvivTech.City innovation parks, as well as Bila Tserkva industrial park.  </p>
                <p class="post__text">He also grants support for social initiatives such as the Kyiv International Economic Forum (KIEF), contemporary regional development model of “Bila Tserkva - 2025”; unique educational IT factory UNIT Factory; projects by the Osvitoria Social Organization, particularly a modern secondary school in Kyiv («Novopecherska School») and iLearn online platform for orphans and children from low-income families; BIONIC University - the first inter-corporate IT university  in Ukraine, K.Fund Books publishing project, Lean Institute Ukraine (LIU), and others. For further details, please visit <a class="post-link" href="http://kfund.ua/" target="_blank" >kfund.ua.</a> </p>
                <p class="post__text">Serhiy Yevtushenko is Vice President of Polish-Ukrainian Chamber of Trade and Commerce, ex-chairperson of State Investment Agency (2014-2015), partner of investment company Merit Investment Group (2005-2009), executive director of NGO «Institute of Euro-Atlantic Cooperation» (2001-2005).  </p>
                <p class="post__text">To read the exclusive interview with Serhiy Yevtushenko about the development of UDP Renewables project, <a class="post-link" href="http://interfax.com.ua/news/interview/442337.html" target="_blank" rel="nofollow"> click here</a>.</p>
                

              </div>
            </article>
            <!-- start press-release -->
            <ul style="display: none;" class="single__tags tags tags--footer">
              {% for tag in tags %}
                <li class="tags__item">
                  <a href="{{tag.href}}" class="tags__link">{{tag.name}}</a>
                </li>
              {% endfor %}
            </ul>
            <div class="post__share" style="display: none;">
              <div class="u-follow u-follow--share">
                <div class="u-follow__box">
                  <div class="u-follow__inline-text">
                    <p class="u-follow__p">Share</p>
                      <span class="u-follow__line"></span> 
                  </div>
                  <ul class="u-follow__inline-soc">
                    <li class="u-follow__soc-i"> <a href="https://www.facebook.com/UFuture-307751569628589/" class="sq" target="_blank">
                      <span class="sq__box">
                        <i class="sq__vcenter">
                          <svg class="icon icon-facebook"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#icon-facebook"></use></svg>
                        </i>
                      </span>
                    </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </article>
          <aside class="sidebar col-1-3_md">
            <h2 class="news__aside-h news__aside-h--first">Last PRESS-RELEASES</h2>
            {% include "partials/single-post/_slider-last-press-release.html" %}
            <h4 class="news__aside-h">Tags</h4>
            <ul class="single__tags tags">
              {% for subcategory in subcategories %}
                <li class="tags__item">
                  <a href="{{subcategory.href}}" class="tags__link">{{subcategory.name}}</a>
                </li>
              {% endfor %}
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </main>
{% endblock %}