---
title: UDP Renewables анонсує серію масштабних проектів у галузі відновлювальної енергетики в Україні

scroll: true
pageClass: single-post
category: PRESS-RELEASE 
category_href: press-release.html
child_category: URPR
child_category_href: press-release.html
tags:
- name: UDPR,
  href: single-company-biofarma.html
- name: But Camp,
  href: press-release.html
- name: Summer Camp
  href: press-release.html
subcategories:
- name: UDPR,
  href: press-release.html
- name: LVIVTECH CITY
  href: press-release.html

---
{% extends "layouts/_single-post.html" %}

{% block content %}
  <main class="page__article sc bg-gradient--h300 sc--media">
    <div class="container">
      <span class="position-top">
        {% include "partials/_follow.html" %}
      </span>
      <div class="container-inner">
        <div class="row">
          <article class="post col-2-3_md">
              <div class="breadcrumbs">
                <span class="breadcrumbs__item">
                  <a href="media.html" class="breadcrumbs__link">NEWSROOM</a>
                </span>
                <span class="breadcrumbs__divider">&gt;</span>
                <span class="breadcrumbs__item">
                    <a href="{% if category_href %}{{ category_href }}{% else %}[category_href]{% endif %}" class="breadcrumbs__link">{% if category %}{{ category }}{% else %}[category]{% endif %}</a>
                </span>              
                <span class="breadcrumbs__divider">&gt;</span>
                <span class="breadcrumbs__item">
                    <a href="{% if child_category_href %}{{ child_category_href }}{% else %}[child_category_href]{% endif %}" class="breadcrumbs__link">{% if child_category %}{{ child_category }}{% else %}[child_category]{% endif %}</a>
                </span> 
                <span class="breadcrumbs__item"></span>
              </div>
            <!-- start press-release -->
            <article class="post post--single">
              <div class="post__image-front">
                <span href="single-news-001.html" class="link">
                  <img class="img-responsive b-lazy post__image-back" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="img/temp/press-release/udpr2.jpg" alt="news-image">
                </span>
              </div>
              <div class="post__content">
                <h1 class="post__heading">UDP Renewables анонсує серію масштабних проектів у галузі відновлювальної енергетики в Україні
</h1>
                <div class="post__meta">
                  <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00"> 20 October, 2017</time>
                  <a href="#" class="post__category">UDPR</a>
                </div>
                <p class="post__text">Компанія ставить амбітну мету — зробити альтернативні джерела енергії основними для України. Першим успішно реалізованим на цьому шляху проектом стала найбільша в Київській області Димерська СЕС-1. </p>
                <p class="post__text">Компанія UDP Renewables, яка входить до групи UDP, оголосила про масштабні плани щодо трансформування енергетичного ринку України. Компанія вже запустила сонячну електростанцію на Київщині й готує до реалізації аналогічні проекти в Одеській, Миколаївській та Херсонській областях. Ця ініціатива матиме довгостроковий позитивний вплив на енергетичну незалежність і екологічну обстановку в Україні. </p>
                <blockquote>«Напрямок альтеративної енергетики є стратегічним як для групи UDP, так і для всієї країни. Загалом, до 2022 року UDP Renewables планує ввести в експлуатацію об'єкти сонячної та вітрової енергетики сумарною потужністю 300 МВт, залучивши до співпраці провідні світові компанії», <cite>— зазначив український підприємець, мажоритарний акціонер UDP Василь Хмельницький.</cite> </blockquote>
                <p class="post__text">«Відновлювана енергетика — це потужний глобальний тренд, і ми прагнемо, щоб Україна крокувала в ногу з прогресом. Зелені енерготехнології стають ефективнішими та дешевшими, й згодом витіснятимуть традиційні. Вважаю, що протягом наступних 15 років технології мають усі шанси помінятися місцями: альтернативні джерела енергії стануть основними, а традиційна теплова генерація — альтернативною», — коментує керуючий партнер UDP Renewables Сергій Євтушенко </p>
                <p class="post__text">Першим реалізованим етапом стало будівництво сонячної електростанції (СЕС) у смт Велика Димерка Броварського району Київської області. До енергосистеми країни вже підключено першу чергу цієї СЕС потужністю 6 МВт, яка складається з 22 200 сонячних модулів. У 2018 році будуть завершені три наступні черги, а загальна  потужність Димерської СЕС досягне 50 МВт, що відповідає 5% потужності типового блоку атомної електростанції. </p>
                <p class="post__text">У IV кварталі цього року буде розпочато будівництво двох нових СЕС: на 17,5 МВт у Херсонській області та на 10 МВт — в Одеській. Загалом, на сьогодні сумарний об’єм підготовлених проектів компанії UDP Renewables у південних областях України сягає 120 МВт.  </p>
                <p class="post__text">Протягом наступних п’яти років група UDP планує інвестувати в програму розвитку альтернативної енергетики близько $300 млн, з яких вже інвестовано майже $10 млн. Також є намір залучити до проекту кошти міжнародних фінансових інституцій та міжнародних партнерів </p>
                <p class="post__text">UDP — одна з провідних девелоперських груп в Україні, яка працює на ринку вже 15 років. Ініціювала й успішно реалізує довгострокові інвестиційні проекти. Серед найбільш відомих — розвиток аеропорту «Київ», будівництво столичних торговельно-розважального центру OCEAN PLAZA та комплексів «Новопечерські Липки», «Бульвар Фонтанів», RiverStone, «Паркове місто».  </p>
                <p class="post__text">UDP Renewables — компанія групи UDP, яка працює в галузі альтернативної енергетики. Компанія планує ввести в експлуатацію нові об’єкти в сонячній та вітровій енергетиці загальною потужністю 300 МВт до 2022 року. В серпні 2017 року до енергосистеми України було підключено перші 6 МВт Димерської СЕС. </p>
                
                

              </div>
            </article>
            <!-- start press-release -->
            <ul style="display: none;"  class="single__tags tags tags--footer">
              {% for tag in tags %}
                <li class="tags__item">
                  <a href="{{tag.href}}" class="tags__link">{{tag.name}}</a>
                </li>
              {% endfor %}
            </ul>
             <div class="post__share" style="display: none;">
              <div class="u-follow u-follow--share">
                <div class="u-follow__box">
                  <div class="u-follow__inline-text">
                    <p class="u-follow__p">Share</p>
                      <span class="u-follow__line"></span> 
                  </div>
                  <ul class="u-follow__inline-soc">
                    <li class="u-follow__soc-i"> <a href="https://www.facebook.com/UFuture-307751569628589/" class="sq" target="_blank">
                      <span class="sq__box">
                        <i class="sq__vcenter">
                          <svg class="icon icon-facebook"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#icon-facebook"></use></svg>
                        </i>
                      </span>
                    </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </article>
          <aside class="sidebar col-1-3_md">
            <h2 class="news__aside-h news__aside-h--first">Last PRESS-RELEASES</h2>
            {% include "partials/single-post/_slider-last-press-release.html" %}
            <h4 class="news__aside-h">Tags</h4>
            <ul class="single__tags tags">
              {% for subcategory in subcategories %}
                <li class="tags__item">
                  <a href="{{subcategory.href}}" class="tags__link">{{subcategory.name}}</a>
                </li>
              {% endfor %}
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </main>
{% endblock %}