---
title: UDP ДОЛУЧАЄТЬСЯ ДО ПРОЕКТУ БУДІВНИЦТВА ІННОВАЦІЙНОГО ПАРКУ У ЛЬВОВІ

scroll: true
pageClass: single-post
category: PRESS-RELEASE 
category_href: press-release.html
child_category: LVIVTECH CITY
child_category_href: press-release.html
tags:
- name: UDPR,
  href: press-release.html
- name: LVIVTECH CITY,
  href: press-release.html
subcategories:
- name: UDPR,
  href: press-release.html
- name: LVIVTECH CITY
  href: press-release.html

   

---
{% extends "layouts/_single-post.html" %}

{% block content %}
  <main class="page__article sc bg-gradient--h300 sc--media">
    <div class="container">
      <span class="position-top">
        {% include "partials/_follow.html" %}
      </span>
      <div class="container-inner">
        <div class="row">
          <article class="post col-2-3_md">
              <div class="breadcrumbs">
                <span class="breadcrumbs__item">
                  <a href="media.html" class="breadcrumbs__link">Media</a>
                </span>
                <span class="breadcrumbs__divider">&gt;</span>
                <span class="breadcrumbs__item">
                    <a href="{% if category_href %}{{ category_href }}{% else %}[category_href]{% endif %}" class="breadcrumbs__link">{% if category %}{{ category }}{% else %}[category]{% endif %}</a>
                </span>              
                <span class="breadcrumbs__divider">&gt;</span>
                <span class="breadcrumbs__item">
                    <a href="{% if child_category_href %}{{ child_category_href }}{% else %}[child_category_href]{% endif %}" class="breadcrumbs__link">{% if child_category %}{{ child_category }}{% else %}[child_category]{% endif %}</a>
                </span> 
                <span class="breadcrumbs__item"></span>
              </div>
            <!-- start press-release -->
            <article class="post post--single">
              <div class="post__image-front">
                <span href="single-news-001.html" class="link">
                  <img class="img-responsive b-lazy post__image-back" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="img/temp/press-release/lviv.jpg" alt="news-image">
                </span>
              </div>
              <div class="post__content">
                <h1 class="post__heading">UDP ДОЛУЧАЄТЬСЯ ДО ПРОЕКТУ БУДІВНИЦТВА ІННОВАЦІЙНОГО ПАРКУ У ЛЬВОВІ </h1>
                <div class="post__meta">
                  <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00"> 23 May, 2017</time>
                  <a href="#" class="post__category">LVIVTECH CITY</a>
                </div>
                <p class="post__text">Провідна українська девелоперська компанія UDP візьме участь у створенні інноваційного парку у Львові разом із ТОВ «ЛьвівСтандартБуд». Інноваційний парк має стати центром виробництва конкурентоспроможних ІТ-продуктів та сприяти працевлаштуванню українських фахівців зі сфери високих технологій та суміжних галузей.  </p>
                <p class="post__text">Київ, 23 травня 2017 року — Компанія UDP та ТОВ «ЛьвівСтандартБуд» домовилися щодо спільного будуівництва Львівського інноваційного парку. Проект передбачає створення приміщень та інфраструктури, що мають забезпечити комфортні умови для роботи компаній-розробників високотехнологічних ІТ-продуктів. Для участі у проекті UDP придбала 25% частку ТОВ «ЛьвівСтандартБуд».   </p>
                <p class="post__text">«Для нас це більшою мірою соціальний проект. Його орієнтовний термін окупності понад 15 років, але я вважаю це стратегічною інвестицією. Майбутнє України — за розвитком передових технологій, а Львів має високий потенціал у цій царині. Ми будемо раді використати свої знання та досвід, щоб побудувати сучасний європейський інноваційний парк. Це позитивно позначиться на соціально-економічному становищі не тільки міста, але й країни в цілому», – коментує акціонер UDP, засновник K.Fund, український підприємець Василь Хмельницький.   </p>
                <p class="post__text">Концепція інноваційного парку базується на тому, що новітні ідеї та проекти  народжуються й успішно розвиваються там, де для цього існують необхідні умови. Ключова з них: наявність спільноти однодумців, які можуть вільно обмінюватися ідеями та знаннями. Львівський інноваційний парк створить такі умови — буде побудовано три офісні центри загальною площею понад 50 тис. м² із сучасною комфортною екосистемою розраховані на більш як 3 тисячі нових робочих місць.  </p>
                <p class="post__text">Крім того, компанія розглядає можливість відкриття у Львівському інноваційному парку освітнього закладу формату французької IT-школи 42. Окрім Парижа, вона сьогодні має представництва у Каліфорнії та Києві (більше інформації — за посиланням). Парк буде розташовано на ділянці 1,77 га на території нинішньої промзони між вулицями Сахарова та Стрийською за адресою  </p>
                <p class="post__text"><a class="post-link" href="http://www.udp.ua/" target="_blank" >UDP</a> — девелоперська компанія, яка 14 років здійснює реалізацію й управління проектами нерухомості в Україні, забезпечуючи їх комплексний цикл розвитку. В активі компанії — розвиток таких масштабних проектів, як столичні ТРЦ OCEAN PLAZA і аеропорт «Київ», житлових комплексів «Новопечерські Липки», «Бульвар Фонтанів», RiverStone, «Паркове місто», апартаментів Maristella в Одесі. Впровадження передових технологій дозволяє UDP створювати проекти, унікальні як з архітектурної, так і з технічної точки зору.   </p>
                <p class="post__text">Василь Хмельницький — перший віце-президент Українського союзу промисловців і підприємців, засновник K.Fund. Інвестує в розвиток різних бізнесів в Україні, таких як UDP (девелопмент), «Біофарма» (фармацевтична галузь), Star Media (виробництво кіно- та телепродукції), РТМ (національний оператор реклами), надаючи переваги співробітництву та спільному управлінню. В планах підприємця — створення високотехнологічних промислових виробництв, розвиток інноваційних парків, залучення зарубіжних інвестицій і технологій в Україну  </p>
                <p class="post__text">Фонд Василя Хмельницького <a class="post-link" href="http://kfund.ua" target="_blank" > K.Funda</a> підтримує низку освітніх і громадських ініціатив: Київський міжнародний економічний форум, інноваційну загальноосвітню школу «Новопечерська школа» в Києві, онлайн-платформу iLearn для учнів з дитячих будинків та малозабезпечених сімей, фабрику програмування UNIT Factory, магістерську програму публічного адміністрування в Національному університеті «Києво-Могилянська академія», перший в Україні міжкорпоративний IT-університет BIONIC University, видавничий проект «Бібліотека Хмельницького» та ін. </p>

                               

              </div>
            </article>
            <!-- start press-release -->
            <ul style="display: none;" class="single__tags tags tags--footer">
              {% for tag in tags %}
                <li class="tags__item">
                  <a href="{{tag.href}}" class="tags__link">{{tag.name}}</a>
                </li>
              {% endfor %}
            </ul>
            <div class="post__share" style="display: none;">
              <div class="u-follow u-follow--share">
                <div class="u-follow__box">
                  <div class="u-follow__inline-text">
                    <p class="u-follow__p">Share</p>
                      <span class="u-follow__line"></span> 
                  </div>
                  <ul class="u-follow__inline-soc">
                    <li class="u-follow__soc-i"> <a href="https://www.facebook.com/UFuture-307751569628589/" class="sq" target="_blank">
                      <span class="sq__box">
                        <i class="sq__vcenter">
                          <svg class="icon icon-facebook"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#icon-facebook"></use></svg>
                        </i>
                      </span>
                    </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </article>
          <aside class="sidebar col-1-3_md">
            <h2 class="news__aside-h news__aside-h--first">Last PRESS-RELEASES</h2>
            {% include "partials/single-post/_slider-last-press-release.html" %}
            <h4 class="news__aside-h">Tags</h4>
            <ul class="single__tags tags">
              {% for subcategory in subcategories %}
                <li class="tags__item">
                  <a href="{{subcategory.href}}" class="tags__link">{{subcategory.name}}</a>
                </li>
              {% endfor %}
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </main>
{% endblock %}