---
title: Vasyl Khmelnytsky launches an investment group UFuture 

scroll: true
pageClass: single-post
category: PRESS-RELEASE 
category_href: press-release.html
child_category: Ufuture
child_category_href: press-release.html
tags:
- name: Ufuture,
  href: press-release.html
- name: UDP,
  href: press-release-udp.html
- name: LVIVTECH CITY,
  href: press-release.html
- name: UFUTURE,
  href: press-release.html
subcategories:
- name: Ufuture,
  href: press-release.html
- name: UDP,
  href: press-release-udp.html
- name: LVIVTECH CITY,
  href: press-release.html
- name: UFUTURE
  href: press-release.html


---
{% extends "layouts/_single-post-vklaigup.html" %}

{% block content %}
  <main class="page__article sc bg-gradient--h300 sc--media">
    <div class="container">
      <span class="position-top">
        {% include "partials/_follow.html" %}
      </span>
      <div class="container-inner">
        <div class="row">
          <article class="post col-2-3_md">
              <div class="breadcrumbs">
                <span class="breadcrumbs__item">
                  <a href="media.html" class="breadcrumbs__link">Newsroom</a>
                </span>
                <span class="breadcrumbs__divider">&gt;</span>
                <span class="breadcrumbs__item">
                    <a href="{% if category_href %}{{ category_href }}{% else %}[category_href]{% endif %}" class="breadcrumbs__link">{% if category %}{{ category }}{% else %}[category]{% endif %}</a>
                </span>              
                <span class="breadcrumbs__divider">&gt;</span>
                <span class="breadcrumbs__item">
                    <a href="{% if child_category_href %}{{ child_category_href }}{% else %}[child_category_href]{% endif %}" class="breadcrumbs__link">{% if child_category %}{{ child_category }}{% else %}[child_category]{% endif %}</a>
                </span> 
                <span class="breadcrumbs__item"></span>
              </div>
            <!-- start press-release -->
            <article class="post post--single">
              <div class="post__image-front">
                <span href="single-news-001.html" class="link">
                  <img class="img-responsive b-lazy post__image-back" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="img/about-cover-min.jpg" alt="news-image">
                </span>
              </div>
              <div class="post__content">
                <h1 class="post__heading">Vasyl Khmelnytsky launches an investment group UFuture </h1>
                <div class="post__meta">
                  <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00"> 4 October, 2017</time>
                  <a href="#" class="post__category">ufuture</a>
                </div>
                <p class="post__text">UFuture Investment Group will represent the entrepreneur’s companies and projects at the local and international levels. The company is headquartered in Brussels. </p>
                <p class="post__text">Brussels, October 4, 2017 — Ukrainian entrepreneur and philanthropist Vasyl Khmelnytsky has integrated his businesses and social initiatives under one umbrella brand UFuture Investment Group. The mission of the new company is to develop the most advanced and lucrative industries in Ukraine by attracting best world practices, know-how, management skills and foreign investment into the group's projects across various sectors. The group will focus on development of high technology fields, primarily through its innovation and industrial parks, also on renewable energy, biopharmaceutics and advanced agriculture. </p>
                <p class="post__text">The group incorporates the leading Ukrainian real estate development company UDP, specialized in large-scale infrastructure projects. Additionally, the conglomerate includes new and innovative businesses, such as UDP Renewables, Bila Tserkva Industrial Park, innovation parks UNIT.City and LvivTech.City. The group is open to forming joint ventures and engaging new business partners. </p>
                <blockquote>"We believe that Ukraine is a promising market for business development, its potential can be unlocked through partnership between local and international players. It is important for us not only to attract investment for the projects, but also to bring technologies, knowledge, innovative management practices and international experience to Ukraine. It will become an impulse to foster a brand new economy in the country," <cite>Vasyl Khmelnytsky stressed.</cite> </blockquote>
                <p class="post__text">Nicholas Tymoshchuk, who served as Director of the Representative Office for the Ukrainian League of Industrialists and Entrepreneurs in the EU for the last two and a half years, has been appointed a Chief Executive Officer of UFuture Investment Group. He possesses substantial experience in business development, corporate relations, PR and GR in Ukraine, and across CIS, EU and North America. Earlier, Nicholas held top managing positions in such leading international corporations as Chevron and TNK-BP. Nicholas Tymoshchuk will coordinate the group's international activity, working with investors and partners both on existing businesses and upcoming projects. </p>
                <blockquote>"We are ready to offer international investors a 'one-stop-shop' for realization of business projects in Ukraine, primarily in the industries that we have expertise in. We are talking about specific investment projects with all intrinsic infrastructure: manufacturing facilities at the industrial parks, business growth opportunities at the innovation parks, joint investment in renewable energy, advanced initiatives in the agriculture sector and other projects managed by the group," <cite>Nicholas Tymoshchuk said.</cite></blockquote>
                <p class="post__text">Please visit ufuture.com for more details about UFuture Investment Group. </p>
                <p class="post__text" style="font-weight: 500;">Notes for Editors </p>
                <p class="post__text"><strong>Vasyl Khmelnytsky</strong> is a Ukrainian businessman and philanthropist. He has developed various businesses, giving preference to cooperation and joint management. Some of his most renowned projects are the renovation of Kyiv International Airport, the construction of the capital's shopping mall OCEAN PLAZA and such residential complexes as Novopecherski Lypki, Boulevard of Fountains, RiverStone, and Parkove Misto. He invests in UDP Renewables (alternative energy), Biofarma (pharmaceutical industry), RTM (a national advertising operator). Khmelnytsky has dedicated special attention to development of the innovation parks Unit.City and LvivTech.City, as well as the Bila Tserkva Industrial Park. </p>
                <p class="post__text">He also holds position of the First Vice President at the Ukrainian League of Industrialists and Entrepreneurs (ULIE), and is the Chair of the Supervisory Board at National Technical University "Kharkiv Polytechnic Institute." </p>
                <p class="post__text">Among public initiatives supported by the entrepreneur are Kyiv International Economic Forum (KIEF); the Bila Tserkva 2025 modern model of regional development; the unique educational IT factory UNIT Factory; as well as projects of the Osvitoria Social Organization: a modern secondary school in Kyiv — Novopecherska School and the iLearn online platform for orphans and children from disadvantaged families; the inter-corporate IT university BIONIC University (the first of its kind in Ukraine); the K.Fund Books publishing project; the School of Small and Medium Entrepreneurship (SME); Lean Institute Ukraine (LIU), information resource about new possibilities – K.Fund Media. Support of the social projects in the fields of economics and education is coordinated by Vasyl Khmelnytsky's K.Fund foundation. </p>
                
                

              </div>
            </article>
            <!-- start press-release -->
            <ul style="display: none;" class="single__tags tags tags--footer">
              {% for tag in tags %}
                <li class="tags__item">
                  <a href="{{tag.href}}" class="tags__link">{{tag.name}}</a>
                </li>
              {% endfor %}
            </ul>
            <div class="post__share" style="display: none;">
              <div class="u-follow u-follow--share">
                <div class="u-follow__box">
                  <div class="u-follow__inline-text">
                    <p class="u-follow__p">Share</p>
                      <span class="u-follow__line"></span> 
                  </div>
                  <ul class="u-follow__inline-soc">
                    <li class="u-follow__soc-i"> <a href="https://www.facebook.com/UFuture-307751569628589/" class="sq" target="_blank">
                      <span class="sq__box">
                        <i class="sq__vcenter">
                          <svg class="icon icon-facebook"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#icon-facebook"></use></svg>
                        </i>
                      </span>
                    </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </article>
          <aside class="sidebar col-1-3_md">
            <h2 class="news__aside-h news__aside-h--first">LAST PRESS-RELEASES</h2>
           {% include "partials/single-post/_slider-last-press-release.html" %}
            <h4 class="news__aside-h">Tags</h4>
            <ul class="single__tags tags">
              {% for subcategory in subcategories %}
                <li class="tags__item">
                  <a href="{{subcategory.href}}" class="tags__link">{{subcategory.name}}</a>
                </li>
              {% endfor %}
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </main>
{% endblock %}