$color_logo: #05c3de
$color_t: #54585a
$color_secondary: #05c3de
$color_light-gray: #f7f7f7
$color_news-gray: #e1e1e1
$color_gray: #f7f7f7
$color_white: #ffffff
$color_paragraph: #29262d

$font_primary: 'Open Sans', sans-serif
$font_secondary: 'ufuture-font', sans-serif

$header_height: 88
$header_mobile_h: 82

$section_pad: 60px
$heading_pad: $section_pad

// GRID

$grid_1_2: 50%

$grid_1_3: 33.33333%
$grid_2_3: 66.66667%

$grid_1_4: 25%
$grid_2_4: 50%
$grid_3_4: 75%

$grid_1_5: 20%
$grid_2_5: 40%
$grid_3_5: 60%
$grid_4_5: 80%

$grid_1_6: 16.66667%
$grid_2_6: 33.33333%
$grid_3_6: 50%
$grid_4_6: 66.66667%
$grid_5_6: 83.33333%

$grid_7_12: 58.33333%
$grid_5_12: 41.66667%
