.breadcrumbs
  position: relative
  font-size: 20px
  line-height: 27px
  color: $color_t
  font-family: $font_secondary
  font-weight: 700
  text-transform: uppercase
  margin-bottom: 50px
  +rmin(992)
    margin-left: 0px
  +r(991)
    margin-left: -15px
  +r(767)
    font-size: 17px
    line-height: 27px
    padding-left: 20px

  &:before
    content: ''
    position: absolute
    width: 3px
    height: 0.84em
    background: $color_secondary
    display: inline-block
    vertical-align: middle
    left: -44px
    top: 50%
    transform: translateY(-50%)
    margin-top: .1em
    +r(767)
      transform: translateY(0)
      top: 7px
      left: 0
  &__item
    display: inline-block
    vertical-align: bottom
  &__item:first-child
    font-size: 30px
    line-height: 36px
    +r(767)
      font-size: 25px
      line-height: 30px
  &__divider
    display: inline-block
    vertical-align: bottom
    color: $color_secondary
    margin: 0 10px
  &__link
    color: $color_t
    text-decoration: none
    +hover
      color: $color_secondary