.u-follow
  font-size: 14px
  font-weight: 300
  &__box
    position: relative
  &__text
    position: absolute
    left: 30px
    transform: rotateZ(90deg)
    transform-origin: top left
    text-align: left
    line-height: 0
  &__p
    display: inline-block
    line-height: inherit;
    margin: 0
    position: relative;
    top: 9px;
  &__line
    top: 4px
    position: relative
    display: inline-block
    width: 80px
    height: 1px
    background: $color_t
    margin-left: 20px
    margin-right: 20px
    left: 55px;
  &__soc
    padding-top: 166px
    font-size: 0