<div class="sidebar__container">
  <article class="post">
    <div class="post__image-front">
      <img class="img-responsive b-lazy post__image-back" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-src="img/Khmelnytsky-cover.jpg" alt="news-image">
    </div>
    <div class="post__content">
      <div class="post__meta">
        <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">Неділя, 15 Жовтня, 2017</time>
        <a href="#" class="post__category">Bionic University</a>
      </div>
      <h2 class="post__heading">
        <a href="single-news-001.html" class="link">Тримай баланс: 4 поради, як уникнути краху компанії</a>
      </h2>
    </div>
  </article>
  <article class="post">
    <div class="post__image-front">
      <img class="img-responsive b-lazy post__image-back" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-src="img/Khmelnytsky-cover.jpg" alt="news-image">
    </div>
    <div class="post__content">
      <div class="post__meta">
        <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">Неділя, 15 Жовтня, 2017</time>
        <a href="#" class="post__category">Bionic University</a>
      </div>
      <h2 class="post__heading">
        <a href="single-news-001.html" class="link">Тримай баланс: 4 поради, як уникнути краху компанії</a>
      </h2>
    </div>
  </article>
</div>
