<div class="sidebar__container">
  <!-- one -->
  <article class="post post--hover">

    <div class="post__content">
      <div class="post__meta">
        <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">4 October, 2017</time>
        
      </div>
      <h3 class="post__heading">
        <a href="vasyl-khmelnytsky-launches-an-investment-group-ufuture.html" class="link">UDP RENEWABLES АНОНСУЄ СЕРІЮ МАСШТАБНИХ ПРОЕКТІВ У ГАЛУЗІ ВІДНОВЛЮВАЛЬНОЇ ЕНЕРГЕТИКИ В УКРАЇНІ</a>
      </h3>
    </div>
  </article>
  <!-- end one -->
  <!-- two -->
  <article style="display:none;" class="post post--hover">

    <div class="post__content">
      <div class="post__meta">
        <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">25 September, 2017</time>
        
      </div>
      <h3 class="post__heading">
        <a href="udp-started-their-business-in-the-alternative-energy.html" class="link">UDP STARTED THEIR BUSINESS IN THE ALTERNATIVE ENERGY</a>
      </h3>
    </div>
  </article>
</div>
<!-- end two -->