<div class="sidebar__container">
  <!-- one -->
  <article class="post post--hover">

    <div class="post__content">
      <div class="post__meta">
        <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">18 October, 2017</time>
        
      </div>
      <h3 class="post__heading">
        <a href="vidteper-na-svij-rejs-v-aeroporti-kyyiv-mozhna-zareyestruvatysya-samostijno.html" class="link">ВІДТЕПЕР НА СВІЙ РЕЙС В АЕРОПОРТІ «КИЇВ» МОЖНА ЗАРЕЄСТРУВАТИСЯ САМОСТІЙНО</a>
      </h3>
    </div>
  </article>
  <!-- end one -->
  <!-- two -->
  <article class="post post--hover">

    <div class="post__content">
      <div class="post__meta">
        <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">26 September, 2017</time>
        
      </div>
      <h3 class="post__heading">
        <a href="do-2022-roku-ukrayinska-udp-investuye-300-mln-v-alternatyvnu-energetyku.html" class="link">ДО 2022 РОКУ УКРАЇНСЬКА UDP ІНВЕСТУЄ $300 МЛН В АЛЬТЕРНАТИВНУ ЕНЕРГЕТИКУ</a>
      </h3>
    </div>
  </article>
</div>
<!-- end two -->