<div class="sidebar__container">
  <!-- one -->
  <article class="post post--hover">

    <div class="post__content">
      <div class="post__meta">
        <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">18 October, 2017</time>
        
      </div>
      <h3 class="post__heading">
        <a href="kiev-international-economic-forum.html" class="link">KIEV INTERNATIONAL ECONOMIC FORUM</a>
      </h3>
    </div>
  </article>
  <!-- end one -->
  <!-- two -->
  <article class="post post--hover">

    <div class="post__content">
      <div class="post__meta">
        <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">12 October, 2017</time>
        
      </div>
      <h3 class="post__heading">
        <a href="steve-wozniak-at-unit-factory.html" class="link">STEVE WOZNIAK AT UNIT FACTORY</a>
      </h3>
    </div>
  </article>
</div>
<!-- end two -->