<section id="about" class="sc about">
  <div class="container">
    <div class="container-inner">
      <header class="sc__header">
        <h2 class="h2 sc__heading">Про нас</h2>
      </header>
      <p class="about__t">UFuture – це конгломерат та інвестиційна компанія, заснована українським підприємцем та філантропом Василем Хмельницьким. UFuture представляє його компанії та проекти в Україні та за кордоном, а також координує їхню діяльність на міжнародній арені.</p>
      <footer class="about__links">
        <a href="#" class="about__link">Наші компанії</</a>
        <a href="#" class="about__link">Соціальні проекти</a>
      </footer>
    </div>
  </div>
</section>
