<section id="about" class="sc about">
  <div class="container">
    <div class="container-inner about__container">
      <header class="sc__header">
        <h2 class="h2 sc__heading">About Us</h2>
      </header>
      {% include "partials/_follow.html" %}
      <p class="about__t">UFuture is a conglomerate and investment company founded by the Ukrainian entrepreneur and philanthropist Vasyl Khmelnytsky. UFuture represents his businesses and projects worldwide, coordinating the group's international activities.
      </p>
      <footer class="about__footer">
        <ul class="inline-list">
          <li class="inline-list__item">
            <a href="/our-companies.html" class="inline-list__link">OUR COMPANIES</a>
          </li>
          <li class="inline-list__item">
            <a href="/social-projects.html" class="inline-list__link">SOCIAL INVESTMENT</a>
          </li>
        </ul>
      </footer>
    </div>
  </div>
</section>
