<section id="about" class="sc about">
  <div class="container">
    <header class="sc__header">
        <h2 class="h2 sc__heading">Why us</h2>
    </header>
    <p class="about__t">UFuture is a conglomerate and investment company founded by the Ukrainian entrepreneur and philanthropist Vasyl Khmelnytsky. UFuture represents his businesses and projects worldwide, coordinating the group's international activities.</p>
    <footer class="about__links">
        <a href="#" class="about__link">Our companies</a>
        <a href="#" class="about__link">Social investment</a>
    </footer>
  </div>
</section>