                <div class="u-follow">
               
                  <div class="u-follow__box">
                <div id="about--follow">
                    <div class="u-follow__text">
                      <p class="u-follow__p">Follow</p>
                      <span class="u-follow__line"></span>
                    </div>
                    <ul class="u-follow__soc">
                      <li class="u-follow__soc-i">
                        <a href="https://www.facebook.com/UFuture-307751569628589/" class="sq" target="_blank">
                          <span class="sq__box">
                            <i class="sq__vcenter">{{mixins.icon('facebook')}}</i>
                          </span>
                        </a>
                      </li>
                    </ul>
                </div>
                 </div> 
                </div>
                