<footer class="footer sc">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-4">
          <div class="footer__address">
            <div class="footer__location">UA</div>
            <div class="footer__details">
              13-15 Bolsunovska Street IQ Business Centre, 01014 Kyiv, Ukraine Tel/Fax: +38 044 364 38 28 Email: info@ufuture.com
            </div>
          </div>
        </div>
        <div class="col-1-4">
          <div class="footer__location">EU</div>
          <div class="footer__details">
            168 Avenue de Cortenbergh B-1000 Brussels Tel: +32 2 736 72 13 Fax: +32 2 735 16 01 Email: info@ufuture.com
          </div>
        </div>
        <div class="col-1-4">
          <ul class="footer__nav nav">
            <li class="nav__item">
              <a href="#" class="nav__link">Home</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Why us</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Founder</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Our companies</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Social investment</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Media</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">CONTACTS</a>
            </li>
          </ul>
        </div>
        <div class="col-1-4">

        </div>
      </div>
    </div>
  </div>
</footer>
