<footer class="footer sc" itemscope="" itemtype="//schema.org/LocalBusiness">
  <div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-1-1 col-1-2_md col-1-4_lg footer__col">
          <div class="footer__address">
            <div class="footer__location">UA</div>
            <div class="footer__details">
              <span itemprop="address">13-15 Bolsunovska Street IQ Business Centre, <br>
              01014 Kyiv, Ukraine
              </span><br>
              <span>Tel/Fax: <i class="i-prop" itemprop="telephone">+38 044 364 38 28</i></span><br>
              <span>Email: <a class="i-prop footer__mail" itemprop="email" href="mailto:inquiry@ufuture.com">inquiry@ufuture.com</a></span>
            </div>
          </div>
        </div>
        <div class="col-1-1 col-1-2_md col-1-4_lg footer__col">
          <div class="footer__location">EU</div>
          <div class="footer__details">
              <span itemprop="address">168 Avenue de Cortenbergh, B-1000 Brussels 
</span><br>
              <span>Tel: <i class="i-prop" itemprop="telephone">+32 2 736 72 13</i></span><br>
              <span>Fax: <i class="i-prop" itemprop="telephone">+32 2 735 16 01</i></span><br>
              <span>Email: <a class="i-prop footer__mail" itemprop="email" href="mailto:inquiry@ufuture.com">inquiry@ufuture.com</a></span>
          </div>
        </div>
        <div class="col-1-1 col-1-2_md col-1-4_lg footer__col">
          <ul class="footer__nav nav">
            <li class="nav__item">
              <a href="index.html" class="nav__link">home</a>
            </li>
            <li class="nav__item">
              <a href="about-us.html" class="nav__link">About Us</a>
            </li>
            <li class="nav__item">
              <a href="founder.html" class="nav__link">Founder</a>
            </li>
            <li class="nav__item">
              <a href="our-companies.html" class="nav__link">Our Companies</a>
            </li>
            <li class="nav__item">
              <a href="social-projects.html" class="nav__link">Social Investment</a>
            </li>
            <li class="nav__item">
              <a href="media.html" class="nav__link">Media</a>
            </li>
            <li class="nav__item">
              <a href="contacts" class="nav__link">Contacts</a>
            </li>
          </ul>
        </div>
        <div class="col-1-1 col-1-2_md col-1-4_lg footer__col footer__community">
          <div class="sq-group">
            <a href="https://www.facebook.com/UFuture-307751569628589/" class="sq" target="_blank">
              <span class="sq__box">
                <i class="sq__vcenter">{{mixins.icon('facebook')}}</i>
              </span>
            </a>
            <!--
            <a href="#" class="sq">
              <span class="sq__box">
                <i class="sq__vcenter">{{mixins.icon('facebook')}}</i>
              </span>
            </a>
            <a href="#" class="sq">
              <span class="sq__box">
                <i class="sq__vcenter">{{mixins.icon('facebook')}}</i>
              </span>
            </a>
          -->
          </div>
          <div class="footer__s-form">
            <form action="" class="u-form u-form--inline js-subscribe footer__s">
              <div class="u-form__group footer__s-input">
                <input type="email" class="u-form__input" placeholder="Email Address" required>
                <i class="u-form__b"></i>
              </div>
              <button class="no-btn sq footer__s-btn" type="submit">
                <span class="sq__box sq__rotate90m">
                  <i class="sq__vcenter">{{mixins.icon('arrow-down')}}</i>
                </span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <p>Copyright 2017 All Rights Reserved — UFuture Investment Group</p>
</div>
