<section id="founder" class="sc founder">
  <div class="container">
    <div class="container-inner founder__row">
      <div class="founder__col-l">
        <header class="sc__header">
          <h2 class="sc__heading sc__heading--bwhite">Founder</h2>
        </header>
        <h3 class="founder__name">Vasyl Khmelnytsky</h3>
        <p>Vasyl Khmelnytsky is a prominent Ukrainian entrepreneur and philanthropist. Over the years he has invested in the
          development of various businesses in Ukraine and abroad, each with its individual configuration of partners, shareholding
          structure, and management team.</p>
        <p>Today, Vasyl Khmelnytsky’s main assets are concentrated in real estate development business. He is a majority shareholder
          in UDP company that has successfully implemented massive infrastructure projects, among which Kyiv International
          Airport, Bila Tserkva Industrial Park, Ocean Plaza shopping mall as well as numerous residential complexes. Khmelnytsky
          is also a major ...investor in Biofarma pharmaceutical company, Star Media film and TV production company and RTM</p>
        <footer>
          <a href="#" class="read-more">read more ...</a>
        </footer>
      </div>
      <div class="founder__col-r">
          <img class="founder__img" src="/img/khmelnytsky.png" alt="khmelnytsky">
      </div>
    </div>
  </div>
</section>
