<section id="founder" class="sc founder">
  <div class="container">
    <div class="container-inner founder__row">
      <div class="founder__col-l">
        <header class="sc__header">
          <h2 class="sc__heading">Founder</h2>
        </header>
        <h3 class="founder__name">Vasyl Khmelnytsky</h3>
        <p>Vasyl Khmelnytsky is a Ukrainian entrepreneur and philanthropist. He has created a number of successful businesses across diverse industries. He is also an active philanthropist passionate about education and innovation.</p>
        <blockquote class="founder__blockquote">
          <p>“I want to create an equivalent of the American Silicon Valley in Ukraine,and I’m actually doing it<span class="founder__b-1-hide">. This will be the territory bringing together manufacturing and research companies, </span><a href="/founder.html" class="founder__b-1 link">...</a><span class="founder__b-2-hide">start-ups that work in IT and high-tech areas. At the core of the Silicon Valley there are research resources of Stanford University. We start with the UNIT Factory — this will be the heart of the future high-tech park”.</span><a href="/founder.html" class="founder__b-2 link">...</a></p>
          <cite>Vasyl Khmelnytsky, from the interview to Panorama magazine, January 2017</cite>
        </blockquote>
        <footer class="founder__footer">
          <a href="founder.html" class="read-more">Read More
            <div class="loading-dot-button ">
              <div class="loading-dot"></div>
              <div class="loading-dot"></div>
              <div class="loading-dot"></div>
            </div>
            <span class="angle angle--right"></span>
          </a>
        </footer>
      </div>
      <div class="founder__col-r">
        <img class="founder__img" src="img/khmelnytsky.png" alt="khmelnytsky">
      </div>
    </div>
  </div>
</section>
