<section id="founder" class="sc founder">
  <div class="container">
    <div class="container-inner founder__row">
      <div class="founder__col-l">
        <header class="sc__header">
          <h2 class="sc__heading">Founder</h2>
        </header>
        <h3 class="founder__name">Vasyl Khmelnytsky</h3>
        <p>Vasyl Khmelnytsky is a prominent Ukrainian entrepreneur and philanthropist. Over the years he has invested in the
          development of various businesses in Ukraine and abroad, each with its individual configuration of partners, shareholding
          structure, and management team.</p>
        <blockquote class="founder__blockquote">
          <p>“I want to create an equivalent of the American Silicon Valley in Ukraine, and I’m actually doing it. This will be
          the territory bringing together manufacturing and research companies, start-ups that work in IT and high-tech areas.
          At the core of the Silicon Valley there are research resources of Stanford University. We start with the UNIT Factory
          — this will be the heart of the future high-tech park”.</p>
          <cite>Vasyl Khmelnytsky, from the interview to Panorama magazine, January 2017</cite>
        </blockquote>
        <footer class="founder__footer">
          <a href="#" class="read-more">read more ...</a>
        </footer>
      </div>
      <div class="founder__col-r">
        <img class="founder__img" src="img/khmelnytsky.png" alt="khmelnytsky">
      </div>
    </div>
  </div>
</section>
