<header class="header">
  <div class="header__box header__back">
    <div class="container">
      <div class="header__row">
        <div class="header__logo">
          {{mixins.icon('logo')}}
        </div>
        <nav class="nav js-nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="#home">
              <span class="nav__t" data-letters="home">Home</span>
            </a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#founder">
              <span class="nav__t" data-letters="founder">Founder</span>
            </a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#business">
              <span class="nav__t" data-letters="business">Business</span>
            </a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#socials">
              <span class="nav__t" data-letters="social projects">Social Projects</span>
            </a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#news">
              <span class="nav__t" data-letters="news">News</span>
            </a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#contacts">
              <span class="nav__t" data-letters="contacts">Contacts</span>
            </a>
            </li>
          </ul>
        </nav>
        <div class="header__functional">
          <button class="search-btn js-search no-btn" type="button">{{mixins.icon('search')}}</button>
          <div class="lang header__lang">
            <ul class="lang__list">
              <li class="lang__item">ENG</li>
            </ul>
          </div>
          <div class="header__burger burger">
            <div class="burger__ico">
              <div class="burger__bar"></div>
              <div class="burger__bar"></div>
              <div class="burger__bar"></div>
            </div>
            <span class="burger__text">Menu</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__box modal-container">
    <div class="header__modal">
      <div class="header__modal-bg"></div>
      <div class="header__modal-body">
        <ul class="m-nav js-m-nav">
        </ul>
      </div>
    </div>
  </div>
</header>
