<header class="header">
  <div class="header__box header__back">
    <div class="container">
      <div class="header__view">
        <div class="header__view-row">
          <a class="header__logo" href="/front-page.html">
            {{mixins.icon('logo')}}
          </a>
          <div class="container-inner">
            <nav class="nav js-nav header__nav">
              <ul class="nav__list">
                <li class="nav__item">
                  <a class="nav__link" href="/front-page.html">
                    <span class="nav__t" data-letters="Головна">Home</span>
                  </a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="about-us">
                    <span class="nav__t" data-letters="Про нас">About Us</span>
                  </a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="founder.html">
                    <span class="nav__t" data-letters="Засновник">Founder</span>
                  </a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="/our-companies.html">
                    <span class="nav__t" data-letters="Наші компанії">Our Companies</span>
                  </a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="/social-projects.html">
                    <span class="nav__t" data-letters="Соціальні проекти">SOCIAL INVESTMENT</span>
                  </a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="#news">
                    <span class="nav__t" data-letters="Медіа">Media</span>
                  </a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="/contacts">
                    <span class="nav__t" data-letters="Контакти">Contacts</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="header__functional">
            <button class="search-btn js-search-btn no-btn" type="button">{{mixins.icon('search')}}</button>
            <div class="lang header__lang js-lang">
              <div class="lang__box lang__block lang__btn">
                <div class="lang__current">
                  <span class="lang__name">UA</span>
                </div>
              </div>
              <ul class="lang__list">
                <li class="lang__item lang__block">
                  <a href="#" class="lang__link">
                    <span class="lang__name" href="#">RU</span>
                  </a>
                </li>
                <li class="lang__item lang__block">
                  <a href="#" class="lang__link">
                    <span class="lang__name" href="#">EN</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="header__burger burger">
              <div class="burger__ico">
                <div class="burger__bar"></div>
                <div class="burger__bar"></div>
                <div class="burger__bar"></div>
              </div>
              <span class="burger__text">Menu</span>
            </div>
          </div>
        </div>
        <div class="header__hidden-row">
          <form action="" class="u-form u-form--inline search-form">
            <div class="u-form__group footer__s-input">
              <input type="text" class="u-form__input" placeholder="Введіть ваш запит" required>
              <i class="u-form__b"></i>
              <button class="search__reset no-btn js-search-reset" type="button">X</button>
            </div>
            <button class="no-btn sq footer__s-btn" type="submit">
              <span class="sq__box">
                <i class="sq__vcenter">{{mixins.icon('search')}}</i>
              </span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="header__box modal-container">
    <div class="header__modal">
      <div class="header__modal-bg"></div>
      <div class="header__modal-body">
        <ul class="m-nav js-m-nav">
        </ul>
      </div>
    </div>
  </div>
</header>
