<section id="news" class="sc news">
  <div class="container">
    <div class="container-inner">
      <header class="sc__header">
        <h2 class="h2 sc__heading">News</h2>
      </header>

         <!-- gallery -->
        <div class="news__blocks u-gallery" style="padding-bottom: 40px;padding-top: 40px;">
          <!-- left  block -->
          <div class="news__col news__odd">

            <!-- one  block -->
            <article class="news__item post ">
              <div class="news__face">
                <div class="news__background" style="background-image:url('img/temp/media/airo.jpg')"></div>
              </div>
              <div class="news__content ">

                <a class="post__text" href="vidteper-na-svij-rejs-v-aeroporti-kyyiv-mozhna-zareyestruvatysya-samostijno.html" style="height: 100px;">ВІДТЕПЕР НА СВІЙ РЕЙС В АЕРОПОРТІ «КИЇВ» МОЖНА ЗАРЕЄСТРУВАТИСЯ САМОСТІЙНО </p>
                <a href="vidteper-na-svij-rejs-v-aeroporti-kyyiv-mozhna-zareyestruvatysya-samostijno.html" data-modal-type="video" data-modal-src="//www.youtube.com/embed/97zhBvSECfg?autoplay=1" target="_blank" class="read-more u-modal-link">View
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>

              </div>
            </article>
            <!--end  one  block -->

            <!-- two  block -->
            <article class="news__item post post--video">
              <div class="news__face">
                <div class="news__background" style="background-image:url('img/temp/founder/vu-video3.jpg')"></div>
              </div>
              <div class="news__content">

                <p href="#" data-modal-type="video" data-modal-src="//www.youtube.com/embed/BeMikeDgYK0?autoplay=1" target="_blank" class="post__text u-modal-link" style="height: 100px;">Crieted UNIT.City</p>
                <a href="#" data-modal-type="video" data-modal-src="//www.youtube.com/embed/BeMikeDgYK0?autoplay=1" target="_blank" class="read-more u-modal-link">View
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>

                </div>
            </article>
            <!-- end two  block -->

          </div>
          <!--end left  block -->
          <!-- right block -->
          <div class="news__col news__even">
            <!--  three -->
            <article class="news__item post post--video">
              <div class="news__face">
                <div class="news__background" style="background-image:url(img/temp/founder/vu-video2.jpg)"></div>
              </div>
              <div class="news__content">
                <p href="#" data-modal-type="video" data-modal-src="//www.youtube.com/embed/A4TQPy35rtk?autoplay=1?autoplay=1" class="post__text u-modal-link" style="height: 100px;">Speech Vasyl Khmelnytsky in business-shcol MIM </p>
                <a href="#" data-modal-type="video" data-modal-src="//www.youtube.com/embed/A4TQPy35rtk?autoplay=1?autoplay=1" target="_blank"  class="read-more u-modal-link">View
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </article>
            <!-- end three -->
            <!-- four -->
            <article class="news__item post post--video">
              <div class="news__face">
                <div class="news__background" style="background-image:url(img/temp/founder/vu-video4.jpg)"></div>
              </div>
              <div class="news__content">

                <p href="#" data-modal-type="video" data-modal-src="//www.youtube.com/embed/e6hA0QvUbLc?autoplay=1?autoplay=1" target="_blank" class="post__text u-modal-link" style="height: 100px;">Сонячна електростанція в Київській області </p>
                <a href="#" data-modal-type="video" data-modal-src="//www.youtube.com/embed/e6hA0QvUbLc?autoplay=1?autoplay=1" target="_blank"  class="read-more u-modal-link">View
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>

              </div>
            </article>
            <!-- end four -->
          </div>
          <!--end right  block -->
        </div>
        <!-- end gallery -->
    </div>

  </div>
</section>
