<section id="news" class="sc news">
  <div class="container">
    <div class="container-inner">
      <header class="sc__header">
        <h2 class="h2 sc__heading">Новини</h2>
      </header>
      <div class="news__blocks">
        <div class="news__col news__odd">

          <article class="news__item post">
            <div class="news__background" style="background-image:url(img/news_001.jpg)"></div>
            <div class="news__content">
              <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
              | Khmelnytsky's Library
              <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
              <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                in Kharkiv, starts...</p>
              <a href="#" class="read-more">Читати більше ...</a>
            </div>
          </article>
          <article class="news__item post">
            <div class="news__background" style="background-image:url(img/news_002.jpg)"></div>
            <div class="news__content">
              <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
              | Khmelnytsky's Library
              <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
              <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                in Kharkiv, starts...</p>
              <a href="#" class="read-more">Читати більше ...</a>
            </div>
          </article>

        </div>
        <div class="news__col news__even">
          <article class="news__item post">
            <div class="news__background" style="background-image:url(img/news_003.jpg)"></div>
            <div class="news__content">
              <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
              | Khmelnytsky's Library
              <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
              <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                in Kharkiv, starts...</p>
              <a href="#" class="read-more">Читати більше ...</a>
            </div>
          </article>
          <article class="news__item post">
            <div class="news__background" style="background-image:url(img/news_004.jpg)"></div>
            <div class="news__content">
              <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
              | Khmelnytsky's Library
              <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
              <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                in Kharkiv, starts...</p>
              <a href="#" class="read-more">Читати більше ...</a>
            </div>
          </article>
        </div>
      </div>
      <footer class="news__footer">
        <a href="#" class="read-more">Читати більше ...</a>
      </footer>
    </div>
  </div>
</section>
