<div class="welcome">
  <div class="container container--h">
    <div class="welcome__container">
      <!-- <div class="welcome__placeholder"></div> -->
      <div class="welcome__video">
        <video poster="img/u-boat-img.jpg" id="bgvid" playsinline autoplay muted loop>
          <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
          <!-- <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm"> -->
          <source src="img/u-boat.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <a href="#about" class="scroll-down sq">
      <span class="sq__box">
        <i class="sq__vcenter">{{mixins.icon('arrow-down')}}</i>
      </span>
    </a>
  </div>
</div>
