<article class="page__article sc bg-gradient bg-gradient--h380">
  <div class="container">
    <div class="container-inner">
      <h1 class="sc__heading">Founder</h1>
      <img class="img-responsive b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/Khmelnytsky-cover.jpg"
        alt="Khmelnytsky">
      <div class="page__content">
        <h2 class="h3">Vasyl Khmelnytsky</h2>
        <p>Vasyl Khmelnytsky is a prominent Ukrainian entrepreneur and philanthropist. Over the years he has invested in the development of various businesses, each with its individual configuration of partners, shareholding structure, and management team. </p>
        <p>Some of his most prominent projects are rebirth of Kyiv International Airport, construction of Ocean Plaza shopping mall and such residential complexes as Novopecherski Lypki, Boulevard of Fountains, RiverStone, and Parkove Misto. Khmelnytsky is also a major investor in renewable energy with UDP Renewables, in pharmaceuticals with Biofarma and in media and advertising with RTM national advertising operator. Khmelnytsky devotes special attention to development of his innovation and industrial parks - Unit.City LvivTech.City and Bila Tserkva Industrial Park.</p>
        <blockquote>The best way to do business is to have partners. And in Ukraine, partnership is not only profitable, but is also effective. If you happen to encounter a problem with your business, you can always count on the partner who will be there. It is important to remember three key things about partnership: it mitigates risks, provides new opportunities, and gives access to new experience.”
          <cite>From Vasyl Khmelnytsky’s interview to delo.ua, May 2017</cite>
        </blockquote>
        <p>Khmelnytsky also holds position of the First Vice President at the Ukrainian League of Industrialists and Entrepreneurs (ULIE), and is the Chair of the Supervisory Board at National Technical University "Kharkiv Polytechnic Institute."</p>
        <p>The entrepreneur actively supports public initiatives, among which are annual Kyiv International Economic Forum (KIEF), modern program of regional development “Bila Tserkva 2025”, unique coding school UNIT Factory, the projects of the Osvitoria NGO: Novopecherska School and online platform for orphans and children from disadvantaged families “iLearn”, BIONIC University - the first of its kind  inter-corporate IT university in Ukraine, K.Fund Books publishing project, School for Small and Medium Entrepreneurship (SME); Lean Institute Ukraine (LIU) and “K.Fund Media” - online media about new possibilities.</p>
        <p>Vasyl Khmelnytsky coordinates support for projects in the fields of education and economics through his foundation K.Fund.</p>
        <blockquote>“I want to create an equivalent of the American Silicon Valley in Ukraine, and I’m already doing it. This will be a place that brings together product and research companies as well as start-ups that work in IT and high-tech industries. The core of the Silicon Valley is scientific and research base of Stanford University. We start with the UNIT Factory — this will become the heart of the future high-tech park”.
          <cite>From the interview to Panorama magazine, January 2017</cite>
        </blockquote>


        <!-- gallery -->
<div class="news__blocks u-gallery">
         <!-- left  block -->
          <div class="news__col news__odd">

          <!-- one  block -->
            <article class="news__item post post--video">
              <div class="news__face">
                <div class="news__background" style="background-image:url('img/temp/founder/vu-video1.jpg')"></div>
              </div>
              <div class="news__content">
                                
                                  <p class="post__text" style="height: 100px;">Business Wisdom Summit, 2016 </p>
                  <a href="#" data-modal-type="video" data-modal-src="//www.youtube.com/embed/97zhBvSECfg?autoplay=1" target="_blank" class="read-more u-modal-link">View
                    <div class="loading-dot-button ">
                      <div class="loading-dot"></div>
                      <div class="loading-dot"></div>
                      <div class="loading-dot"></div>
                    </div>
                    <span class="angle-white angle--right"></span>
                  </a>

              </div>
            </article>
            <!--end  one  block -->

             <!-- two  block -->
            <article class="news__item post post--video">
              <div class="news__face">
                <div class="news__background" style="background-image:url(img/temp/founder/vu-video3.jpg)"></div>
              </div>
              <div class="news__content">
                                
                <p class="post__text" style="height: 100px;">Crieted UNIT.City </p>
<a href="#" data-modal-type="video" data-modal-src="//www.youtube.com/embed/BeMikeDgYK0?autoplay=1?autoplay=1" target="_blank" class="read-more u-modal-link">View
  <div class="loading-dot-button ">
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
  </div>
  <span class="angle-white angle--right"></span>
</a>


              </div>
            </article>
 <!-- end two  block -->

          </div>
<!--end left  block -->         
<!-- right block -->
          <div class="news__col news__even">
<!--  three -->           
            <article class="news__item post post--video">
              <div class="news__face">
                <div class="news__background" style="background-image:url(img/temp/founder/vu-video2.jpg)"></div>
              </div>
              <div class="news__content">
                                  
                <p class="post__text" style="height: 100px;">Speech Vasyl Khmelnytsky in business-shcol MIM  </p>
<a href="#" data-modal-type="video" data-modal-src="//www.youtube.com/embed/A4TQPy35rtk?autoplay=1?autoplay=1" target="_blank" class="read-more u-modal-link">View
  <div class="loading-dot-button ">
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
  </div>
  <span class="angle-white angle--right"></span>
</a>
              </div>
            </article>
 <!-- end three -->
<!-- four -->
            <article class="news__item post post--video">

                <div class="news__face">
                  <div class="news__background" style="background-image:url(img/temp/founder/vu-video3.jpg)"></div>
                </div>

                <div class="news__content">
                                
                                        <p class="post__text" style="height: 100px;">Crieted UNIT.City </p>
                        <a href="#" data-modal-type="video" data-modal-src="//www.youtube.com/embed/BeMikeDgYK0?autoplay=1?autoplay=1" target="_blank" class="read-more u-modal-link">View
                          <div class="loading-dot-button ">
                            <div class="loading-dot"></div>
                            <div class="loading-dot"></div>
                            <div class="loading-dot"></div>
                          </div>
                          <span class="angle-white angle--right"></span>
                        </a>

                </div>
            </article>
 <!-- end four -->
          </div>
<!--end right  block -->           
        </div>
<!-- end gallery -->
        
      </div>
    </div>
  </div>
</article>


<!-- статьи -->
<article style="background: #f7f7f7; margin-top: -60px;">
  <section id="news" class="sc news">
    <div class="container">
      <div class="container-inner">
      
      <footer class="about__footer" style="border-top: 1px solid rgba(0,0,0,0.1); padding-top: 20px;">
              <ul class="inline-list">
                <li class="inline-list__item"> <a href="#" class="inline-list__link">News</a> </li>
                <li class="inline-list__item"> <a href="#" class="inline-list__link">PRESS-RELEASES</a> </li>
                <li class="inline-list__item"> <a href="#" class="inline-list__link">Photo</a> </li>
                <li class="inline-list__item"> <a href="#" class="inline-list__link">Video</a> </li>

              </ul>
            </footer>
      </div>
    </div>
  </section>
</article>
