<article class="page__article sc">
  <div class="container">
    <div class="container-inner">
      <h1 class="sc__heading">Founder</h1>
      <img class="img-responsive b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/Khmelnytsky-cover.jpg"
        alt="Khmelnytsky">
      <div class="page__content">
        <h2 class="h3">Vasyl Khmelnytsky</h2>
        <p>Vasyl Khmelnytsky is a Ukrainian businessman and philanthropist. He has developed various businesses, giving preference
          to cooperation and joint management. Some of his most renowned projects are the renovation of Kyiv International
          Airport, the construction of the capital's shopping mall OCEAN PLAZA and such residential complexes as Novopecherski
          Lypki, Boulevard of Fountains, RiverStone, and Parkove Misto. He invests in UDP Renewables (alternative energy),
          Biofarma (pharmaceutical industry), RTM (a national advertising operator). Khmelnytsky has dedicated special attention
          to development of the innovation parks Unit.City and LvivTech.City, as well as the Bila Tserkva Industrial Park.</p>
        <blockquote>The most correct method of doing business is to have partners. And in Ukraine, partnership is not only profitable,
          it is effective. If you suddenly encounter any business problems, you can always appeal to a partner who will not
          turn away. It is important to remember the three key things: partnership means reducing risks, new opportunities
          and getting new knowledge.
          <cite>From Vasyl Khmelnytsky’s interview to delo.ua, May 2017</cite>
        </blockquote>
        <p>He also holds position of the First Vice President at the Ukrainian League of Industrialists and Entrepreneurs (ULIE),
          and is the Chair of the Supervisory Board at National Technical University "Kharkiv Polytechnic Institute."</p>
        <p>Among public initiatives supported by the entrepreneur are Kyiv International Economic Forum (KIEF); the Bila Tserkva
          2025 modern model of regional development; the unique educational IT factory UNIT Factory; as well as projects
          of the Osvitoria Social Organization: a modern secondary school in Kyiv — Novopecherska School and the iLearn online
          platform for orphans and children from disadvantaged families; the inter-corporate IT university BIONIC University
          (the first of its kind in Ukraine); the K.Fund Books publishing project; the School of Small and Medium Entrepreneurship
          (SME); Lean Institute Ukraine (LIU), information resource about new possibilities – K.Fund Media. Support of the
          social projects in the fields of economics and education is coordinated by Vasyl Khmelnytsky's K.Fund foundation.</p>
        <blockquote>The most correct method of doing business is to have partners. And in Ukraine, partnership is not only profitable,
          it is effective. If you suddenly encounter any business problems, you can always appeal to a partner who will not
          turn away. It is important to remember the three key things: partnership means reducing risks, new opportunities
          and getting new knowledge.
          <cite>From Vasyl Khmelnytsky’s interview to delo.ua, May 2017</cite>
        </blockquote>
        <div class="news__blocks u-gallery">
          <div class="news__col news__odd">
            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url('img/news_001.jpg')"></div>
              </div>
              <div class="news__content">
                <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                | Khmelnytsky's Library
                <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                <!-- <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                        in Kharkiv, starts...</p> -->
                <a href="#" class="read-more">read more ...</a>
              </div>
            </article>
            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url(img/news_002.jpg)"></div>
              </div>
              <div class="news__content">
                <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                | Khmelnytsky's Library
                <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                <!-- <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                        in Kharkiv, starts...</p> -->
                <a href="#" class="read-more">read more ...</a>
              </div>
            </article>
          </div>
          <div class="news__col news__even">
            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url(img/news_003.jpg)"></div>
              </div>
              <div class="news__content">
                <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                | Khmelnytsky's Library
                <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                <!-- <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                        in Kharkiv, starts...</p> -->
                <a href="#" class="read-more">read more ...</a>
              </div>
            </article>
            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url(img/news_004.jpg)"></div>
              </div>
              <div class="news__content">
                <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                | Khmelnytsky's Library
                <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                <!-- <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March 25
                        in Kharkiv, starts...</p> -->
                <a href="#" class="read-more">read more ...</a>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
