<article class="page__article sc bg-gradient bg-gradient--h300">
  <div class="container">
    <div class="container-inner">
      <h1 class="sc__heading">Засновник</h1>
      <img class="img-responsive b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/Khmelnytsky-cover.jpg"
        alt="Khmelnytsky">
      <div class="page__content">
        <h2 class="h3">Василь Хмельницький</h2>
        <p>Василь Хмельницький — український підприємець та філантроп. Розвиває різні бізнеси, надаючи перевагу співпраці та
          спільному управлінню. Серед найвідоміших проектів – ревіталізація аеропорту «Київ», будівництво столичних торговельно-розважального
          центру OCEAN PLAZA та комплексів «Новопечерські Липки», «Бульвар Фонтанів», «RiverStone», «Паркове місто». Інвестує
          в бізнеси UDP Renewables (альтернативна енергетика), «Біофарма» (фармацевтична галузь), «РТМ» (національний оператор
          реклами). Особливу увагу приділяє розвиткові інноваційних парків Unit.City и LvivTech.City, а також індустріальному
          парку «Біла Церква».</p>
        <blockquote>«Найправильніший метод ведення бізнесу – це мати партнерів. А в Україні партнерство є не лише вигідним, воно є ефективним.
          Якщо раптом виникають якісь проблеми в бізнесу, завжди можна звернутися до партнера, який вам не відмовить. Важливо
          пам'ятати про три ключові речі, що партнерство – це зменшення ризиків, нові можливості й отримання нових знань»
          <cite>З інтерв'ю Василя Хмельницького порталу delo.ua, травень 2017</cite>
        </blockquote>
        <p>Працює в Українському союзі промисловців та підприємців, обіймає посаду першого віце-президента УСПП. Очолює наглядову
          раду Національного технічного університету «Харківський політехнічний інститут». </p>
        <p>Серед громадських ініціатив, що їх підтримує підприємець, – Київський міжнародний економічний форум (КМЕФ); сучасна
          модель регіонального розвитку «Біла Церква – 2025»; унікальна освітня IT-фабрика UNIT Factory; проекти громадської
          організації «Освіторія»: загальноосвітня школа «Новопечерська школа» в Києві та онлайн-платформа «iLearn» для учнів
          з дитячих будинків та малозабезпечених сімей; перший в Україні міжкорпоративний IT-університет BIONIC University;
          видавничий проект K.Fund Books; Школа малого та середнього підприємництва (МСП); Lean Institute Ukraine (LIU);
          ресурс про нові можливості K.Fund Media. Підтримку соціальних проектів в галузях економіки та освіти здійснює фонд
          Василя Хмельницького K.Fund</p>
        <blockquote>«Я хочу створити в Україні аналог американської Кремнієвої долини, і вже створюю його. Це буде територія, на якій
          зосередяться виробничі і дослідницькі компанії, стартапи, які працюватимуть в галузях ІТ та хайтека. В основі Кремнієвої
          долини — наукова і дослідницька бази Стенфордського університету. Ми починаємо з UNIT Factory — це буде серце майбутнього
          парку високих технологій».
          <cite>З інтерв’ю журналу «Панорама», січень 2017</cite>
        </blockquote>




<div class="news__blocks u-gallery">
            <div class="news__col news__odd">
              <article class="news__item post">
                <div class="news__face">
                  <div class="news__background" style="background-image:url('img/l.jpg')"></div>
                </div>
                <div class="news__content">
                                 
                  <p class="post__text" style="height: 100px;">Василиль Хмельницкий </p>
                  <a href="img/l.jpg" target="_blank" class="read-more">Переглянути
                <div class="loading-dot-button ">
                  <div class="loading-dot"></div>
                  <div class="loading-dot"></div>
                  <div class="loading-dot"></div>
                </div>
                <span class="angle-white angle--right"></span>
              </a>
                </div>
              </article>
              <article class="news__item post">
                <div class="news__face">
                  <div class="news__background" style="background-image:url(img/l.jpg)"></div>
                </div>
                <div class="news__content">
                                  
                  <p class="post__text" style="height: 100px;">Василиль Хмельницкий </p>
                  <a href="img/l.jpg" target="_blank" class="read-more">Переглянути
                <div class="loading-dot-button ">
                  <div class="loading-dot"></div>
                  <div class="loading-dot"></div>
                  <div class="loading-dot"></div>
                </div>
                <span class="angle-white angle--right"></span>
              </a>
                </div>
              </article>
            </div>
            <div class="news__col news__even">
              <article class="news__item post">
                <div class="news__face">
                  <div class="news__background" style="background-image:url(img/l.jpg)"></div>
                </div>
                <div class="news__content">
                                   
                  <p class="post__text" style="height: 100px;">Василиль Хмельницкий </p>
                  <a href="img/l.jpg" target="_blank" class="read-more">Переглянути
                <div class="loading-dot-button ">
                  <div class="loading-dot"></div>
                  <div class="loading-dot"></div>
                  <div class="loading-dot"></div>
                </div>
                <span class="angle-white angle--right"></span>
              </a>
                </div>
              </article>

            </div>
          </div>

      </div>
    </div>
  </div>
</article>


<!-- статьи -->
<article style="background: #f7f7f7; margin-top: -60px;">
  <section id="news" class="sc news">
    <div class="container">
      <div class="container-inner">
        <header class="sc__header">
          <h2 class="h2 sc__heading">Cтатті</h2>
        </header>
        <div class="news__blocks u-gallery">
          <div class="news__col news__odd">

            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url(img/news_001.jpg)"></div>
              </div>
              <div class="news__content">
                <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                | Khmelnytsky's Library
                <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March
                  25 in Kharkiv, starts...</p>
                <a href="#" class="read-more">Читати більше
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </article>
            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url(img/news_002.jpg)"></div>
              </div>
              <div class="news__content">
                <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                | Khmelnytsky's Library
                <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March
                  25 in Kharkiv, starts...</p>
                <a href="#" class="read-more">Читати більше
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </article>

          </div>
          <div class="news__col news__even">
            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url(img/news_003.jpg)"></div>
              </div>
              <div class="news__content">
                <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                | Khmelnytsky's Library
                <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March
                  25 in Kharkiv, starts...</p>
                <a href="#" class="read-more">Читати більше
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </article>
            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url(img/news_004.jpg)"></div>
              </div>
              <div class="news__content">
                <time class="entry-date published updated post__date" datetime="2017-09-28T08:00:38+00:00">April 29, 2017</time>
                | Khmelnytsky's Library
                <h3 class="post__title">“HOW TO WRITE A BUSINESS BOOK” (KHARKIV) COURSE</h3>
                <p class="post__text">The registration for a free course “How to write a business book” (Kharkiv), which will be held on March
                  25 in Kharkiv, starts...</p>
                <a href="#" class="read-more">Читати більше
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </article>
          </div>
        </div>
        <footer class="news__footer">
          <a href="#" class="read-more">Читати більше
            <div class="loading-dot-button ">
              <div class="loading-dot"></div>
              <div class="loading-dot"></div>
              <div class="loading-dot"></div>
            </div>
            <span class="angle angle--right"></span>
          </a>
        </footer>
      </div>
    </div>
  </section>
</article>
