<article class="page__article sc bg-gradient">
    <div class="container">
      <div class="container-inner">
        <h1 class="sc__heading">OUR COMPANIES</h1>
        <p class="about__t">Being one of the leading Ukrainian investment groups, we have a solid foundation with a remarkable and diversified portfolio of real estate and infrastructure projects. Today we develop the industries of the future, such as renewable energy, electric mobility, life science, education and IT.</p>

        <!--Pattern HTML-->
        <section id="pattern" class="pattern">
          <ul class="grid">

            <li class="grid__col">
             <a class="grid__link" href="./single-company-udp.html"> <div class="grid__inner">
                <div class="grid__demo"> 
          <img class="img-responsive" src="img/udp-cover.jpg" alt="udp logo">
                </div>
                <div class=""><h4 class="company-style">Leading developer groups in Ukraine</h4></div>
              </div></a>
            </li>
                      
            <li class="grid__col">
             <a class="grid__link" href="./single-company-udpr.html"> <div class="grid__inner">
                <div class="grid__demo"> 
                 <img class="img-responsive" src="img/UDPR-cover.jpg" alt="udpr logo">
             </div>
             <div class=""><h4 class="company-style">Alternative energy innovation projects in Ukraine  </h4></div>
              </div></a>
            </li>
            <li class="grid__col">
             <a class="grid__link" href="./single-company-biofarma.html"> <div class="grid__inner">
                <div class="grid__demo"> 
              <img class="img-responsive" src="img/biofarma-cover.jpg" alt="Biofarma logo">
             </div>
             <div class=""><h4 class="company-style">Leading in Ukraine pharmaceutical company  </h4></div>
              </div></a>
            </li>
            <li class="grid__col">
             <a class="grid__link" href="./single-company-airport.html"> <div class="grid__inner">
                <div class="grid__demo"> <img class="img-responsive" src="img/airport-cover.jpg" alt="airoport kiev logo"></div>

                <div></div>
                <div class=""><h4 class="company-style">Is one of UFuture largest infrastructure projects </h4></div>
              </div></a>
            </li>



            <li class="grid__col">
             <a class="grid__link" href="./single-company-ip-bt.html"> <div class="grid__inner">
                <div class="grid__demo"> 
               <img class="img-responsive" src="img/ipbt-cover.jpg" alt="BILA TSERKVA INDUSTRIAL PARK logo">
             </div>
             <div class=""><h4 class="company-style">Modern industrial manufacturing facilities in Ukraine</h4></div>
              </div></a>
            </li>



            <li class="grid__col">
             <a class="grid__link" href="./single-company-unit-city.html"> <div class="grid__inner">
                <div class="grid__demo"> 
               <img class="img-responsive" src="img/unit-cover.jpg" alt="unit logo">
             </div>
             <div class=""><h4 class="company-style">Ukraine's first innovation park</h4></div>
              </div></a>
            </li>



            <li class="grid__col">
             <a class="grid__link" href="./single-company-lviv.html"> <div class="grid__inner">
                <div class="grid__demo"> 
              <img class="img-responsive" src="img/lvivtech-cover.jpg" alt="lvivtech logo">
             </div>
             <div class=""><h4 class="company-style">Innovation IT-park in Lviv</h4></div>
              </div></a>
            </li>


            <li class="grid__col">
             <a class="grid__link" href="./single-company-ptm-ukraine.html"> <div class="grid__inner">
                <div class="grid__demo"> 
               <img class="img-responsive" src="img/rtm-cover.jpg" alt="rtm logo">
             </div>
             <div class=""><h4 class="company-style">Ukrainian national operator of outdoor advertising</h4></div>
              </div></a>
            </li>






          </ul>
        </section>

      </div>
    </div>
</article>

