<article class="page__article sc bg-gradient">
    <div class="container">
      <div class="container-inner">
        <h1 class="sc__heading">Наші компанії</h1>
        <p class="about__t">Ми є є однією з провідних інвестиційних груп в Україні. Значний та диверсифікований портфель об’єктів нерухомості
          та інфраструктурних проектів є міцним фундаментом нашого бізнесу. Сьогодні ми розвиваємо галузі майбутнього, інвестуючи
          у відновлювальну енергетику, електромобілі, біо- та агротехнології, освіту й IT.</p>



        <!--Pattern HTML-->
        <section id="pattern" class="pattern">
          <ul class="grid">

            <li class="grid__col">
             <a href="./single-company-udp.html"> <div class="grid__inner">
                <div class="grid__demo"> 
          <img class="img-responsive" src="img/udp-cover.jpg" alt="udp logo">
                </div>
                <div class=""><h4 class="company-style">Девелоперська компанія UDP</h4></div>
              </div></a>
            </li>
                      
            <li class="grid__col">
             <a href="./single-company-udpr.html"> <div class="grid__inner">
                <div class="grid__demo"> 
                 <img class="img-responsive" src="img/UDPR-cover.jpg" alt="udpr logo">
             </div>
             <div class=""><h4 class="company-style">UDP Renewables  </h4></div>
              </div></a>
            </li>
            <li class="grid__col">
             <a href="./single-company-biofarma.html"> <div class="grid__inner">
                <div class="grid__demo"> 
              <img class="img-responsive" src="img/biofarma-cover.jpg" alt="Biofarma logo">
             </div>
             <div class=""><h4 class="company-style">Біофарма  </h4></div>
              </div></a>
            </li>
            <li class="grid__col">
             <a href="./single-company-airport.html"> <div class="grid__inner">
                <div class="grid__demo"> <img class="img-responsive" src="img/airport-cover.jpg" alt="airoport kiev logo"></div>

                <div></div>
                <div class=""><h4 class="company-style">Міжнародний аеропорт «Київ»  </h4></div>
              </div></a>
            </li>



            <li class="grid__col">
             <a href="./single-company-ip-bt.html"> <div class="grid__inner">
                <div class="grid__demo"> 
               <img class="img-responsive" src="img/ipbt-cover.jpg" alt="BILA TSERKVA INDUSTRIAL PARK logo">
             </div>
             <div class=""><h4 class="company-style">Індустріальний парк «Біла Церква»</h4></div>
              </div></a>
            </li>



            <li class="grid__col">
             <a href="./single-company-unit-city.html"> <div class="grid__inner">
                <div class="grid__demo"> 
               <img class="img-responsive" src="img/unit-cover.jpg" alt="unit logo">
             </div>
             <div class=""><h4 class="company-style">Інноваційний парк UNIT.City</h4></div>
              </div></a>
            </li>



            <li class="grid__col">
             <a href="./single-company-lviv.html"> <div class="grid__inner">
                <div class="grid__demo"> 
              <img class="img-responsive" src="img/lvivtech-cover.jpg" alt="lvivtech logo">
             </div>
             <div class=""><h4 class="company-style">Інноваційний парк LvivTech.City</h4></div>
              </div></a>
            </li>


            <li class="grid__col">
             <a href="./single-company-ptm-ukraine.html"> <div class="grid__inner">
                <div class="grid__demo"> 
               <img class="img-responsive" src="img/rtm-cover.jpg" alt="rtm logo">
             </div>
             <div class=""><h4 class="company-style">РТМ-УКРАЇНА</h4></div>
              </div></a>
            </li>






          </ul>
        </section>

      </div>
    </div>
</article>
