<article class="page__article sc bg-gradient">
    <div class="container">
      <div class="container-inner">
        <h1 class="sc__heading">Наші компанії</h1>
        <p class="about__t">Ми є є однією з провідних інвестиційних груп в Україні. Значний та диверсифікований портфель об’єктів нерухомості
          та інфраструктурних проектів є міцним фундаментом нашого бізнесу. Сьогодні ми розвиваємо галузі майбутнього, інвестуючи
          у відновлювальну енергетику, електромобілі, біо- та агротехнології, освіту й IT.</p>



        <!--Pattern HTML-->
        <section id="pattern" class="pattern">
          <ul class="grid">
            <li class="grid__col">
              <div class="grid__inner">
                <div class="grid__demo"> 1</div>
              </div>
            </li>
            <li class="grid__col">
              <div class="grid__inner">
                <div class="grid__demo"> 2</div>
              </div>
            </li>
            <li class="grid__col">
              <div class="grid__inner">
                <div class="grid__demo"> 3</div>
              </div>
            </li>
            <li class="grid__col">
              <div class="grid__inner">
                <div class="grid__demo"> 4</div>
              </div>
            </li>
            <li class="grid__col">
              <div class="grid__inner">
                <div class="grid__demo"> 5</div>
              </div>
            </li>
            <li class="grid__col">
              <div class="grid__inner">
                <div class="grid__demo"> 6</div>
              </div>
            </li>
            <li class="grid__col">
              <div class="grid__inner">
                <div class="grid__demo"> 7</div>
              </div>
            </li>
            <li class="grid__col">
              <div class="grid__inner">
                <div class="grid__demo"> 8</div>
              </div>
            </li>
            <li class="grid__col">
              <div class="grid__inner">
                <div class="grid__demo"> 9</div>
              </div>
            </li>
            <li class="grid__col">
              <div class="grid__inner">
                <div class="grid__demo"> 10</div>
              </div>
            </li>
            <li class="grid__col">
              <div class="grid__inner">
                <div class="grid__demo"> 11</div>
              </div>
            </li>
            <li class="grid__col">
              <div class="grid__inner">
                <div class="grid__demo"> 12</div>
              </div>
            </li>
          </ul>
        </section>

      </div>
    </div>
</article>
