<article class="page__article sc bg-gradient">
    <div class="container">
      <div class="container-inner">
        <h1 class="sc__heading">SOCIAL INVESTMENT</h1>
        <p class="about__t">We believe that human talent is the most valuable resource of the future. By investing in education and innovative thinking we help people to foster their potential and fuel passion to change the world for better. Social projects related to education and the economy are supported by Vasyl Khmelnytsky’s fund – K.Fund</p>
        <!--Pattern HTML-->
        <section id="pattern" class="pattern">
          <ul class="grid">

            <li class="grid__col">
             <span class="grid__link" href="./#"> <div class="grid__inner">
                <div class="grid__demo"> 
          <img class="img-responsive" src="img/kief-cover.jpg" alt="kief logo">
                </div>
                <div class=""><h4 class="company-style">The Kyiv International Economic Forum (KIEF)</h4></div>
              </div></span>
            </li>
                      
            <li class="grid__col">
             <span class="grid__link" href="./#"> <div class="grid__inner">
                <div class="grid__demo"> 
                 <img class="img-responsive" src="img/b2025-cover.jpg" alt="Біла Церква — 2025  logo">
             </div>
             <div class=""><h4 class="company-style">Bila Tserkva 2025 Project for Regional Development  </h4></div>
              </div></span>
            </li>
            <li class="grid__col">
             <span class="grid__link" href="./#"> <div class="grid__inner">
                <div class="grid__demo"> 
              <img class="img-responsive" src="img/kfund-books-cover.jpg" alt="k.fund books logo">
             </div>
             <div class=""><h4 class="company-style">Ukrainian publishing project K.Fund Books  </h4></div>
              </div></span>
            </li>
            <li class="grid__col">
             <span class="grid__link" href="./#"> <div class="grid__inner">
                <div class="grid__demo"> <img class="img-responsive" src="img/kfund-media-cover.jpg" alt="Інформаційний ресурс про нові можливості k.fund media logo"></div>

                <div></div>
                <div class=""><h4 class="company-style">Media source about new possibilities </h4></div>
              </div></span>
            </li>

            <li class="grid__col">
             <span class="grid__link" href="./#"> <div class="grid__inner">
                <div class="grid__demo"> <img class="img-responsive" src="img/unit-factory-cover.jpg" alt="Unit factory logo"></div>

                <div></div>
                <div class=""><h4 class="company-style">The unique educational IT-factory UNIT Factory  </h4></div>
              </div></span>
            </li>



            <li class="grid__col">
             <span class="grid__link" href="./#"> <div class="grid__inner">
                <div class="grid__demo"> 
               <img class="img-responsive" src="img/bionic-cover.jpg" alt="bionic logo">
             </div>
             <div class=""><h4 class="company-style">The inter-corporate IT university BIONIC University</h4></div>
              </div></span>
            </li>



            <li class="grid__col">
             <span class="grid__link" href="./#"> <div class="grid__inner">
                <div class="grid__demo"> 
               <img class="img-responsive" src="img/lean-cover.jpg" alt="Lean Institute Ukraine (LIU) logo">
             </div>
             <div class=""><h4 class="company-style">Representation Lean Global Network in Ukraine</h4></div>
              </div></span>
            </li>



            <li class="grid__col">
             <span class="grid__link" href="./#"> <div class="grid__inner">
                <div class="grid__demo"> 
              <img class="img-responsive" src="img/np-cover.jpg" alt="Новопечерська школа logo">
             </div>
             <div class=""><h4 class="company-style">A modern educational institution of a new format </h4></div>
              </div></span>
            </li>


            <li class="grid__col">
             <span class="grid__link" href="./#"> <div class="grid__inner">
                <div class="grid__demo"> 
               <img class="img-responsive" src="img/ilear-cover.jpg" alt="ilear  logo">
             </div>
             <div class=""><h4 class="company-style">The nationwide open online platform </h4></div>
              </div></span>
            </li>

            <li class="grid__col">
             <span class="grid__link" href="./#"> <div class="grid__inner">
                <div class="grid__demo"> 
               <img class="img-responsive" src="img/msp-cover.png" alt="Школа малого і середнього підприємництва  logo">
             </div>
             <div class=""><h4 class="company-style">Small and Medium Entrepreneurship School</h4></div>
              </div></span>
            </li>





          </ul>
        </section>

      </div>
    </div>
</article>

