<main class="sc bg-gradient">
  <div class="container">
    <div class="container-inner">
      <header>
        <h1 class="sc__heading sc__heading--pb20">NEWSROOM</h1>
        <ul class="inline-list sc__top-links">
          <li class="inline-list__item">
            <a href="media.html" class="inline-list__link">News</a>
          </li>
          <li class="inline-list__item">
            <a href="press-release.html" class="inline-list__link active">Press-release</a>
          </li>
          <li class="inline-list__item">
            <a href="photo.html" class="inline-list__link">Photo</a>
          </li>
          <li class="inline-list__item">
            <a href="video.html" class="inline-list__link">Video</a>
          </li>
        </ul>
      </header>
      <div class="post-list">
              <!-- founder press big -->
        <article class="post post--big-image">
          <div class="post__image-front img-box">
            <a href="ufuture-vasyl-khmelnytsky-launches-an-investment-group-ufuture.html">
              <img class="img-responsive b-lazy post__image-back " src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="img/about-cover-min.jpg" alt="news-image">
            </a>
          </div>
          <div class="post__content">
            <h2 class="post__heading">
              <a href="ufuture-vasyl-khmelnytsky-launches-an-investment-group-ufuture.html" class="link">Vasyl Khmelnytsky launches an investment group UFuture </a>
            </h2>
            <div class="post__meta">
              <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">4 October, 2017</time>
              <a href="#" class="post__category">Ufuture</a>
            </div>
            <p class="post__text">UFuture Investment Group will represent the entrepreneur’s companies and projects at the local and international levels. The company is headquartered in Brussels.</p>
            <a  href="ufuture-vasyl-khmelnytsky-launches-an-investment-group-ufuture.html" class="read-more">Read more
              <div class="loading-dot-button ">
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
              </div>
              <span class="angle angle--right"></span>
            </a>
          </div>
        </article>
        <!-- end founder press big -->
        <!-- one big news -->
        <article style="display: none;" class="post post--big-image img-box">
          <div class="post__image-front">
            <a href="udp-renewables-anonsuye-seriyu-masshtabnyh-proektiv-u-galuzi-vidnovlyuvalnoyi-energetyky-v-ukrayini.html">
              <img class="img-responsive b-lazy post__image-back" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="img/temp/press-release/udpr2.jpg" alt="news-image">
            </a>
          </div>
          <div class="post__image-front img-box">
            <a href="vidteper-na-svij-rejs-v-aeroporti-kyyiv-mozhna-zareyestruvatysya-samostijno.html">
              <img class="img-responsive b-lazy post__image-back" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="img/temp/media/airo.jpg" alt="news-image">
            </a>
          </div>

          <div class="post__content">
            <h2 class="post__heading">
              <a href="udp-renewables-anonsuye-seriyu-masshtabnyh-proektiv-u-galuzi-vidnovlyuvalnoyi-energetyky-v-ukrayini.html" class="link">UDP RENEWABLES АНОНСУЄ СЕРІЮ МАСШТАБНИХ ПРОЕКТІВ У ГАЛУЗІ ВІДНОВЛЮВАЛЬНОЇ ЕНЕРГЕТИКИ В УКРАЇНІ</a>
            </h2>
            <div class="post__meta">
              <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">20 October, 2017</time>
              <a href="#" class="post__category">UDPR</a>
            </div>
            <p class="post__text">Компанія ставить амбітну мету — зробити альтернативні джерела енергії основними для України. Першим успішно реалізованим на цьому шляху проектом стала найбільша в Київській області Димерська СЕС-1.</p>
            <a href="udp-renewables-anonsuye-seriyu-masshtabnyh-proektiv-u-galuzi-vidnovlyuvalnoyi-energetyky-v-ukrayini.html" class="read-more">Read more
              <div class="loading-dot-button ">
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
              </div>
              <span class="angle angle--right"></span>
            </a>
          </div>
        </article>
        <!-- end one big news -->
        <!-- one big press-release -->
        <article class="post post post--left">
          <div class="post__image-front ">
            <a href="udp-started-their-business-in-the-alternative-energy.html">
              <img class="img-responsive b-lazy post__image-back" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="img/temp/press-release/udpr.jpg" alt="news-image">
            </a>
          </div>
          <div class="post__content">
            <h2 class="post__heading">
              <a href="udp-started-their-business-in-the-alternative-energy.html" class="link">UDP started their business in the alternative energy</a>
            </h2>
            <div class="post__meta">
              <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">25 September, 2017</time>
              <a href="#" class="post__category">UDPR</a>
            </div>
            <p class="post__text">UDP group decided to enter the green energy market in Ukraine. Plans for 2017-2022 include the startup of new solar and wind power facilities with 300 MW of total capacity. UDP Renewables company has been launched to lead the new direction.</p>
            <a href="udp-started-their-business-in-the-alternative-energy.html" class="read-more">Read more
              <div class="loading-dot-button ">
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
              </div>
              <span class="angle angle--right"></span>
            </a>
          </div>
        </article>
        <!-- end one big press-release -->
                <!-- two small news -->
        <article style="" class="post post--left">
          <div class="post__image-front">
            <a href="udp-will-join-project-for-building-innovation-park-in-lviv.html">
              <img class="img-responsive b-lazy post__image-back" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="img/temp/press-release/lviv.jpg" alt="news-image">
            </a>
          </div>
          <div class="post__content">
            <h2 class="post__heading">
              <a href="udp-will-join-project-for-building-innovation-park-in-lviv.html" class="link">UDP WILL JOIN PROJECT FOR BUILDING INNOVATION PARK IN LVIV </a>
            </h2>
            <div class="post__meta">
              <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">23 May, 2017</time>
              <a href="#" class="post__category">LVIVTECH CITY</a>
            </div>
            <p class="post__text">The leading Ukrainian developer company, UDP, will take part in building an innovation park in Lviv together with LLC LvivStandardBud. The Innovation Park should become a center of excellence for the development of competitive IT products and employment of Ukrainian specialists in high tech and related industries.</p>
            <a href="udp-will-join-project-for-building-innovation-park-in-lviv.html" class="read-more">Read more
              <div class="loading-dot-button ">
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
              </div>
              <span class="angle angle--right"></span>
            </a>
          </div>
        </article>
        <!-- end two small news -->

        
      </div>
      <!-- page nav -->
      <div class="page-nav" style="display: none;">
        <span class="page-nav__nlink">
          <button class="no-btn sq" type="button">
            <span class="sq__box sq__rotate90">
              <i class="sq__vcenter">{{mixins.icon('arrow-down')}}</i>
            </span>
          </button>
        </span>
        <ul class="page-nav__list">
          <li class="page-nav__item">
            <a href="#" class="sq page-nav__link" target="_blank">
              <span class="sq__box">
                <i class="sq__vcenter page-nav__num">1</i>
              </span>
            </a>
          </li>
          <li class="page-nav__item">
            <a href="#" class="sq page-nav__link" target="_blank">
              <span class="sq__box">
                <i class="sq__vcenter page-nav__num">2</i>
              </span>
            </a>
          </li>
        </ul>
        <span class="page-nav__nlink">
          <button class="no-btn sq" type="button">
            <span class="sq__box sq__rotate90m">
              <i class="sq__vcenter">{{mixins.icon('arrow-down')}}</i>
            </span>
          </button>
        </span>
      </div>
    <!-- end page nav -->
    </div>
  </div>
</main>