/* google maps style */ 
 .map-section {
 height: 600px;
 width: 100%;
 background-color: grey;
 margin-top: 20px
}
section#contacts {
    padding-bottom: 35px;
}
 #map {
 height: 600px;
 width: 100%;
  background-color: grey;
}