{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta name="description" content="UFuture is a conglomerate and investment company founded by the Ukrainian entrepreneur and philanthropist Vasyl Khmelnytsky. UFuture represents his businesses and projects worldwide, coordinating the group's international activities."/>
    <link rel="canonical" href="http://ufuture.com/"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="UFUTURE.PARTNER TOMORROW"/>
    <meta property="og:description" content="UFuture is a conglomerate and investment company founded by the Ukrainian entrepreneur and philanthropist Vasyl Khmelnytsky. UFuture represents his businesses and projects worldwide, coordinating the group's international activities."/>
    <meta property="og:url" content="http://ufuture.com/"/>
    <meta property="og:site_name" content="UFuture.com"/>
    <meta property="og:image" content="http://ufuture.com/img/logo/ufuture-logo.png"/>
    <meta property="og:image:width" content="1050"/>
    <meta property="og:image:height" content="788"/>
    {% include "../partials/base/_include-head.html" %}
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body>
      {% include "../partials/_body-head.html" %}
    <!-- BEGIN content -->
    <div class="out {% if pageClass %}{{ pageClass }}{% else %}frontpage{% endif %}">
      {% include "../partials/_header.html" %}
      {% block content %}{% endblock %}
      {% include "../partials/_footer.html" %}
      {% include "../partials/_bottom-out.html" %}
    </div>
    <!-- END content -->
    {% include "../partials/_body-bottom.html" %}

    <!-- BEGIN scripts -->
    {% include "../partials/base/_include-bottom.html" %}
    <!-- END scripts -->

  </body>
</html>
