<article class="page__article sc bg-gradient">
  <div class="container">
    <span class="position-top">
      {% include "partials/_follow.html" %}
    </span>
    <div class="container-inner">
      <h1 class="sc__heading sc__heading--pb20">THE KYIV INTERNATIONAL ECONOMIC FORUM</h1>
      <ul class="inline-list sc__top-links">
        <li class="inline-list__item">
          <a href="news-kief.html" class="inline-list__link">News</a>
        </li>
        <li class="inline-list__item">
          <a href="press-release-kief.html" class="inline-list__link">Press-release</a>
        </li>
        <li class="inline-list__item">
          <a href="photo-kief.html" class="inline-list__link">Photo</a>
        </li>
        <li class="inline-list__item">
          <a href="video-kief.html" class="inline-list__link active">Video</a>
        </li>
      </ul>
      <!--Pattern HTML-->
      <section id="pattern" class="pattern">
         <!-- photo -->
<section id="pattern" class="pattern">
          <ul class="grid">


             <li class="grid__col">
                            <!-- one  block -->
            <article class="news__item post post--video">
              <div class="news__face">
                <div class="news__background" style="background-image:url('http://s2.ufuture.com/img/news/kief_1.jpg')"></div>
              </div>
              <div class="news__content ">

                <a href="#" data-modal-type="video" data-modal-src="//www.youtube.com/embed/OdYm47y4MyQ?autoplay=1" class="post__text u-modal-link" style="display:block; height: 180px; text-decoration: none; font-weight: 700; color:#29262d;">Business Wisdom Summit, 2016 </a>
                <a href="#" data-modal-type="video" data-modal-src="//www.youtube.com/embed/OdYm47y4MyQ?autoplay=1" target="_blank" class="read-more u-modal-link">View
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>

              </div>
            </article>
            <!--end  one  block -->
             </li>



           


          </ul>
        </section>

    </div>
  </div>
</article>