<article class="page__article sc bg-gradient">
  <div class="container">
    <span class="position-top">
      {% include "partials/_follow.html" %}
    </span>
    <div class="container-inner">
     <header>
        <h1 class="sc__heading sc__heading--pb20">Video </h1>
        <ul class="inline-list sc__top-links">
          <li class="inline-list__item">
            <a href="article.html" class="inline-list__link ">ARTICLE </a>
          </li>
          <li class="inline-list__item">
            <a href="founder-press-release.html" class="inline-list__link  ">Press-release</a>
          </li>
          <li class="inline-list__item">
            <a href="founder-photo.html" class="inline-list__link ">Photo</a>
          </li>
          <li class="inline-list__item">
            <a href="founder-video.html" class="inline-list__link active">Video</a>
          </li>
        </ul>
      </header>
      <!--Pattern HTML-->
      <section id="pattern" class="pattern">
      
        <h2 class="media__heading h3">VASYL KHMELNYTSKY</h2>
        <!-- photo -->
<section id="pattern" class="pattern">
          <ul class="grid">

              <li class="grid__col">
                        <article class="news__item post post--video">
                          <div class="news__face">
                            <div class="news__background" style="background-image:url('img/temp/founder/vu-video1.jpg')"></div>
                          </div>
                          <div class="news__content ">

                            <p class="post__text u-modal-link" href="#" data-modal-type="video" data-modal-src="//www.youtube.com/embed/97zhBvSECfg?autoplay=1" target="_blank" style="height: 100px;">Business Wisdom Summit, 2016 </p>
                            <a href="#" data-modal-type="video" data-modal-src="//www.youtube.com/embed/97zhBvSECfg?autoplay=1" target="_blank" class="read-more u-modal-link">View
                              <div class="loading-dot-button ">
                                <div class="loading-dot"></div>
                                <div class="loading-dot"></div>
                                <div class="loading-dot"></div>
                              </div>
                              <span class="angle-white angle--right"></span>
                            </a>

                          </div>
                        </article>
              </a>
             </li>

             <li class="grid__col">
                <article class="news__item post post--video">
              <div class="news__face">
                <div class="news__background" style="background-image:url('img/temp/founder/vu-video3.jpg')"></div>
              </div>
              <div class="news__content">

                <p href="#" data-modal-type="video" data-modal-src="//www.youtube.com/embed/BeMikeDgYK0?autoplay=1" target="_blank" class="post__text u-modal-link" style="height: 100px;">Як ми створювали UNIT.City. Правильне лідерство. Виступ Василя Хмельницького</p>
                <a href="#" data-modal-type="video" data-modal-src="//www.youtube.com/embed/BeMikeDgYK0?autoplay=1" target="_blank" class="read-more u-modal-link">View
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>

                </div>
            </article>
                
             </li>

             <li class="grid__col">
                <article class="news__item post post--video">
                  <div class="news__face">
                    <div class="news__background" style="background-image:url(img/temp/founder/vu-video2.jpg)"></div>
                  </div>
                  <div class="news__content">
                    <p href="#" data-modal-type="video" data-modal-src="//www.youtube.com/embed/A4TQPy35rtk?autoplay=1?autoplay=1" class="post__text u-modal-link" style="height: 100px;">Speech Vasyl Khmelnytsky in business-shcol MIM </p>
                    <a href="#" data-modal-type="video" data-modal-src="//www.youtube.com/embed/A4TQPy35rtk?autoplay=1?autoplay=1" target="_blank"  class="read-more u-modal-link">View
                      <div class="loading-dot-button ">
                        <div class="loading-dot"></div>
                        <div class="loading-dot"></div>
                        <div class="loading-dot"></div>
                      </div>
                      <span class="angle-white angle--right"></span>
                    </a>
                  </div>
                </article>
             </li>

             <li class="grid__col">
                 <article class="news__item post post--video">
              <div class="news__face">
                <div class="news__background" style="background-image:url(img/temp/founder/vu-video4.jpg)"></div>
              </div>
              <div class="news__content">

                <p href="#" data-modal-type="video" data-modal-src="//www.youtube.com/embed/e6hA0QvUbLc?autoplay=1?autoplay=1" target="_blank" class="post__text u-modal-link" style="height: 100px;">Сонячна електростанція в Київській області </p>
                <a href="#" data-modal-type="video" data-modal-src="//www.youtube.com/embed/e6hA0QvUbLc?autoplay=1?autoplay=1" target="_blank"  class="read-more u-modal-link">View
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>

              </div>
            </article>
             </li>

           


          </ul>
        </section>
                <!-- photo -->
           <!-- 
          </li>
          <li class="grid__col">
            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url('img/temp/press-release/lviv2.jpg')"></div>
              </div>
              <div class="news__content">

                <p class="post__text" style="height: 100px;">LvivTech.City </p>
                <a href="img/l_1.jpg" target="_blank" class="read-more">More
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </article>
          </li>
          <li class="grid__col">
            <div class="rect-block">
              <div class="rect-block__content">
                <a href="img/l_1.jpg" target="_blank" class="read-more">More Photo
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </div>
          </li>
        </ul>
-->


       
<!-- end one -->          
<!-- two     
        <h2 class="media__heading">Lviv-Tech.city</h2>
        <ul class="grid media__grid">
          <li class="grid__col">
            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url('img/l_1.jpg')"></div>
              </div>
              <div class="news__content">

                <p class="post__text" style="height: 100px;">LvivTech.City </p>
                <a href="img/l_1.jpg" target="_blank" class="read-more">Переглянути
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </article>
          </li>
          <li class="grid__col">
            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url('img/l_1.jpg')"></div>
              </div>
              <div class="news__content">

                <p class="post__text" style="height: 100px;">LvivTech.City </p>
                <a href="img/l_1.jpg" target="_blank" class="read-more">Переглянути
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </article>
          </li>
          <li class="grid__col">
            <div class="rect-block">
              <div class="rect-block__content">
                <a href="img/l_1.jpg" target="_blank" class="read-more">More Photo
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </section>
end two --> 
    </div>
  </div>
</article>