<main class="sc bg-gradient">
  <div class="container">
    <div class="container-inner">
      <header>
        <h1 class="sc__heading sc__heading--pb20">UDP DEVELOPMENT COMPANY</h1>
        <ul class="inline-list sc__top-links">
          <li class="inline-list__item">
            <a href="news-udp.html" class="inline-list__link active">News</a>
          </li>
          <li class="inline-list__item">
            <a href="press-release-udp.html" class="inline-list__link ">Press-release</a>
          </li>
          <li class="inline-list__item">
            <a href="photo-udp.html" class="inline-list__link">Photo</a>
          </li>
          <li class="inline-list__item">
            <a href="video-udp.html" class="inline-list__link">Video</a>
          </li>
        </ul>
      </header>
      <div class="post-list">
       
       
       

        
      </div>
      <!-- page nav -->
      <div class="page-nav" style="display: none;">
        <span class="page-nav__nlink">
          <button class="no-btn sq" type="button">
            <span class="sq__box sq__rotate90">
              <i class="sq__vcenter">{{mixins.icon('arrow-down')}}</i>
            </span>
          </button>
        </span>
        <ul class="page-nav__list">
          <li class="page-nav__item">
            <a href="#" class="sq page-nav__link" target="_blank">
              <span class="sq__box">
                <i class="sq__vcenter page-nav__num">1</i>
              </span>
            </a>
          </li>
          <li class="page-nav__item">
            <a href="#" class="sq page-nav__link" target="_blank">
              <span class="sq__box">
                <i class="sq__vcenter page-nav__num">2</i>
              </span>
            </a>
          </li>
        </ul>
        <span class="page-nav__nlink">
          <button class="no-btn sq" type="button">
            <span class="sq__box sq__rotate90m">
              <i class="sq__vcenter">{{mixins.icon('arrow-down')}}</i>
            </span>
          </button>
        </span>
      </div>
    <!-- end page nav -->
    </div>
  </div>
</main>