.post-list
  .post
    background: $color_white
    &__image-front
      font-size: 0
    &__image-back
      height: 100%
      width: 100%
      object-fit: cover
      font-family: 'object-fit: cover;'
    &__heading
      margin-bottom: 15px
      .link
        font-size: 20px
        line-height: 20px      
        color: $color_t
    &__content
      position: relative
      padding: 25px 30px
    &__category
      font-weight: bold
      text-transform: uppercase
      text-decoration: none
      color: $color_secondary
    &__text
      font-size: 15px
      line-height: 24px
      margin-bottom: 55px
    &__date
      +r(991)
        font-size: 14px
        display: block
    &__more
      position: absolute
      bottom: 25px
      left: 30px
      width: 100%
    .read-more
      font-size: 18px
      line-height: 27px
  .post--big-image
    +rmin(992)
      .post__heading
        margin-bottom: 10px
        .link
          font-size: 30px
          line-height: 32px      
          color: $color_t
      .post__date
        font-size: 16px
        line-height: 36px

.page-nav
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  margin-top: 60px
  &__list
    display: flex
    align-items: center
    justify-content: center
    margin: 0 40px
  &__link
    color: $color_t
  &__num
    font-size: 15px
    font-style: normal
  &__list .sq__box
    border-left-width: 1px
    border-right-width: 1px
  &__item
    &.active .sq__box
      background: #05c3de
      color: $color_white
    &:first-child .sq__box
      border-left-width: 2px
    &:last-child .sq__box
      border-right-width: 2px
  +r(767)
    &__list
      order: -1
      flex-basis: 100%
      margin-bottom: 10px
    &__nlink .sq__box
      border-top-width: 1px
      
.post__meta
  a
    text-transform: uppercase
    text-decoration: none
    color: $color_secondary
    font-weight: 600
    font-size: 14px
