.post
  background: $color_white
  margin-bottom: 30px
  &__content
    padding: 30px
  &__heading
    font-size: 20px
    line-height: 1
  &__meta
    font-size: 14px
    line-height: 1.2
    padding-bottom: 15px

.post--left
  display: flex
  .post__image
    flex: 0 0 58.33333%
    max-width: 58.33333%
  .post__content
    flex: 0 0 41.66667%
    max-width: 41.66667%

.post--single
  .post__content
    padding: 0
  .post__heading
    font-size: 30px
    line-height: 32px
    margin-bottom: 30px
  .post__meta
    font-size: 16px
    margin-bottom: 20px

.sidebar .post
  background: $color_secondary
  .post__heading
    color: $color_t
  .link
    color: $color_t
    +hover
      color: $color_white
  .post__content
    padding: 5px 30px 40px