<article class="page__article sc bg-gradient bg-gradient--h625">
    <div class="container">
      <div class="container-inner">
        <h1 class="sc__heading">Контакти</h1>
        <!--Pattern HTML-->
        <section id="contacts" class="contacts">



                     <div class="tabs">
                        <input id="tab1" type="radio" name="tabs" checked>
                        <label for="tab1" title="Вкладка 1">UA <span class="razdelitel"></span></label>
                     
                        <input id="tab2" type="radio" name="tabs">
                        <label for="tab2" title="Вкладка 2">EU</label>
                     

                        <section id="content-tab1">
                        <p> <span class="content-title-contacts" > UFUTURE INVESTMENT GROUP BVBA</span></p>

                        <p>Україна, 01014, Київ <br>
                        вул. Болсуновська, 13-15, IQ бізнес-центр<br>
                        Teл.: +32 2 736 72 13  |  Факс: +32 2 735 16 01</p>

                        <p><a class="link" href="mailto:inquiry@ufuture.com">inquiry@ufuture.com</a>  |  <a class="link left-padding" href="ufuture.com "> ufuture.com</a> </p>
                        <p><div  class="map-section" ><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.060952797807!2d30.551283316108382!3d50.42133597947144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf6e072b61a3%3A0x28b8941f826fe32!2sIQ+Business+Center!5e0!3m2!1sru!2sru!4v1508395104228" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe></div></p>

                            
                        </section>  
                        <section id="content-tab2">
                        <p><span class="content-title-contacts"">  UFUTURE INVESTMENT GROUP BVBA</span></p>

                        <p>Бельгія, B-1000, Брюссель  <br>
                        проспект де Кортенберг, 168  <br>
                        Teл./Факс: +38 044 364 38 28</p>

                        <p><a class="link" href="mailto:inquiry@ufuture.com">inquiry@ufuture.com</a>  |  <a class="link left-padding" href="ufuture.com "> ufuture.com</a> </p>
                        <p><div  class="map-section" ><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2519.2080570909325!2d4.389066516120363!3d50.84583137953174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c4a767d8f123%3A0x6b2c3a70a86642f9!2zQXZlbnVlIGRlIENvcnRlbmJlcmdoIDE2OCwgMTAwMCBCcnV4ZWxsZXMsINCR0LXQu9GM0LPQuNGP!5e0!3m2!1sru!2sru!4v1508395674648" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe></p>
                        </section> 


       
                    </div>

               </section>

<script type="text/javascript">
  
</script>

                          <!--  maps 
                          
                            <div id="map"></div>
                         
                                <script>
                                  function initMap() {
                                    var uluru = {lat: -25.363, lng: 131.044};
                                    var map = new google.maps.Map(document.getElementById('map'), {
                                      zoom: 4,
                                      center: uluru
                                    });
                                    var marker = new google.maps.Marker({
                                      position: uluru,
                                      map: map
                                    });
                                  }
                                </script>


                           <style>

                            </style>      
                       end maps -->

      </div>
    </div>
</article>


