        <footer class="about__footer" style="border-top: 1px solid rgba(0,0,0,0.1); padding-top: 20px;">
          <ul class="inline-list">
            <li class="inline-list__item">
              <a href="media.html" class="inline-list__link">News</a>
            </li>
            <li class="inline-list__item">
              <a href="press-release.html" class="inline-list__link">PRESS-RELEASES</a>
            </li>
            <li class="inline-list__item">
              <a href="photo.html" class="inline-list__link">Photo</a>
            </li>
            <li class="inline-list__item">
              <a href="video.html" class="inline-list__link">Video</a>
            </li>

          </ul>
        </footer>