.icon-arrow-down {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-decor {
  width: 1.54em;
  height: 1em;
  fill: #00AAEF;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-logo-small {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 2.47em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
