<main class="sc bg-gradient">
  <div class="container">
    <div class="container-inner">
      <header>
        <h1 class="sc__heading sc__heading--pb20">Новини</h1>
        <ul class="inline-list sc__top-links">
          <li class="inline-list__item">
            <a href="/our-companies.html" class="inline-list__link">Наші компанії</a>
          </li>
          <li class="inline-list__item">
            <a href="/social-projects.html" class="inline-list__link">Соціальні проекти</a>
          </li>
        </ul>
      </header>
      <div class="post-list">
        <article class="post post--big-image">
          <div class="post__image-front">
            <a href="/single-news-001.html">
              <img class="img-responsive b-lazy post__image-back" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="img/Khmelnytsky-cover.jpg" alt="news-image">
            </a>
          </div>
          <div class="post__content">
            <h2 class="post__heading">
              <a href="/single-news-001.html" class="link">Тримай баланс: 4 поради, як уникнути краху компанії</a>
            </h2>
            <div class="post__meta">
              <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">Неділя, 15 Жовтня, 2017</time>
              <a href="#" class="post__category">Bionic University</a>
            </div>
            <p class="post__text">Відомий стратег — про те, чому до успіху потрібно ставитися критично і як мислити масштабніше</p>
            <a href="/single-news-001.html" class="read-more">Читати більше
              <div class="loading-dot-button ">
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
              </div>
              <span class="angle angle--right"></span>
            </a>
          </div>
        </article>
        <article class="post post--left">
          <div class="post__image-front">
            <a href="/single-news-001.html">
              <img class="img-responsive b-lazy post__image-back" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="img/Khmelnytsky-cover.jpg" alt="news-image">
            </a>
          </div>
          <div class="post__content">
            <h2 class="post__heading">
              <a href="/single-news-001.html" class="link">Тримай баланс: 4 поради, як уникнути краху компанії</a>
            </h2>
            <div class="post__meta">
              <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">Неділя, 15 Жовтня, 2017</time>
              <a href="#" class="post__category">Bionic University</a>
            </div>
            <p class="post__text">Відомий стратег — про те, чому до успіху потрібно ставитися критично і як мислити масштабніше</p>
            <a href="/single-news-001.html" class="read-more">Читати більше
              <div class="loading-dot-button ">
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
              </div>
              <span class="angle angle--right"></span>
            </a>
          </div>
        </article>
        <article class="post post--left">
          <div class="post__image-front">
            <a href="/single-news-001.html">
              <img class="img-responsive b-lazy post__image-back" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="img/Khmelnytsky-cover.jpg" alt="news-image">
            </a>
          </div>
          <div class="post__content">
            <h2 class="post__heading">
              <a href="/single-news-001.html" class="link">Тримай баланс: 4 поради, як уникнути краху компанії</a>
            </h2>
            <div class="post__meta">
              <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">Неділя, 15 Жовтня, 2017</time>
              <a href="#" class="post__category">Bionic University</a>
            </div>
            <p class="post__text">Відомий стратег — про те, чому до успіху потрібно ставитися критично і як мислити масштабніше</p>
            <a href="/single-news-001.html" class="read-more">Читати більше
              <div class="loading-dot-button ">
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
              </div>
              <span class="angle angle--right"></span>
            </a>
          </div>
        </article>
        <article class="post post--left">
          <div class="post__image-front">
            <a href="/single-news-001.html">
              <img class="img-responsive b-lazy post__image-back" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="img/Khmelnytsky-cover.jpg" alt="news-image">
            </a>
          </div>
          <div class="post__content">
            <h2 class="post__heading">
              <a href="/single-news-001.html" class="link">Тримай баланс: 4 поради, як уникнути краху компанії</a>
            </h2>
            <div class="post__meta">
              <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">Неділя, 15 Жовтня, 2017</time>
              <a href="#" class="post__category">Bionic University</a>
            </div>
            <p class="post__text">Відомий стратег — про те, чому до успіху потрібно ставитися критично і як мислити масштабніше</p>
            <a href="/single-news-001.html" class="read-more">Читати більше
              <div class="loading-dot-button ">
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
              </div>
              <span class="angle angle--right"></span>
            </a>
          </div>
        </article>
        <article class="post post--left">
          <div class="post__image-front">
            <a href="/single-news-001.html">
              <img class="img-responsive b-lazy post__image-back" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="img/Khmelnytsky-cover.jpg" alt="news-image">
            </a>
          </div>
          <div class="post__content">
            <h2 class="post__heading">
              <a href="/single-news-001.html" class="link">Тримай баланс: 4 поради, як уникнути краху компанії</a>
            </h2>
            <div class="post__meta">
              <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">Неділя, 15 Жовтня, 2017</time>
              <a href="#" class="post__category">Bionic University</a>
            </div>
            <p class="post__text">Відомий стратег — про те, чому до успіху потрібно ставитися критично і як мислити масштабніше</p>
            <a href="/single-news-001.html" class="read-more">Читати більше
              <div class="loading-dot-button ">
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
              </div>
              <span class="angle angle--right"></span>
            </a>
          </div>
        </article>
        <article class="post post--left">
          <div class="post__image-front">
            <a href="/single-news-001.html">
              <img class="img-responsive b-lazy post__image-back" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="img/Khmelnytsky-cover.jpg" alt="news-image">
            </a>
          </div>
          <div class="post__content">
            <h2 class="post__heading">
              <a href="/single-news-001.html" class="link">Тримай баланс: 4 поради, як уникнути краху компанії</a>
            </h2>
            <div class="post__meta">
              <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">Неділя, 15 Жовтня, 2017</time>
              <a href="#" class="post__category">Bionic University</a>
            </div>
            <p class="post__text">Відомий стратег — про те, чому до успіху потрібно ставитися критично і як мислити масштабніше</p>
            <a href="/single-news-001.html" class="read-more">Читати більше
              <div class="loading-dot-button ">
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
              </div>
              <span class="angle angle--right"></span>
            </a>
          </div>
        </article>
      </div>
      <div class="page-nav">
        <span class="page-nav__nlink">
          <button class="no-btn sq" type="button">
            <span class="sq__box sq__rotate90">
              <i class="sq__vcenter">{{mixins.icon('arrow-down')}}</i>
            </span>
          </button>
        </span>
        <ul class="page-nav__list">
          <li class="page-nav__item">
            <a href="#" class="sq page-nav__link" target="_blank">
              <span class="sq__box">
                <i class="sq__vcenter page-nav__num">1</i>
              </span>
            </a>
          </li>
          <li class="page-nav__item">
            <a href="#" class="sq page-nav__link" target="_blank">
              <span class="sq__box">
                <i class="sq__vcenter page-nav__num">2</i>
              </span>
            </a>
          </li>
        </ul>
        <span class="page-nav__nlink">
          <button class="no-btn sq" type="button">
            <span class="sq__box sq__rotate90m">
              <i class="sq__vcenter">{{mixins.icon('arrow-down')}}</i>
            </span>
          </button>
        </span>
      </div>
    </div>
  </div>
</main>