<article class="page__article sc bg-gradient">
  <div class="container">
    <span class="position-top">
      {% include "partials/_follow.html" %}
    </span>
    <div class="container-inner">
      <h1 class="sc__heading sc__heading--pb20">NEWSROOM</h1>
      <ul class="inline-list sc__top-links">
        <li class="inline-list__item">
          <a href="media.html" class="inline-list__link">News</a>
        </li>
        <li class="inline-list__item">
          <a href="press-release.html" class="inline-list__link">Press-release</a>
        </li>
        <li class="inline-list__item">
          <a href="photo.html" class="inline-list__link active">Photo</a>
        </li>
        <li class="inline-list__item">
          <a href="video.html" class="inline-list__link">Video</a>
        </li>
      </ul>
      <!--Pattern HTML-->
      <section id="pattern" class="pattern">
        <!-- 
        <h2 class="media__heading">Lviv-Tech.city</h2>
        <ul class="grid media__grid">
          <li class="grid__col">
            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url('img/temp/press-release/lviv.jpg')"></div>
              </div>
              <div class="news__content">

                <p class="post__text" style="height: 100px;">LvivTech.City </p>
                <a href="img/l_1.jpg" target="_blank" class="read-more">More
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </article>
          </li>
          <li class="grid__col">
            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url('img/temp/press-release/lviv2.jpg')"></div>
              </div>
              <div class="news__content">

                <p class="post__text" style="height: 100px;">LvivTech.City </p>
                <a href="img/l_1.jpg" target="_blank" class="read-more">More
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </article>
          </li>
          <li class="grid__col">
            <div class="rect-block">
              <div class="rect-block__content">
                <a href="img/l_1.jpg" target="_blank" class="read-more">More Photo
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </div>
          </li>
        </ul>
-->


       
<!-- end one -->          
<!-- two     
        <h2 class="media__heading">Lviv-Tech.city</h2>
        <ul class="grid media__grid">
          <li class="grid__col">
            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url('img/l_1.jpg')"></div>
              </div>
              <div class="news__content">

                <p class="post__text" style="height: 100px;">LvivTech.City </p>
                <a href="img/l_1.jpg" target="_blank" class="read-more">Переглянути
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </article>
          </li>
          <li class="grid__col">
            <article class="news__item post">
              <div class="news__face">
                <div class="news__background" style="background-image:url('img/l_1.jpg')"></div>
              </div>
              <div class="news__content">

                <p class="post__text" style="height: 100px;">LvivTech.City </p>
                <a href="img/l_1.jpg" target="_blank" class="read-more">Переглянути
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </article>
          </li>
          <li class="grid__col">
            <div class="rect-block">
              <div class="rect-block__content">
                <a href="img/l_1.jpg" target="_blank" class="read-more">More Photo
                  <div class="loading-dot-button ">
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                    <div class="loading-dot"></div>
                  </div>
                  <span class="angle-white angle--right"></span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </section>
end two --> 
    </div>
  </div>
</article>