.footer
  background: $color_white
  font-size: 15px
  &__location
    font-size: 18px
    font-family: $font_secondary
    font-weight: 700
    color: $color_secondary
    margin-bottom: 20px
  &__mail
    color: $color_t
    text-decoration: none
    font-weight: 700
  &__community
    position: relative
    text-align: right
    +rmin(992)
      display: flex
      flex-direction: column
      justify-content: space-between
  &__s-form
    width: 100%
  &__s-input
    flex: 1
  &__s-btn
    margin-left: 20px
  &__col
    +r(1199)
      margin-top: 30px
  &__nav .nav__link
    +r(1199)
      padding: 2px 0

.text-footer
  text-align: right
  display: block
  text-transform: uppercase
  > span 
    font-size: 13px
      
  .u-follow__line
    width: 20px

.copyright
  background: $color_white
  text-align: center
  text-transform: uppercase
  font-size: 14px
  padding-bottom: 10px