.nav
  font-family: $font_secondary
  font-weight: 700
  font-size: 0
  &__item
    position: relative
    display: inline-block
    text-transform: uppercase
    z-index: 1
    &:last-child .nav__link
      border-right: none
  &__link
    font-size: 18px
    text-decoration: none
    color: $color_t
    border-right: 2px solid $color_secondary
    text-decoration: none
    +r(1199)
      font-size: 16px
    +hover
      color: $color_secondary
  +nav_effect_1
  +r(991)
    display: none

.footer__nav
  font-size: 15px
  .nav__item
    display: block
  .nav__link
    border-right: none
    padding: 0
    
    &:after
      display: none

.m-nav
  &__item
    overflow: hidden
    transform: translateZ(0)
    margin-bottom: 15px
  .menu-open &__link
    +r(991)
      transform: translate(0%,0%)
      transition-delay: .4s, 0s
  &__link
    display: inline-block;
    transform: translate(0%,100%);
    font-size: 40px
    font-family: $font_secondary
    font-weight: 700
    color: $color_secondary
    text-transform: uppercase
    text-decoration: none
    transition: transform .4s cubic-bezier(.19,1,.22,1), -webkit-transform .4s cubic-bezier(.19,1,.22,1)
    transition-delay: 0s
    +hover
      color: $color_white
    +r(991)
      font-size: 24px
      line-height: 1
    