<main class="sc bg-gradient">
  <div class="container">
    <div class="container-inner">
      <header>
        <h1 class="sc__heading sc__heading--pb20">NEWSROOM</h1>
        <ul class="inline-list sc__top-links">
          <li class="inline-list__item">
            <a href="media.html" class="inline-list__link active">News</a>
          </li>
          <li class="inline-list__item">
            <a href="press-release.html" class="inline-list__link ">Press-release</a>
          </li>
          <li class="inline-list__item">
            <a href="photo.html" class="inline-list__link">Photo</a>
          </li>
          <li class="inline-list__item">
            <a href="video.html" class="inline-list__link">Video</a>
          </li>
        </ul>
      </header>
      <div class="post-list">
        <!-- one big news -->
        <article  class="post post--big-image" >
          <div class="post__image-front img-box">
            <<iframe width="100%" height="450" src="https://www.youtube.com/embed/OdYm47y4MyQ" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="post__content">
            <h2 class="post__heading">
              <a href="kiev-international-economic-forum.html" class="link">KIEV INTERNATIONAL ECONOMIC FORUM</a>
            </h2>
            <div class="post__meta">
              <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">18 October, 2017</time>
              <a href="news-kief.html" class="post__category">KIEF</a>
            </div>
            <p class="post__text">K.Fund actively participated in the organization of the Kiev International Economic Forum. This year KIEF gathered more than 1500 businessmen, scientists, politicians from more than 20 countries.</p>
            <a href="kiev-international-economic-forum.html" class="read-more">Read more
              <div class="loading-dot-button ">
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
              </div>
              <span class="angle angle--right"></span>
            </a>
          </div>
        </article>
        <!-- end one big news -->
        <!-- two small news -->
        <article class="post post--left">
          <div class="post__image-front">
            <a  href="steve-wozniak-at-unit-factory.html">
              <img class="img-responsive b-lazy post__image-back" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="http://s2.ufuture.com/img/news/unit_factory_stive.jpg" alt="news-image">
            </a>
          </div>
          <div class="post__content">
            <h2 class="post__heading">
              <a href="steve-wozniak-at-unit-factory.html" class="link">Steve Wozniak at UNIT Factory</a>
            </h2>
            <div class="post__meta">
              <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">12 October, 2017</time>
              <a href="#" class="post__category">UNIT Factory</a>
            </div>
            <p class="post__text">“If I lived in Ukraine,  I would have been studying at UNIT Factory,” said Apple’s founder Steve Wozniak. On September 30, he visited UNIT Factory, where he arranged an excursion, and then – a meeting with students.</p>
            <a href="steve-wozniak-at-unit-factory.html" class="read-more">Read more
              <div class="loading-dot-button ">
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
              </div>
              <span class="angle angle--right"></span>
            </a>
          </div>
        </article>
        <!-- end two small news -->

         <!-- three small news -->
        <article class="post post--left">
          <div class="post__image-front">
            <a  href="k-fund-and-lean-institute-ukraine-to-present-the-book-about-effective-management-at-kief.html">
              <img class="img-responsive b-lazy post__image-back" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="http://s2.ufuture.com/img/news/books_lean.jpg" alt="news-image">
            </a>
          </div>
          <div class="post__content">
            <h2 class="post__heading">
              <a href="k-fund-and-lean-institute-ukraine-to-present-the-book-about-effective-management-at-kief.html" class="link">K.Fund and Lean Institute Ukraine to Present the Book about Effective Management at KIEF</a>
            </h2>
            <div class="post__meta">
              <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">4 October, 2017</time>
              <a href="news-kief.html" class="post__category">KIEF</a>
            </div>
            <p class="post__text">The Work of Management: A Daily Path to Sustainable Improvement by Jim Lancaster was published in the Ukrainian language under the title «Лідерство в стилі LEAN: шлях до постійного вдосконалення вашого бізнесу».</p>
            <a href="k-fund-and-lean-institute-ukraine-to-present-the-book-about-effective-management-at-kief.html" class="read-more">Read more
              <div class="loading-dot-button ">
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
              </div>
              <span class="angle angle--right"></span>
            </a>
          </div>
        </article>
        <!-- end three small news -->
        <!-- four small news -->
        <article class="post post--left">
          <div class="post__image-front">
            <a  href="k-fund-has-launched-the-small-and-medium-entrepreneurship-school-in-kharkiv.html">
              <img class="img-responsive b-lazy post__image-back" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="http://kfund.ua/wp-content/uploads/2017/08/msp.jpg" alt="news-image">
            </a>
          </div>
          <div class="post__content">
            <h2 class="post__heading">
              <a href="k-fund-has-launched-the-small-and-medium-entrepreneurship-school-in-kharkiv.html" class="link">K.FUND HAS LAUNCHED THE SMALL AND MEDIUM ENTREPRENEURSHIP SCHOOL IN KHARKIV</a>
            </h2>
            <div class="post__meta">
              <time class="entry-date published updated post__date" datetime="2017-10-15T09:00:00+00:00">28 August, 2017</time>
              <a href="#" class="post__category">SME</a>
            </div>
            <p class="post__text">The project is intended to stimulate the development of entrepreneurship in the country and is expected to expand in other regions of Ukraine</p>
            <a href="k-fund-has-launched-the-small-and-medium-entrepreneurship-school-in-kharkiv.html" class="read-more">Read more
              <div class="loading-dot-button ">
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
                <div class="loading-dot"></div>
              </div>
              <span class="angle angle--right"></span>
            </a>
          </div>
        </article>
        <!-- end four small news -->
       
       

        
      </div>
      <!-- page nav -->
      <div class="page-nav" style="display: none;">
        <span class="page-nav__nlink">
          <button class="no-btn sq" type="button">
            <span class="sq__box sq__rotate90">
              <i class="sq__vcenter">{{mixins.icon('arrow-down')}}</i>
            </span>
          </button>
        </span>
        <ul class="page-nav__list">
          <li class="page-nav__item">
            <a href="#" class="sq page-nav__link" target="_blank">
              <span class="sq__box">
                <i class="sq__vcenter page-nav__num">1</i>
              </span>
            </a>
          </li>
          <li class="page-nav__item">
            <a href="#" class="sq page-nav__link" target="_blank">
              <span class="sq__box">
                <i class="sq__vcenter page-nav__num">2</i>
              </span>
            </a>
          </li>
        </ul>
        <span class="page-nav__nlink">
          <button class="no-btn sq" type="button">
            <span class="sq__box sq__rotate90m">
              <i class="sq__vcenter">{{mixins.icon('arrow-down')}}</i>
            </span>
          </button>
        </span>
      </div>
    <!-- end page nav -->
    </div>
  </div>
</main>